{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Billing' %}{% endblock %}

{% block script %}
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
    -->
    <script src="{% static 'js/review.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3 id="id_sidebar_header" class="pointer_show p-1">{% trans 'Review' %}</h3>
        </div>
        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Period' %}:</h6>
            <input id="id_SBR_select_period"
                type="text"
                class="tw_200 border_none pointer_show px-2"
                readonly>
        </div>

        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 id="id_label_sidebar_select_orderXX" class="tw_200 line_height_normal px-2">{% trans 'Customer and order' %}:</h6>
            <input id="id_SBR_select_order"
                type="text"
                class="tw_200 border_none pointer_show px-2"
                readonly>
        </div>
        <div class="tw_200 m-2">
            <h6 id="id_SBR_select_showall" class="tw_200 pointer_show line_height_normal px-2 py-1">{% trans 'Show all from this period' %}</h6>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

<!-- MODAL -->
{% block modal %}

{% endblock %}
<!-- END MODAL -->

{% block content %}
    {% if user.is_authenticated %}

<!-- =================== id_msgbox  =================== -->
        <div class="popup display_hide" >
            <span class="popuptext" id="id_msgbox"></span>
        </div>
<!-- =================== MODAL PERIOD  =================== -->
        {% include 'includes/modselectperiod.html' %}
<!-- =================== MODAL SELECT ORDER  ===================-->
        {% include 'includes/modselectorder.html' %}
<!-- =================== MODAL SELECT EMPLOYEE  ===================-->
        {% include 'includes/modselectemployee.html' %}
<!-- =================== CONTAINER =================== -->
        <div class="containerXX">

<!-- CONTENT HEADER - LOADER -->
            <div class="tsa_margin_top_48 mx-4">
            <!-- content_header -->
                <div class="content_header ">
                <!-- header_text -->
                    <div class="content_subheader_left ml-4">
                        <h5 id="id_hdr_text"></h5>
                    </div>
            <!-- loader -->
                    <div class="content_header_middle ">
                        <div id="id_loader" class="image_container visibility_hide">
                            <img src="{% static 'img/loader.gif' %}" class="icon_24">
                        </div>
                    </div>
                </div>
            <!-- end content_header -->
                <!-- BUTTON GROUP -->
                <div id="id_btn_container" class="btn-group btn-block mx-2 my-2" role="group" aria-label="Choose option" >
                    <button data-btn="billing" class="btn btn-secondary ">{% trans 'Billing overview' %}</button>
                </div>
    <!-- end BUTTON GROUP -->
            </div>
<!-- end CONTENT HEADER - LOADER -->

<!-- CONTENT BODY -->
            <div class="content_body mx-2">

<!-- =================== DATA TABLE  =================== -->
                <table id="id_tbl_items" class="table tsa_tbl mx-2X my-1">
                    <thead id="id_thead_datatable"></thead>
                    <tbody id="id_tbody_datatable"></tbody>
                </table>
<!-- =================== END DATA TABLE  =================== -->
            </div>
<!-- END CONTENT BODY -->
        </div>
<!-- =================== END CONTAINER =================== -->


        <div id="id_data"
            data-datalist_download_url="{% url 'datalist_download_url' %}"

            data-imgsrc_inactive_black = "{% static 'img/inactive_black.png' %}"
            data-imgsrc_inactive_grey = "{% static 'img/inactive_grey.png' %}"
            data-imgsrc_delete="{% static 'img/delete.gif' %}"
            data-imgsrc_warning="{% static 'img/warning.gif' %}"
            data-imgsrc_questionmark="{% static 'img/questionmark.gif' %}"
            data-imgsrc_stat00="{% static 'img/stat00.png' %}"
            data-imgsrc_stat01="{% static 'img/stat01.png' %}"
            data-imgsrc_stat02="{% static 'img/stat02.png' %}"
            data-imgsrc_stat03="{% static 'img/stat03.png' %}"
            data-imgsrc_stat04="{% static 'img/stat04.png' %}"
            data-imgsrc_stat05="{% static 'img/stat05.png' %}"
            data-imgsrc_bill00="{% static 'img/bill00.png' %}"
            data-imgsrc_bill01="{% static 'img/bill01.png' %}"
            data-imgsrc_bill01_lightgrey="{% static 'img/bill01_lightgrey.png' %}"
            data-imgsrc_bill01_lightlightgrey="{% static 'img/bill01_lightlightgrey.png' %}"
            data-imgsrc_bill03="{% static 'img/bill03.png' %}"
        >
        </div>

    {% else %}
        <div class="alert alert-danger">{% trans 'Error' %}</div>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
    {% endif %}
{% endblock %}