{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Review' %}{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
    <script src="{% static 'js/review.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Review' %}</h3>
        </div>
        <div class="td_width_200 mx-2 mt-2 mb-5">
            <h6 class="td_width_200 line_height_normal px-2">{% trans 'Select period' %}:</h6>
            <input id="id_flt_period"
                type="text"
                class="td_width_200 border_none pointer_show px-2"
                autocomplete="off"
                placeholder="{% trans 'Period' %}":
                readonly>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

<!-- MODAL -->
{% block modal %}

{% endblock %}
<!-- END MODAL -->

{% block content %}
    {% if user.is_authenticated %}

<!-- =================== MODAL PERIOD  =================== -->
        {% include 'includes/modperiod.html' %}

        <div class="popup display_hide" >
            <span class="popuptext" id="id_msgbox"></span>
        </div>
    <h1 class="mt-4"></h1>

    <div class="image_container">
        <img id="id_loader" src="{% static 'img/loader.gif' %}" height="24" width="24" class="cls_visible_hide" >
    </div>



        <div class="content_body mx-2">
            <div class="popup-container">

<!-- =================== DATA TABLE  =================== -->
                <table id="id_tbl_items" class="table tsa-tbl mx-4 my-1">
                    <thead id="id_thead_items" class="thead-inverse"></thead>
                    <tbody id="id_tbody_items"></tbody>
                </table>
<!-- =================== END DATA TABLE  =================== -->
            </div>

        </div>


        <datalist id="id_datalist_orders"></datalist>
        <datalist id="id_datalist_shifts"></datalist>

        <div id="id_data"
            data-datalist_download_url="{% url 'datalist_download_url' %}"

            data-imgsrc_inactive_black = "{% static 'img/inactive_black.png' %}"
            data-imgsrc_active = "{% static 'img/inactive_grey.png' %}"
            data-imgsrc_delete="{% static 'img/delete.gif' %}"
            data-imgsrc_warning="{% static 'img/warning.gif' %}"
            data-imgsrc_questionmark="{% static 'img/questionmark.gif' %}"
            data-imgsrc_stat00="{% static 'img/stat00.png' %}"
            data-imgsrc_stat01="{% static 'img/stat01.png' %}"
            data-imgsrc_stat02="{% static 'img/stat02.png' %}"
            data-imgsrc_stat03="{% static 'img/stat03.png' %}"
            data-imgsrc_stat04="{% static 'img/stat04.png' %}"
            data-imgsrc_stat05="{% static 'img/stat05.png' %}"

            data-lang ="{{ lang }}"
            data-weekdays ="{{ weekdays }}"
            data-months ="{{ months }}"

            data-txt_date= "{% trans 'Date' %}"
            data-txt_orderemployee= "{% trans 'Order / Employee' %}"
            data-txt_shift= "{% trans 'Shift' %}"
            data-txt_workedhours = "{% trans 'Worked hours' %}"
            data-txt_billedhours = "{% trans 'Billed hours' %}"
            data-txt_difference= "{% trans 'Difference' %}"
            data-txt_rate= "{% trans 'Rate' %}"
            data-txt_amount= "{% trans 'Amount' %}"

        >
        </div>

    {% else %}
        <div class="alert alert-danger">{% trans 'Error' %}</div>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
    {% endif %}
{% endblock %}