{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Roster' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/roster210417.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Roster' %}</h3>
        </div>
        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Period' %}:</h6>
            <input id="id_SBR_select_period"
                type="text"
                class="tw_200 border_none pointer_show px-2"
                readonly>
        </div>

        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Customer and order' %}:</h6>
            <input id="id_SBR_select_order"
                type="text"
                class="tw_200 border_none pointer_show px-2"
                readonly>
        </div>

        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Shifts' %}:</h6>
           <select id="id_SBR_select_shift"
                class="tw_200 border_none px-2"
                autocomplete="off" ondragstart="return false;" ondrop="return false;"
           ></select>
        </div>

        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Employee' %}:</h6>
            <input id="id_SBR_select_employee"
                type="text"
                class="tw_200 border_none pointer_show px-2"
                readonly>
        </div>

        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Absence' %}:</h6>
           <select id="id_SBR_select_absence"
                class="tw_200 border_none px-2"
                autocomplete="off" ondragstart="return false;" ondrop="return false;"
           ></select>
        </div>


        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Rest shifts' %}:</h6>
           <select id="id_SBR_select_restshift"
                class="tw_200 border_none px-2"
                autocomplete="off" ondragstart="return false;" ondrop="return false;"
           ></select>
        </div>
        <div class="tw_200 m-2">
            <h6 id="id_SBR_select_showall" class="tw_200 pointer_show line_height_normal px-2 py-1">{% trans 'Show all from this period' %}</h6>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    <div class="tsa_margin_top48_left24 mx-4X">

    {% if user.is_authenticated %}
    {% if user.is_perm_supervisor or user.is_perm_planner or user.is_perm_hrman or user.is_perm_accman %}

<!-- =================== id_msgbox  =================== -->
        <div class="popup display_hide" >
            <span class="popuptext" id="id_msgbox"></span>
        </div>

        {% include 'includes/modselectperiod.html' %}
        {% include 'includes/modselectcustomerorder.html' %}
        {% include 'includes/modselectemployee.html' %}
        {% include 'includes/modselectshift.html' %}

        {% include 'includes/modrosterdate.html' %}
        {% include 'includes/modrosterorder.html' %}
        {% include 'includes/modrosteremployee.html' %}
        {% include 'includes/modtimepicker.html' %}

        {% include 'includes/modnote.html' %}
        {% include 'includes/modemplhourallowance.html' %}
        {% include 'includes/modselectallowance.html' %}

        {% include 'includes/modstatus.html' %}
        {% include 'includes/confirm.html' %}
        {% include 'includes/modmessage.html' %}

<!-- =================== CONTAINER =================== -->
        <div class="containerXX">

<!-- CONTENT HEADER - LOADER -->
            <div class="tsa_margin_top_48 mr-4X">
            <!-- content_header -->
                <div class="content_header">
                <!-- header_text -->
                    <div class="content_subheader_left mx-4">
                        <h5 id="id_hdr_period"></h5>
                    </div>
            <!-- loader -->
                    <div class="content_header_middle ">
                        {% include 'includes/loader.html' %}
                    </div>
                </div>


            <!-- end content_header -->
            </div>
<!-- end CONTENT HEADER - LOADER -->

<!-- CONTENT BODY -->
            <div class="content_body mr-4">

<!-- =================== DATA TABLE  =================== -->
                 <div>
                    <table class="table tsa_tbl mx-4X my-1">
                        <thead id="id_tblHead_datatable"></thead>
                        <tbody id="id_tblBody_datatable"></tbody>
                    </table>
                </div>
  <!-- =================== END DATA TABLE  =================== -->
            </div>
<!-- END CONTENT BODY -->
        </div>
<!-- =================== END CONTAINER =================== -->

        <div id="id_data"
            data-datalist_download_url="{% url 'datalist_download_url' %}"
            data-emplhour_download_url="{% url 'emplhour_download_url' %}"
            data-emplhour_upload_url="{% url 'emplhour_upload_url' %}"
            data-emplhournote_upload_url="{% url 'emplhournote_upload_url' %}"
            data-employeenote_upload_url="{% url 'employeenote_upload_url' %}"
            data-ordernote_upload_url="{% url 'ordernote_upload_url' %}"
            data-emplhourallowance_upload_url="{% url 'emplhourallowance_upload_url' %}"
            data-emplhour_fill_rosterdate_url="{% url 'emplhour_fill_rosterdate_url' %}"
            data-settings_upload_url="{% url 'settings_upload_url' %}"
            data-imgsrc_delete="{% static 'img/delete.gif' %}"
            data-imgsrc_deletered="{% static 'img/deletered.gif' %}"
            data-imgsrc_warning="{% static 'img/warning.gif' %}"
        >
        </div>

    {% else %}
        <div class="mx-4">
            <div class="alert alert-danger">{% trans "You don't have permission to view this page." %}</div>
        </div>
    {% endif %}
    {% else %}
        <div class="mx-4">
            <div class="alert alert-danger">{% trans "You must be logged in to view this page." %}</div>
        </div>
    {% endif %}
    </div>
{% endblock %}