{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Roster' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/roster.js' %}"></script>
    <script src="{% static 'js/modtimepicker.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Roster' %}</h3>
        </div>
        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Period' %}:</h6>
            <input id="id_SBR_select_period"
                type="text"
                class="tw_200 border_none pointer_show px-2"
                readonly>
        </div>

        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Customer and order' %}:</h6>
            <input id="id_SBR_select_order"
                type="text"
                class="tw_200 border_none pointer_show px-2"
                readonly>
        </div>

        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Shifts' %}:</h6>
           <select id="id_SBR_select_shift"
                type="text"
                class="tw_200 border_none px-2"
                autocomplete="off" ondragstart="return false;" ondrop="return false;"
           ></select>
        </div>

        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Employee' %}:</h6>
            <input id="id_SBR_select_employee"
                type="text"
                class="tw_200 border_none pointer_show px-2"
                readonly>
        </div>

        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Absence' %}:</h6>
           <select id="id_SBR_select_absence"
                type="text"
                class="tw_200 border_none px-2"
                autocomplete="off" ondragstart="return false;" ondrop="return false;"
           ></select>
        </div>


        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Rest shifts' %}:</h6>
           <select id="id_SBR_select_restshift"
                type="text"
                class="tw_200 border_none px-2"
                autocomplete="off" ondragstart="return false;" ondrop="return false;"
           ></select>
        </div>
        <div class="tw_200 m-2">
            <h6 id="id_SBR_select_showall" class="tw_200 pointer_show line_height_normal px-2 py-1">{% trans 'Show all from this period' %}</h6>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    <div class="tsa_margin_top48_left24 mx-4">

    {% if user.is_authenticated %}
    {% if user.is_perm_planner or user.is_perm_supervisor %}

<!-- =================== id_msgbox  =================== -->
        <div class="popup display_hide" >
            <span class="popuptext" id="id_msgbox"></span>
        </div>
<!-- =================== POPUP DATE  ===================
         <div id="id_popup_date_container" class="popup_box display_hide">
             <input id="id_popup_date" type="date" class="tsa_transparent mx-4 my-1" ></input>
         </div>
-->
<!-- =================== MODAL STATUS  =================== -->
        <div class="modal " id="id_mod_status" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md " role="document">
                <div class="modal-content">

                    <div class="modal-header tsa_bc_lightlightgrey">
                        <h4 id="id_mod_status_header" class="modal-title mx-2" >{% trans 'Status' %}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div  id="id_mod_status_body" class="modal-body">
                        <div class="modal_container">
                            <div class="modal_body_left">
                                <h6 class="modal-title mx-2" >{% trans 'Order' %}:</h6>
                            </div>
                            <div class="modal_body_right">
                                <h6 id="id_mod_status_order" class="modal-title mx-2" ></h6>
                            </div>
                        </div>
                        <div class="modal_container">
                            <div class="modal_body_left">
                                <h6 class="modal-title mx-2" >{% trans 'Employee' %}:</h6>
                            </div>
                            <div class="modal_body_right">
                                <h6 id="id_mod_status_employee" class="modal-title mx-2" ></h6>
                            </div>
                        </div>
                        <div class="modal_container">
                            <div class="modal_body_left">
                                <h6 class="modal-title mx-2" >{% trans 'Shift' %}:</h6>
                            </div>
                            <div class="modal_body_right">
                                <h6 id="id_mod_status_shift" class="modal-title mx-2" ></h6>
                            </div>
                        </div>
                         <div class="modal_container">
                            <div class="modal_body_left">
                                <div class="form-group">
                               <label id="id_mod_status_time_label" for="id_mod_status_time" class="mx-2 mt-4"></label>
                                <input id="id_mod_status_time" type="text"
                                       autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                                    </div>
                                </div>
                            </div>

                        <div class="modal_container">
                            <div class="modal_body_left">
                                <div class="form-group">
                                    <label for="id_mod_status_note" class="mx-2 my-2">{% trans 'Notes' %}:</label>
                                    <input id="id_mod_status_note"
                                        type="textarea"
                                        autocomplete="off"
                                        ondragstart="return false;"
                                        ondrop="return false;"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="modal_container">
                            <h6 id="id_mod_status_ftr_msg" class="modal-title mx-2"></h6>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button id="id_mod_status_btn_save" type="button" class="btn btn-primary">{% trans 'Confirm' %}</button>
                    </div>

                </div>
            </div>
        </div>
<!-- =================== MODAL CONFIRM  =================== -->
        {% include 'includes/confirm.html' %}
<!-- =================== MODAL PERIOD  =================== -->
        {% include 'includes/modselectperiod.html' %}
<!-- =================== MODAL TIMEPICKER  =================== -->
        {% include 'includes/modtimepicker.html' %}
<!-- =================== MODAL ROSTERDATE  =================== -->
        {% include 'includes/modrosterdate.html' %}
<!-- =================== MODAL ROSTER ORDER  =================== -->
        {% include 'includes/modrosterorder.html' %}
<!-- =================== MODAL SELECT ORDER  ===================-->
        {% include 'includes/modselectorder.html' %}
<!-- =================== MODAL SELECT EMPLOYEE  ===================-->
        {% include 'includes/modselectemployee.html' %}
<!-- =================== MODAL SELECT SHIFT  ===================-->
        {% include 'includes/modselectshift.html' %}
<!-- =================== MODAL ROSTER EMPLOYEE  =================== -->
        {% include 'includes/modrosteremployee.html' %}

<!-- =================== CONTAINER =================== -->
        <div class="containerXX">

<!-- CONTENT HEADER - LOADER -->
            <div class="tsa_margin_top_48 mx-4">
            <!-- content_header -->
                <div class="content_header ">
                <!-- header_text -->
                    <div class="content_subheader_left mx-4">
                        <h5 id="id_hdr_period"></h5>
                    </div>
            <!-- loader -->
                    <div class="content_header_middle ">
                        <div id="id_loader" class="image_container visibility_hide">
                            <img src="{% static 'img/loader.gif' %}" height="24" width="24">
                        </div>
                    </div>
                </div>
            <!-- end content_header -->
            </div>
<!-- end CONTENT HEADER - LOADER -->

<!-- CONTENT BODY -->
            <div class="content_body mx-4">

<!-- =================== DATA TABLE  =================== -->
                 <div>
                    <table class="table tsa_tbl mx-4X my-1">
                        <thead id="id_tblHead_datatable"></thead>
                        <tbody id="id_tblBody_datatable"></tbody>
                    </table>
                </div>
  <!-- =================== END DATA TABLE  =================== -->
            </div>
<!-- END CONTENT BODY -->
        </div>
<!-- =================== END CONTAINER =================== -->

        <div id="id_data"
            data-datalist_download_url="{% url 'datalist_download_url' %}"
            data-emplhour_download_url="{% url 'emplhour_download_url' %}"
            data-emplhour_upload_url="{% url 'emplhour_upload_url' %}"
            data-emplhour_fill_rosterdate_url="{% url 'emplhour_fill_rosterdate_url' %}"
            data-settings_upload_url="{% url 'settings_upload_url' %}"
            data-imgsrc_delete="{% static 'img/delete.gif' %}"
            data-imgsrc_deletered="{% static 'img/deletered.gif' %}"

        >
        </div>

    {% else %}
        <div class="mx-4">
            <div class="alert alert-danger">{% trans "You don't have permission to view this page." %}</div>
        </div>
    {% endif %}
    {% else %}
        <div class="mx-4">
            <div class="alert alert-danger">{% trans "You must be logged in to view this page." %}</div>
        </div>
    {% endif %}
    </div>
{% endblock %}