{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block stylesheet %}
   <!-- <link rel="stylesheet" href="{% static 'css/dateselector.css' %}">-->
{% endblock %}

{% block script %}
    <script src="{% static 'js/roster.js' %}"></script>
{% endblock %}

  <!-- Modal -->
{% block modal %}
    <div class="container">
        <div class="modal fade" id="id_modal_cont" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
              <div class="modal-content">

                <div id="id_mod_div_header" class="modal-header">
                  <h4 id="id_mod_header" class="modal-title mx-2" >{% trans 'Add scheme' %}</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-header">

                  <div class="content_header">
                        <input id="id_mod_checkbox" type="checkbox">
                        <label for="id_mod_checkbox" class="mx-4">{% trans 'or copy existing scheme' %}</label>
                  </div>
                </div>
                <div class="modal-body">

                  <div id="id_div_mod_flex" class="mod_flex">
                    <div class="form-group">
                        <label for="id_mod_scheme" class="mx-2">{% trans 'Scheme name' %}:</label>
                        <input id="id_mod_scheme" type="text" class="form-control">
                    </div>

                    <div class="content_header">
                        <div class="content_subheader_left">
                            <label for="id_mod_cycle" >{% trans 'Cycle length' %}</label>
                            <input id="id_mod_cycle" type="number" min="1" max="366" style="width:95%;margin:4px;" placeholder="{% trans 'Cycle length' %}...">
                        </div>
                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <div id="id_mod_ftr_msg"></div>
                  <button id="id_mod_btn_cancel" type="button"  class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                  <button id="id_mod_btn_save" type="button" class="btn btn-primary">{% trans 'Save scheme' %}</button>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="popup display_hide" >
            <span class="popuptext" id="id_msgbox"></span>
        </div>

<div class="flex_container">

    <div class="content_subheader_right">

        <div class="content_header">
            <div class="content_subheader_left mx-4 my-1">
                <h6 id="id_hdr_customer">{% trans "Roster date" %}:</h6>

            </div>
            <img id="id_loading_img" src="{% static 'img/loader.gif' %}" height="32" width="32" class="display_hide" >
            <div class="content_subheader_right mx-4 my-1">
                <a id="id_btn_rosterdate_fill" class="btn btn-add">{% trans 'Fill roster date ' %} ...</a>
                <a id="id_btn_rosterdate_remove" class="btn btn-add">{% trans 'Remove roster date' %} ...</a>
            </div>
        </div>

        <div class="content_header">
            <div class="content_subheader_left">
                <input id="id_filter_name"
                type="text"
                class="fieldname pt-0 pb-0"
                placeholder="{% trans 'filter...' %}">
            </div>
        </div>

        <div class="content_body mx-2">

            <div class="popup-container">
  <!-- =================== POPUP WDY  =================== -->
                 <div id="id_popup_wdy" class="popup_box display_hide td_width_220">
                     <div class="popup_header">
                        <label id="id_popup_wdy_header" class="mx-4 my-1" >{% trans 'Roster date' %}</label>
                        <button id="id_popup_wdy_close" type="button" class="close my-1" aria-label="Close">
                            <span class="popup_close" aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="content_header_middle">
                        <input id="id_popup_wdy_rosterdate" class="input_text mx-4 my-1" ></input>
                     </div>
                     <div class="content_header_middle" >
                         <button id="id_popup_wdy_prev_month"  class=" btn btn-add" title="{% trans 'Previous month' %}"><<</button>
                         <button id="id_popup_wdy_prev_day" class="btn btn-add" title="{% trans 'Previous day' %}"><</button>
                         <button id="id_popup_wdy_today" class="btn btn-add" >{% trans 'Today' %}</button>
                         <button id="id_popup_wdy_nextday" class="btn btn-add" title="{% trans 'Next day' %}">></button>
                         <button id="id_popup_wdy_nextmonth" class="btn btn-add" title="{% trans 'Next month' %}">>></button>
                     </div>
                     <div class="content_subheader_right">
                         <button id="id_popup_wdy_save" class="btn btn-add">{% trans 'Save' %}</button>
                     </div>
                 </div>

  <!-- =================== POPUP DHM  =================== -->
                <div id="id_popup_dhm" class="popup_box display_hide td_width_360">
                    <div class="popup-body">
                        <table class="pop_tbl">
                            <thead>
                                <tr>
                                    <td class="td_width_hours">{% trans "Day" %}</td>
                                    <td class="td_width_hours"> {% trans "Hour" %}</td>
                                    <td class="td_width_hours">{% trans "Minutes" %}</td>
                                    <td id="td_label_ampm" class="td_width_hours">{% trans "am/pm" %}</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><select id="id_popup_days" class="td_width_hours"></select></td>
                                    <td><select id="id_popup_hours" class="td_width_hours"></select></td>
                                    <td><select id="id_popup_minutes" class="td_width_hours"></select></td>
                                    <td id="td_input_ampm" class="td_width_hours">
                                        <select id="id_popup_ampm" class="td_width_hours"></select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="content_subheader_right">
                            <button id="id_popup_dhm_save" class="btn btn-add">{% trans 'Save' %}</button>
                        </div>
                    </div>
                </div>

  <!-- =================== POPUP HM  =================== -->
                <div id="id_popup_hm" class="popup_box display_hide td_width_240">
                    <div class="popup-body">
                        <table class="pop_tbl">
                            <thead>
                                <tr>
                                    <td class="td_width_hours"> {% trans "Hour" %}</td>
                                    <td class="td_width_hours">{% trans "Minutes" %}</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><select id="id_popup_hm_hours" class="td_width_hours"></select></td>
                                    <td><select id="id_popup_hm_minutes" class="td_width_hours"></select></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="content_subheader_right">
                            <button id="id_popup_hm_save" class="btn btn-add">{% trans 'Save' %}</button>
                        </div>
                    </div>
                </div>
  <!-- =================== END POPUP  =================== -->

                <table class="table table-condensed tsa-tbl ">
                    <thead id="id_thead_items" class="thead-inverse"></thead>
                    <tbody id="id_tbody_items"></tbody>
                </table>
            </div>

        </div>

        <div class="content_header">
            <div class="content_subheader_right">

            </div>
            <div class="content_subheader_right">
            </div>

        </div>
    </div>
</div>



        <div id="id_data"
            data-imgsrc_inactive = "{% static 'img/inactive_black.png' %}"
            data-imgsrc_active = "{% static 'img/inactive_grey.png' %}"
            data-imgsrc_delete="{% static 'img/delete.gif' %}"
            data-imgsrc_warning="{% static 'img/warning.gif' %}"
            data-imgsrc_stat04="{% static 'img/stat04.png' %}"

            data-lang ="{{ lang }}"
            data-interval ="{{ interval }}"
            data-timeformat ="{{ timeformat }}"
            data-weekdays ="{{ weekdays }}"
            data-months ="{{ months }}"
            data-today ="{{ today }}"

            data-datalist_download_url="{% url 'datalist_download_url' %}"
            data-scheme_upload_url="{% url 'scheme_upload_url' %}"
            data-schemeitem_upload_url= "{% url 'schemeitem_upload_url' %}"
            data-schemeitem_fill_url= "{% url 'schemeitem_fill_url' %}"
            data-schemeitems_download_url= "{% url 'schemeitems_download_url' %}"
            data-schemeorteam_upload_url="{% url 'schemeorteam_upload_url' %}"
            data-emplhour_fill_rosterdate_url="{% url 'emplhour_fill_rosterdate_url' %}"

            data-err_msg01= "{% trans 'An error occurred.' %}"

            data-txt_customer = "{% trans 'Customer' %}"
            data-txt_select_customer= "{% trans 'Select customer' %}"
            data-txt_select_customer_none= "{% trans 'No customers' %}"
            data-txt_order= "{% trans 'Order' %}"
            data-txt_select_order= "{% trans 'Select order' %}"
            data-txt_select_order_none= "{% trans 'No orders' %}"
            data-txt_select_scheme= "{% trans 'Select scheme' %}"
            data-txt_select_scheme_none= "{% trans 'No schemes' %}"

            data-txt_date= "{% trans 'Date' %}"
            data-txt_scheme= "{% trans 'Scheme' %}"
            data-txt_scheme_add= "{% trans 'Add new scheme' %}"
            data-txt_cycle_once= "{% trans 'Once only' %}"

            data-txt_rosterdate= "{% trans 'Rosterdate' %}"
            data-txt_rosterdate_fill = "{% trans 'Fill roster of' %}"
            data-txt_rosterdate_remove = "{% trans 'Remove roster of' %}"
            data-txt_of = "{% trans 'of' %}"
            data-txt_shift= "{% trans 'Shift' %}"
            data-txt_shift_add= "{% trans 'Enter shift' %}"
            data-txt_shift_delete= "{% trans 'Delete shift' %}"
            data-txt_show_shifts= "{% trans 'Go to shifts' %}"

            data-txt_team= "{% trans 'Team' %}"
            data-txt_teams= "{% trans 'Teams' %}"
            data-txt_team_add= "{% trans 'Add new team' %}"
            data-txt_team_delete= "{% trans 'Delete team' %}"
            data-txt_show_teams= "{% trans 'Go to teams' %}"

            data-txt_timestart= "{% trans 'Start time' %}"
            data-txt_timeend= "{% trans 'End time' %}"
            data-txt_breakhours= "{% trans 'Break hours' %}"
            data-txt_workinghours= "{% trans 'Working hours' %}"

            data-txt_employee= "{% trans 'Employee' %}"
            data-txt_replaces= "{% trans 'Replaces' %}"
            data-txt_datefirst= "{% trans 'Start date' %}"
            data-txt_datelast= "{% trans 'End date' %}"

            data-txt_employee_add= "{% trans 'Enter employee' %}"
            data-msg_confirm_del1= "{% trans 'Do you want to delete the shift of' %}"
            data-msg_confirm_del2= "{% trans 'Do you want to delete this shift?' %}"
        >
        </div>

        <datalist id="id_datalist_customers"></datalist>
        <datalist id="id_datalist_orders"></datalist>
        <datalist id="id_datalist_shifts"></datalist>
        <datalist id="id_datalist_teams"></datalist>
        <datalist id="id_datalist_employees"></datalist>

    {% else %}
        <div class="alert alert-danger">{% trans 'Error' %}</div>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
    {% endif %}
{% endblock %}