{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Planning' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/schemes.js' %}"></script>
    <script src="{% static 'js/timepicker.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Planning' %}</h3>
        </div>

        <div class="td_width_200 mx-2 my-2">
            <div id="id_select_customerorder_div" >
                 <h6 class="td_width_200 line_height_normal px-2">{% trans 'Select customer' %}</h6>
                 <h6>
                    <select id="id_select_customer" class="td_width_200 px-2" ></select>
                    <option value="" disabled selected hidden>{% trans 'Select customer' %}...</option>
                </h6>
                <h6 class="td_width_200 line_height_normal px-2">{% trans 'Select order' %}</h6>
                <h6>
                    <select id="id_select_order" class="td_width_200 px-2"></select>
                </h6>
            </div>
            <div id="id_select_template_div" class="display_hide mx-2 my-2">
                <h4 class="mx-2 my-2">{% trans 'Templates' %}</h4>
            </div>

            <table id="id_select_table_scheme" class="display_hide mt-4">
                <thead id="id_select_thead_scheme" class="tsa_color_white m-1"></thead>
                <tbody id="id_select_tbody_scheme"></tbody>
                <tfoot id="id_select_tfoot_scheme"></tfoot>
            </table>

             <table id="id_select_table_shift" class="display_hide mt-4">
                <thead id="id_select_thead_shift" class="tsa_color_white m-1"></thead>
                <tbody id="id_select_tbody_shift"></tbody>
                <tfoot id="id_select_tfoot_shift"></tfoot>
            </table>

            <table id="id_select_table_team" class="display_hide mt-4 mb-5">
                <thead id="id_select_thead_team"class="tsa_color_white m-1"></thead>
                <tbody id="id_select_tbody_team"></tbody>
                <tfoot id="id_select_tfoot_team"></tfoot>
            </table>


        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

<!-- MODAL -->
{% block modal %}
<!-- =================== MODAL SCHEME  =================== -->
    <div class="modal fade" id="id_mod_scheme" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md " role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_mod_scheme_header" class="modal-title mx-2" >{% trans 'Add new scheme' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div  id="id_mod_scheme_body" class="modal-body">
                    <div class="modal_container">

<!-- modal_body_left contains template select table -->
                        <div class="modal_body_left">
                            <div class="mod_flex mx-2 my-2">

                                <div class="form-group">
                                    <label for="id_mod_scheme_customer" class="mx-2 my-2">{% trans 'Customer' %}:</label>
                                    <select id="id_mod_scheme_customer" class="form-control"></select>
                                    <small id="id_mod_scheme_customer_err" class="color_invalid mx-2 display_hide"></small>
                                </div>
                                <div class="form-group">
                                    <label for="id_mod_scheme_order" class="mx-2 my-2">{% trans 'Order' %}:</label>
                                    <select id="id_mod_scheme_order" class="form-control"></select>
                                    <small id="id_mod_scheme_order_err" class="color_invalid mx-2 display_hide"></small>
                                </div>
                                <div class="form-group">
                                    <label for="id_mod_scheme_code" class="mx-2 my-2">{% trans 'Scheme' %}:</label>
                                    <input id="id_mod_scheme_code" type="text"
                                        autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                        class="form-control"
                                        placeholder="{% trans 'Enter scheme name...' %}"
                                    >
                                    <small id="id_mod_scheme_code_err" class="color_invalid mx-2 display_hide"></small>
                                </div>

                                <div class="form-group">
                                    <label for="id_mod_scheme_cycle" class="mx-2 my-2">{% trans 'Cycle days' %}:</label>
                                    <input id="id_mod_scheme_cycle" type="number" value="7" min="0" max="366"
                                        autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                        class="form-control">
                                    <div><small class="mx-2">{% trans 'Enter the length of the cycle in days, enter zero for once-only.' %}</small></div>
                                    <div><small id="id_mod_scheme_cycle_err" class="color_invalid mx-2 display_hide"></small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <div id="id_mod_scheme_msg" class="mod_flex modal_body_left tsa_color_red mx-2"></div>
                    <div>
                        <button type="button"  class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_mod_scheme_btn_save" type="button" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
<!-- =================== END MODAL SCHEME =================== -->
<!-- =================== MODAL COPYFROM TEMPLATE  =================== -->
    <div class="modal fade" id="id_mod_copyfrom" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_mod_copyfrom_header" class="modal-title mx-2" >{% trans 'Copy from template' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div  id="id_mod_copyfrom_body" class="modal-body">
                    <div class="modal_container">

<!-- modal_body_left contains template select table -->
                        <div class="modal_body_left m-2">
                                <div>
                                    <h5>{% trans 'Select template' %}:</h5>
                                </div>
<!--
                                <div >
                                    <input id="id_mod_copyfrom_filter_template" type="text"
                                    class="fieldname pt-0 pb-0" colspan=2 autocomplete="off"
                                    placeholder="{% trans 'filter name...' %}"
                                    >
                                </div>
                                -->
                                <div  class="td_width_200 td_height_240"> <!-- this div is necessary to get standard structure for FilterTableRows -->
                                    <table class="table table-condensed tsa-tbl my-1">
                                        <tbody id="id_mod_copyfrom_tblbody" data-table="scheme">
                                        </tbody>
                                    </table>
                                </div>

                        </div>

                        <div class="modal_body_left m-2">
                            <h5 class="mx-2" >{% trans 'Copy to scheme' %}:</h5>
                                <div>
                                    <label for="id_mod_copyfrom_customer" class="mx-2 my-2">{% trans 'Customer' %}:</label>
                                    <select id="id_mod_copyfrom_customer" class="form-control"></select>
                                    <small id="id_mod_copyfrom_customer_err" class="color_invalid mx-2 display_hide"></small>
                                </div>
                                <div>
                                    <label for="id_mod_copyfrom_order" class="mx-2 my-2">{% trans 'Order' %}:</label>
                                    <select id="id_mod_copyfrom_order" class="form-control"></select>
                                    <small id="id_mod_copyfrom_order_err" class="color_invalid mx-2 display_hide"></small>
                                </div>

                                <div>
                                    <label for="id_mod_copyfrom_code" class="mx-2 my-2">{% trans 'Scheme name' %}:</label>
                                    <input id="id_mod_copyfrom_code" type="text"
                                        autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                        class="form-control">
                                    <small id="id_mod_copyfrom_code_err" class="color_invalid mx-2"></small>
                                </div>
                                <!--
                                <div>

                                    <label for="id_mod_scheme_cycle" class="mx-2 my-2">{% trans 'Start date of cycle' %}:</label>
                                    <input id="id_mod_copyfrom_datestart" type="date"
                                        autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                        class="form-control">
                                    <div><small id="id_mod_copyfrom_datestart_err" class="color_invalid mx-2 display_hide"></small></div>
                                </div>
                                -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button id="id_mod_copyfrom_btn_save" type="button" class="btn btn-primary">{% trans 'Copy' %}</button>
                </div>

            </div>
        </div>
    </div>
<!-- =================== MODAL COPY TO TEMPLATE  =================== -->
    <div class="modal fade" id="id_mod_copyto" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md " role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_mod_copyto_header" class="modal-title mx-2" >{% trans 'Copy scheme to template' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-2 my-">
                    <div class="form-group">
                        <label for="id_mod_copyto_code" class="mx-2 my-2">{% trans 'Template name' %}:</label>
                        <input id="id_mod_copyto_code" type="text"
                            autocomplete="off" ondragstart="return false;" ondrop="return false;"
                            class="form-control">
                        <small id="id_mod_copyto_code_err" class="color_invalid mx-2 display_hide"></small>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="id_mod_copyto_btn_save" type="button" class="btn btn-primary">{% trans 'Save' %}</button>
                </div>

            </div>
        </div>
    </div>
<!-- =================== END MODAL COPY TO TEMPLATE  =================== -->
<!-- =================== MODAL SELECT EMPLOYEE  =================== -->
    {% include 'includes/selectemployee.html' %}
<!-- =================== CONFIRM =================== -->
    {% include 'includes/confirm.html' %}
<!-- =================== MODAL ROSTERDATE  =================== -->
        {% include 'includes/modrosterdate.html' %}
{% endblock %}
<!-- END MODAL -->

{% block content %}
    {% if user.is_authenticated %}

        <div class="popup display_hide" >
            <span class="popuptext" id="id_msgbox"></span>
        </div>

    <!-- =================== CONTAINER =================== -->
        <div class="container">

        <!-- box with scheme input elements -->
        <div class="mx-4 my-1">
            <!-- CONTENT HEADER - LOADER -->
            <div class="mt-5">
                <div class="content_header">
                    <div class="content_subheader_left tsa_flex_4 mx-2">
                        <h5 id="id_hdr_text"></h5>
                    </div>
                    <div class="content_header_middle mx-4 p-2 ">
                        <div id="id_loader" class="image_container">
                            <img  src="{% static 'img/loader.gif' %}" height="24" width="24">
                        </div>
                    </div>
                    <div class="content_subheader_right tsa_flex_4 mx-2">
                        <h5 id="id_hdr_right_text"></h5>
                    </div>
                </div>
            </div>
            <!-- end CONTENT HEADER - LOADER -->


                <!-- BUTTON GROUP -->
            <div id="id_btn_container" class="btn-group btn-block" role="group" aria-label="Choose option" >
                <button type="button" data-mode="btn_schemeitem" class="btn btn-secondary">{% trans 'Planned shifts' %}</button>
                <button type="button" data-mode="btn_shift" class="btn btn-secondary">{% trans 'Shifts' %}</button>
                <button type="button"  data-mode="btn_team" class="btn btn-secondary ">{% trans 'Teams' %}</button>
                <button type="button" data-mode="btn_scheme" class="btn btn-secondary">{% trans 'Scheme' %}</button>
            </div>
    <!-- end BUTTON GROUP -->

        </div>
        <!-- END box with scheme input elements -->

        <!-- end class content_subheader mt-5 -->
        <!-- class content body mx-2 -->
        <div class="content_body mx-2">
<!-- =================== POPUP DATE  =================== -->
                 <div id="id_popup_date_container" class="popup_box tsa_bc_lightlightgrey display_hide">
                     <input id="id_popup_date" type="date" class="tsa_transparent mx-4 my-1" ></input>
                 </div>
<!-- =================== POPUP WDY  =================== -->
                 <div id="id_popup_wdy" class="popup_box display_hide">
                     <div class="popup_header">
                        <label id="id_popup_wdy_header" class="mx-4 my-1" >{% trans 'Roster date' %}</label>
                        <button id="id_popup_wdy_close" type="button" class="close my-1" aria-label="Close">
                            <span class="popup_close" aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="content_header_middle">
                        <input id="id_popup_wdy_rosterdate" class="input_text mx-4 my-1" ></input>
                     </div>
                     <div class="content_header_middle" >
                         <button id="id_popup_wdy_prev_month"  class=" btn btn-add" title="{% trans 'Previous month' %}">&#171;</button>
                         <button id="id_popup_wdy_prev_day" class="btn btn-add" title="{% trans 'Previous day' %}">&#8249;</button>
                         <button id="id_popup_wdy_today" class="btn btn-add" >{% trans 'Today' %}</button>
                         <button id="id_popup_wdy_nextday" class="btn btn-add" title="{% trans 'Next day' %}">&#8250;</button>
                         <button id="id_popup_wdy_nextmonth" class="btn btn-add" title="{% trans 'Next month' %}">&#187;</button>
                     </div>
                     <div class="content_subheader_right">
                         <button id="id_popup_wdy_save" class="btn btn-add">{% trans 'Save' %}</button>
                     </div>
                 </div>

<!-- =================== TIMEPICKER  =================== -->
                {% include 'includes/timepicker.html' %}

<!-- =================== DATA TABLE  =================== -->

            <div id="id_div_tbl_schemeitem" data-mode="btn_schemeitem" class="display_hide">
                <div class="content_header mx-2 my-4">
                    <div id="id_btns_schemeitem" class="content_subheader_left">
                        <button id="id_btn_cycleprev" data-mode="prev" title="{% trans 'Show previous cycle. This does not affect the shifts.' %}" class="btn btn-add ml-2">&larr;</button>
                        <button id="id_btn_cyclenext" data-mode="next" title="{% trans 'Show next cycle. This does not affect the shifts.' %}" class="btn btn-add">&rarr;</button>
                        <button id="id_btn_dayup" data-mode="dayup" title="{% trans 'Set all rosterdates one day earlier.' %}" class="btn btn-add"> &uarr; </button>
                        <button id="id_btn_daydown" data-mode="daydown" title="{% trans 'Set all rosterdates one day later.' %}" class="btn btn-add"> &darr; </button>
                        <button id="id_btn_autofill" data-mode="autofill" title="{% trans 'Copy the entered shifts to the rest of the cycle dates.' %}" class="btn btn-add">{% trans 'Fill scheme' %}</button>
                        <button id="id_btn_schemeitems_delete" data-mode="delete" class="btn btn-add">{% trans 'Delete all shifts from this scheme' %}</button>
                    </div>
                </div>

                <table id="id_table_schemeitem" class="table tsa-tbl mx-2 my-2">
                    <thead id="id_thead_schemeitem"></thead>
                    <tbody id="id_tbody_schemeitem"></tbody>
                    <tfoot id="id_tfoot_schemeitem"></tfoot>
                </table>

            </div>
            <div id="id_div_tbl_shift" data-mode="btn_shift" class="display_hide">
                <div class="content_header mx-2 my-4">
                </div>
                <table id="id_table_shift" class="table tsa-tbl mx-2 my-2">
                    <thead id="id_thead_shift"></thead>
                    <tbody id="id_tbody_shift"></tbody>
                    <tfoot id="id_tfoot_shift"></tfoot>
                </table>
            </div>
            <div id="id_div_tbl_teammember" data-mode="btn_team" class="display_hide">
                <!-- box with team_code input element -->
                <!-- <div class="mx-4 mt-4 mb-1"> -->

                <div class="content_header mx-4 my-4">
                    <div class="content_subheader_left mx-2">
                        <h6>{% trans 'Team' %}:</h6>
                        <input id="id_team_code" type="text" data-table="team" data-field="code"
                        class="td_width_220 my-1 pt-0 pb-0 " autocomplete="off">
                    </div>
                </div>
                <table id="id_table_teammember" class="table tsa-tbl mx-2 my-2">
                    <thead id="id_thead_teammember"></thead>
                    <tbody id="id_tbody_teammember"></tbody>
                    <tfoot id="id_tfoot_teammember"></tfoot>
                </table>
            </div>
<!-- =================== DATA FORM  =================== -->
            <div id="id_div_data_form" data-mode="btn_scheme"  class=" content_header tsa_bc_lightlightgrey display_hide m-4 p-4">
                <div class="content_subheader_left">
                    <label for="id_scheme_code" class="tsa_margin_form_label">{% trans 'Scheme name' %}:</label>
                    <input id="id_scheme_code" type="text" data-table="scheme" data-field="code"
                        autocomplete="off" ondragstart="return false;" ondrop="return false;"
                           class="form-control px-2">
                     <label for="id_scheme_cycle" class="tsa_margin_form_label">{% trans 'Cycle length' %}:</label>
                    <input id="id_scheme_cycle" type="number" data-table="scheme" data-field="cycle"
                        autocomplete="off" ondragstart="return false;" ondrop="return false;"
                           class="form-control px-2">
                    <label for="id_scheme_datefirst" class="tsa_margin_form_label">{% trans 'Start date' %}:</label>
                    <input id="id_scheme_datefirst" type="text" data-table="scheme" data-field="datefirst"
                        autocomplete="off" ondragstart="return false;" ondrop="return false;"
                           class="form-control input_popup_date px-2">
                    <label for="id_scheme_datelast" class="tsa_margin_form_label">{% trans 'End date' %}:</label>
                    <input id="id_scheme_datelast" type="text" data-table="scheme" data-field="datelast"
                        autocomplete="off" ondragstart="return false;" ondrop="return false;"
                           class="form-control input_popup_date px-2">

                            <button id="id_form_btn_add" type="button" class="btn btn-outline-primary mt-4">{% trans 'Add scheme' %}</button>
                            <button id="id_form_btn_delete" type="button" disabled class="btn btn-outline-danger mt-4">{% trans 'Delete scheme' %}</button>
                </div>

                <div class="tsa_flex_2 pt-4">
                </div>
            </div>

    </div>
<!--</div> flex_container -->

        <div id="id_data"
            data-datalist_download_url="{% url 'datalist_download_url' %}"
            data-settings_upload_url="{% url 'settings_upload_url' %}"
            data-scheme_template_upload_url="{% url 'scheme_template_upload_url' %}"
            data-schemeitem_upload_url= "{% url 'schemeitem_upload_url' %}"
            data-schemeitem_fill_url= "{% url 'schemeitem_fill_url' %}"
            data-schemeitems_download_url= "{% url 'schemeitems_download_url' %}"
            data-schemeorshiftorteam_upload_url="{% url 'schemeorshiftorteam_upload_url' %}"
            data-teammember_upload_url="{% url 'teammember_upload_url' %}"
            data-emplhour_fill_rosterdate_url="{% url 'emplhour_fill_rosterdate_url' %}"

            data-imgsrc_inactive_black = "{% static 'img/inactive_black.png' %}"
            data-imgsrc_active = "{% static 'img/inactive_grey.png' %}"
            data-imgsrc_active_lightgrey = "{% static 'img/inactive_lightgrey.png' %}"
            data-imgsrc_delete="{% static 'img/delete.gif' %}"
            data-imgsrc_deletered="{% static 'img/deletered.gif' %}"
            data-imgsrc_warning="{% static 'img/warning.gif' %}"
            data-imgsrc_b_black = "{% static 'img/b_black.png' %}"
            data-imgsrc_b_grey = "{% static 'img/b_grey.png' %}"
            data-imgsrc_d_black = "{% static 'img/d_black.png' %}"
            data-imgsrc_d_grey = "{% static 'img/d_grey.png' %}"
            data-imgsrc_rest_black = "{% static 'img/rest_black.png' %}"
            data-imgsrc_cross_red = "{% static 'img/cross_red.png' %}"
            data-imgsrc_cross_grey = "{% static 'img/cross_grey.png' %}"
            data-imgsrc_stat00="{% static 'img/stat00.png' %}"

            data-lang ="{{ lang }}"
            data-timezone ="{{ timezone }}"
            data-interval ="{{ interval }}"
            data-timeformat ="{{ timeformat }}"
            data-weekdays ="{{ weekdays }}"
            data-months ="{{ months }}"
            data-today ="{{ today }}"
            data-locale ="{{ locale }}"



            data-txt_save = "{% trans 'Save' %}"
            data-txt_quicksave = "{% trans 'Quick save' %}"
            data-txt_quicksave_remove = "{% trans 'Exit Quick save' %}"

            data-txt_select_customer= "{% trans 'Select customer' %}"
            data-txt_select_customer_none= "{% trans 'No customers' %}"
            data-txt_select_order= "{% trans 'Select order' %}"
            data-txt_select_order_none= "{% trans 'No orders' %}"

            data-txt_scheme= "{% trans 'Scheme' %}"
            data-txt_scheme_add= "{% trans 'Add scheme' %}"
            data-txt_select_scheme= "{% trans 'Select scheme' %}"
            data-txt_select_scheme_none= "{% trans 'No schemes' %}"
            data-txt_select_shift = "{% trans 'Select shift' %}"
            data-txt_select_team= "{% trans 'Select team' %}"

            data-txt_date= "{% trans 'Date' %}"
            data-txt_template = "{% trans 'Template' %}"
            data-txt_copyfrom_select_template= "{% trans 'Select template' %}"
            data-txt_copyfrom_select_none= "{% trans 'No templates' %}"

            data-txt_days_cycle= "{% trans 'days cycle' %}"
            data-txt_cycle_once= "{% trans 'Once only' %}"
            data-txt_roster_create= "{% trans 'Create roster' %}"
            data-txt_rosterdate= "{% trans 'Rosterdate' %}"
            data-txt_fill_roster = "{% trans 'Fill roster' %}"
            data-txt_of = "{% trans 'of' %}"
            data-txt_shift= "{% trans 'Shift' %}"
            data-txt_shifts= "{% trans 'Shifts' %}"
            data-txt_shift_rest= "{% trans 'Rest shift' %}"
            data-txt_shift_add= "{% trans 'Add shift' %}"
            data-txt_shift_enter= "{% trans 'Enter shift' %}"
            data-txt_shift_delete= "{% trans 'Delete shift' %}"
            data-txt_show_shifts= "{% trans 'Go to shifts' %}"

            data-txt_team= "{% trans 'Team' %}"
            data-txt_teams= "{% trans 'Teams' %}"
            data-txt_team_add= "{% trans 'Add new team' %}"
            data-txt_team_delete= "{% trans 'Delete team' %}"
            data-txt_show_teams= "{% trans 'Go to teams' %}"

            data-txt_employee = "{% trans 'Employee' %}"
            data-txt_employees= "{% trans 'Employees' %}"
            data-txt_employee_select= "{% trans 'Select employee' %}"
            data-txt_employee_select_none= "{% trans 'No employees' %}"
            data-txt_employee_add= "{% trans 'Add employee' %}"
            data-txt_employee_enter= "{% trans 'Enter employee' %}"
            data-txt_replaces= "{% trans 'Replaces' %}"

            data-txt_datefirst= "{% trans 'Start date' %}"
            data-txt_datelast= "{% trans 'End date' %}"
            data-txt_pricerate= "{% trans 'Hourly rate' %}"
            data-txt_billable = "{% trans 'Billable' %}"

            data-txt_timestart= "{% trans 'Start time' %}"
            data-txt_timeend= "{% trans 'End time' %}"
            data-txt_break= "{% trans 'Break' %}"

            data-timepicker_curday= "{% trans 'Current day' %}"
            data-timepicker_prevday= "{% trans 'Previous day' %}"
            data-timepicker_nextday= "{% trans 'Next day' %}"
            data-timepicker_prevday_info= "{% trans 'Shift starts on the previous day' %}"
            data-timepicker_nextday_info= "{% trans 'Shift ends on the next day' %}"

            data-msg_confdel_si_hdr= "{% trans 'Delete scheme shifts' %}"
            data-msg_confdel_si_01= "{% trans 'All shifts of this scheme will be deleted.' %}"
            data-msg_confdel_team= "{% trans 'This team will be deleted.' %}"
            data-msg_confdel_shift= "{% trans 'This shift will be deleted.' %}"

            data-txt_conf_scheme = "{% trans 'This scheme' %}"
            data-txt_conf_schemeitem = "{% trans 'This scheme shift' %}"
            data-txt_conf_shift = "{% trans 'This shift' %}"
            data-txt_conf_team = "{% trans 'This team' %}"
            data-txt_conf_teammember = "{% trans 'This teammember' %}"
            data-txt_conf_team_hasteammember = "{% trans 'This team has one employee.' %}"
            data-txt_conf_team_hasteammembers01 = "{% trans 'This team has ' %}"
            data-txt_conf_team_hasteammembers02 = "{% trans ' employees.' %}"
            data-txt_conf_inactive = "{% trans 'will be made inactive.' %}"
            data-txt_conf_delete = "{% trans 'will be deleted.' %}"
            data-txt_conf_remove = "{% trans 'will be removed from ' %}"

            data-txt_conf_btn_delete = "{% trans 'Yes, delete' %}"
            data-txt_conf_btn_inactive = "{% trans 'Yes, make inactive' %}"



            data-title_billable= "{% trans 'Billable hours. Changes in worked hours will also change the billing hours.' %}"
            data-title_notbillable=  "{% trans 'Fixed billing hours. Changes in worked hours will not affect the billing hours.' %}"
            data-title_restshift =  "{% trans 'Rest shift' %}"
        >
        </div>

        <datalist id="id_datalist_employees"></datalist>
    {% else %}
        <div class="alert alert-danger">{% trans 'Error' %}</div>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
    {% endif %}
{% endblock %}