{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Planning' %}{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
{% endblock %}
{% block script %}
    <script src="{% static 'js/schemes.js' %}"></script>
    <script src="{% static 'js/modtimepicker.js' %}"></script>
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Planning' %}</h3>
        </div>

        <div id="id_sidebar_div_select_order" class="tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Select customer and order' %}:</h6>
            <input id="id_sidebar_select_order"
                type="text"
                class="tw_200 border_none pointer_show px-2"
                readonly>
        </div>

        <div class="tw_200 mx-2 my-2">
            <div id="id_select_template_div" class="display_hide my-2">
                <h4 class="mx-2 my-2">{% trans 'Templates' %}</h4>
            </div>
            <table id="id_select_table_scheme" class="display_hide mt-4">
                <thead id="id_select_thead_scheme" class="tsa_color_white m-1"></thead>
                <tbody id="id_select_tbody_scheme"></tbody>
                <tfoot id="id_select_tfoot_scheme"></tfoot>
            </table>

             <table id="id_select_table_shift" class="display_hide mt-4">
                <thead id="id_select_thead_shift" class="tsa_color_white m-1"></thead>
                <tbody id="id_select_tbody_shift"></tbody>
                <tfoot id="id_select_tfoot_shift"></tfoot>
            </table>

            <table id="id_select_table_team" class="display_hide mt-4 mb-5">
                <thead id="id_select_thead_team"class="tsa_color_white m-1"></thead>
                <tbody id="id_select_tbody_team"></tbody>
                <tfoot id="id_select_tfoot_team"></tfoot>
            </table>

        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    {% if user.is_authenticated %}
<!-- =================== msgbox  =================== -->
    <div class="popup display_hide" >
            <span class="popuptext" id="id_msgbox"></span>
    </div>

<!-- =================== MODAL SCHEME =================== -->
    {% include 'includes/modscheme.html' %}

<!-- =================== MODAL COPYFROM TEMPLATE  =================== -->
    <div class="modal fade" id="id_mod_copyfrom" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_mod_copyfrom_header" class="modal-title mx-2" >{% trans 'Copy from template' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div  id="id_mod_copyfrom_body" class="modal-body">
                    <div class="modal_container">

<!-- modal_body_left contains template select table -->
                        <div class="modal_body_left m-2">
                                <div>
                                    <h5>{% trans 'Select template' %}:</h5>
                                </div>
<!--
                                <div >
                                    <input id="id_mod_copyfrom_filter_template" type="text"
                                    class="fieldname pt-0 pb-0" colspan=2 autocomplete="off"
                                    placeholder="{% trans 'filter name...' %}"
                                    >
                                </div>
                                -->
                                <div  class="tw_200 th_240"> <!-- this div is necessary to get standard structure for FilterTableRows -->
                                    <table class="table table-condensed tsa_tbl my-1">
                                        <tbody id="id_mod_copyfrom_tblbody" data-table="scheme">
                                        </tbody>
                                    </table>
                                </div>

                        </div>

                        <div class="modal_body_left m-2">
                            <h5 class="mx-2" >{% trans 'Copy to scheme' %}:</h5>
                                <div>
                                    <label for="id_mod_copyfrom_customer" class="mx-2 my-2">{% trans 'Customer' %}:</label>
                                    <select id="id_mod_copyfrom_customer" class="form-control"></select>
                                    <small id="id_mod_copyfrom_customer_err" class="color_invalid mx-2 display_hide"></small>
                                </div>
                                <div>
                                    <label for="id_mod_copyfrom_order" class="mx-2 my-2">{% trans 'Order' %}:</label>
                                    <select id="id_mod_copyfrom_order" class="form-control"></select>
                                    <small id="id_mod_copyfrom_order_err" class="color_invalid mx-2 display_hide"></small>
                                </div>

                                <div>
                                    <label for="id_mod_copyfrom_code" class="mx-2 my-2">{% trans 'Scheme name' %}:</label>
                                    <input id="id_mod_copyfrom_code" type="text"
                                        autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                        class="form-control">
                                    <small id="id_mod_copyfrom_code_err" class="color_invalid mx-2"></small>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button id="id_mod_copyfrom_btn_save" type="button" class="btn btn-primary">{% trans 'Copy' %}</button>
                </div>

            </div>
        </div>
    </div>
<!-- =================== MODAL COPY TO TEMPLATE  =================== -->
    <div class="modal fade" id="id_mod_copyto" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md " role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_mod_copyto_header" class="modal-title mx-2" >{% trans 'Copy scheme to template' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-2 my-">
                    <div class="form-group">
                        <label for="id_mod_copyto_code" class="mx-2 my-2">{% trans 'Template name' %}:</label>
                        <input id="id_mod_copyto_code" type="text"
                            autocomplete="off" ondragstart="return false;" ondrop="return false;"
                            class="form-control">
                        <small id="id_mod_copyto_code_err" class="color_invalid mx-2 display_hide"></small>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="id_mod_copyto_btn_save" type="button" class="btn btn-primary">{% trans 'Save' %}</button>
                </div>

            </div>
        </div>
    </div>

<!-- =================== CONFIRM =================== -->
    {% include 'includes/confirm.html' %}
<!-- =================== MODAL GRID TEAM  =================== -->
    {% include 'includes/modgridteam.html' %}
<!-- =================== MODAL GRID SHIFT  =================== -->
    {% include 'includes/modgridshift.html' %}
<!-- =================== MODAL SELECT CUSTOMER / ORDER  =================== -->
    {% include 'includes/modselectcustorder.html' %}
<!-- =================== MODAL SELECT EMPLOYEE  =================== -->
    {% include 'includes/modselectemployee.html' %}
<!-- =================== MODAL ABSENCE  =================== -->
        {% include 'includes/modabsence.html' %}

<!-- =================== POPUP DATE  =================== -->
     <div id="id_popup_date_container" class="popup_box tsa_bc_lightlightgrey display_hide">
         <input id="id_popup_date" type="date" class="tsa_transparent mx-4 my-1" >
     </div>

<!-- =================== CONTAINER =================== -->
    <div class="container">

    <!-- box with scheme input elements -->
    <div class="mx-4 my-1">
        <!-- CONTENT HEADER - LOADER -->
        <div class="mt-5">
            <div class="content_header">
                <div class="content_subheader_left tsa_flex_4 mx-2">
                    <h5 id="id_hdr_text"></h5>
                </div>
                <div class="content_header_middle mx-4 p-2 ">
                    <div id="id_loader" class="image_container">
                        <img  src="{% static 'img/loader.gif' %}" height="24" width="24">
                    </div>
                </div>
                <div class="content_subheader_right tsa_flex_4 mx-2">
                    <h5 id="id_hdr_right_text"></h5>
                </div>
            </div>
        </div>
        <!-- end CONTENT HEADER - LOADER -->

        <!-- BUTTON GROUP -->
        <div id="id_btn_container" class="btn-group btn-block" role="group" aria-label="Choose option" >
            <button type="button" data-mode="btn_grid" class="btn btn-secondary">{% trans 'Planned shifts' %}</button>
            <button type="button" data-mode="btn_schemeitem" class="btn btn-secondary">{% trans 'Planned shift list' %}</button>
            <button type="button" data-mode="btn_shift" class="btn btn-secondary">{% trans 'Shifts' %}</button>
            <button type="button"  data-mode="btn_team" class="btn btn-secondary ">{% trans 'Teams' %}</button>
            <button type="button" data-mode="btn_scheme" class="btn btn-secondary display_hide">{% trans 'Schemes' %}</button>
            <button type="button" data-mode="btn_absence" class="btn btn-secondary">{% trans 'Absence' %}</button>
        </div>
<!-- end BUTTON GROUP -->

    </div>
<!-- END box with scheme input elements -->

    <!-- end class content_subheader mt-5 -->
    <!-- class content body mx-2 -->
    <div class="content_body mx-2">

<!-- =================== GRID  =================== -->

        <div id="id_div_gridlayout" class=" display_hide">
            <div class="tsa_main_container m-4">
                <div class="tsa_team_container">
                    <div id="id_grid_scheme_container" class="grid_scheme tbl_border tsa_bc_lightlightgrey">
                        <div class="m-2">
                            <h6 class="mx-1 my-0">{% trans 'Scheme' %}:</h6>
                        </div>
                        <div class=" m-1">
                            <button id="id_grid_scheme_btn_code" type="button" data-field="code" class="tsa_input_text tw_180 tsa_bc_yellow_lightlight mx-2 my-1">{% trans 'Name' %}: schemes</button>
                            <button id="id_grid_scheme_btn_cycle" type="button" data-field="cycle" class="tsa_input_text tw_180 tsa_bc_yellow_lightlight mx-2 my-1">{% trans 'Cycle' %}: 7 days</button>
                        </div>
                        <div class=" mx-1">
                            <a id="id_grid_scheme_btn_datefirstlast" data-field="datefirstlast" class="tsa_input_text btn-smallfont pointer_show tw_180 mx-2 my-1">{% trans 'Period' %}: 11-30 okt</a>
                        </div>
                        <div class=" mx-1">
                            <a id="id_grid_scheme_btn_exph" data-field="dvg_excl_ph" class="tsa_input_text btn-smallfont pointer_show tw_180 mx-2 my-0"></a>
                        </div>
                        <div class=" mx-1 mb-1">
                            <a id="id_grid_scheme_btn_exch" data-field="excludecompanyholiday" class="tsa_input_text btn-smallfont pointer_show tw_180 mx-2 my-0">{% trans 'Also on company holidays' %}</a>
                        </div>
                    </div>
                    <div class="grid_teams tbl_border">
                        <table class="grd_tbl">
                            <tbody id="id_grid_tbody_team">
                             </tbody>
                        </table>
                    </div>
                </div>

                <div class="tsa_shift_container">
                    <h6 class="grid_schemeitem_hdr m-0 px-2 py-1">
                        {% trans 'Planned shifts' %}
                    </h6>
                    <div class="grid_schemeitem tbl_XXborder">
                        <div class=" tbl_border">
                            <table class="grd_tbl">
                                <tbody id="id_grid_tbody_shift">
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div><small id="id_msg_onph" class="mx-2">{% trans "If a date is a public holiday, you must enter the normal shifts in that column. Shifts of public holidays must be entered in the column 'Public holidays'." %}</small></div>
                </div>
            </div>
        </div>

<!-- =================== DATA TABLE  =================== -->
        <div id="id_div_tbl_schemeitem" class="display_hide">
            <div class="content_header mx-2 my-4">
                <div id="id_btns_schemeitem" class="content_subheader_left">
                    <button id="id_btn_cycleprev" data-mode="prev" title="{% trans 'Show previous cycle. This does not affect the shifts.' %}" class="btn btn-add ml-2">&larr;</button>
                    <button id="id_btn_cyclenext" data-mode="next" title="{% trans 'Show next cycle. This does not affect the shifts.' %}" class="btn btn-add">&rarr;</button>
                    <button id="id_btn_dayup" data-mode="dayup" title="{% trans 'Set all rosterdates one day earlier.' %}" class="btn btn-add"> &uarr; </button>
                    <button id="id_btn_daydown" data-mode="daydown" title="{% trans 'Set all rosterdates one day later.' %}" class="btn btn-add"> &darr; </button>
                    <button id="id_btn_autofill" data-mode="autofill" title="{% trans 'Copy the entered shifts to the rest of the cycle dates.' %}" class="btn btn-add">{% trans 'Fill scheme' %}</button>
                    <button id="id_btn_schemeitems_delete" data-mode="delete" class="btn btn-add">{% trans 'Delete all shifts from this scheme' %}</button>
                </div>
            </div>
        </div>

        <div id="id_div_datatable" class="display_hide">
            <table class="table tsa_tbl mx-2 my-2">
                <thead id="id_tblHead_datatable"></thead>
                <tbody id="id_tblBody_datatable"></tbody>
                <tfoot id="id_tblFoot_datatable"></tfoot>
            </table>
        </div>
    </div>
<!-- flex_container -->
 </div>
    <div id="id_data"
        data-datalist_download_url="{% url 'datalist_download_url' %}"
        data-settings_upload_url="{% url 'settings_upload_url' %}"
        data-scheme_template_upload_url="{% url 'scheme_template_upload_url' %}"
        data-schemeitem_upload_url= "{% url 'schemeitem_upload_url' %}"
        data-schemeitem_fill_url= "{% url 'schemeitem_fill_url' %}"
        data-schemeitems_download_url= "{% url 'schemeitems_download_url' %}"
        data-schemeorshiftorteam_upload_url="{% url 'schemeorshiftorteam_upload_url' %}"
        data-teammember_upload_url="{% url 'teammember_upload_url' %}"
        data-grid_upload_url="{% url 'grid_upload_url' %}"

        data-imgsrc_inactive_black = "{% static 'img/inactive_black.png' %}"
        data-imgsrc_inactive_grey = "{% static 'img/inactive_grey.png' %}"
        data-imgsrc_inactive_lightgrey = "{% static 'img/inactive_lightgrey.png' %}"
        data-imgsrc_delete="{% static 'img/delete.gif' %}"
        data-imgsrc_deletered="{% static 'img/deletered.gif' %}"
        data-imgsrc_warning="{% static 'img/warning.gif' %}"
        data-imgsrc_b_black = "{% static 'img/b_black.png' %}"
        data-imgsrc_b_grey = "{% static 'img/b_grey.png' %}"
        data-imgsrc_d_black = "{% static 'img/d_black.png' %}"
        data-imgsrc_d_grey = "{% static 'img/d_grey.png' %}"
        data-imgsrc_chck01 = "{% static 'img/chck01.png' %}"
        data-imgsrc_cross_red = "{% static 'img/cross_red.png' %}"
        data-imgsrc_cross_grey = "{% static 'img/cross_grey.png' %}"
        data-imgsrc_stat00="{% static 'img/stat00.png' %}"
    >
    </div>

    {% else %}
        <div class="alert alert-danger">{% trans 'Error' %}</div>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
    {% endif %}
{% endblock %}