{% load i18n %} {% load l10n %}
{% load static %}

<!-- =================== DATA FORM  =================== -->
     <div class="content_header">
         <div class="content_subheader_left mx-1">
            <label for="id_form_code" class="tsa_margin_form_label">{% trans 'Short name' %}:</label>
            <input id="id_form_code" type="text" data-field= "code"
                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
         </div>
         <div class="content_subheader_left mx-1">
            <label for="id_form_namelast" class="tsa_margin_form_label">{% trans 'Last name' %}:</label>
            <input id="id_form_namelast" type="text" data-field="namelast"
                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
         </div>
         <div class="content_subheader_left mx-1">
            <label for="id_form_namefirst" class="tsa_margin_form_label">{% trans 'First name' %}:</label>
            <input id="id_form_namefirst" type="text" data-field="namefirst"
                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
         </div>
         <div class="content_subheader_left mx-1">
            <label for="id_form_identifier" class="tsa_margin_form_label">{% trans 'Identification code' %}:</label>
            <input id="id_form_identifier" type="text" data-field="identifier"
                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
         </div>
     </div>
     <div class="content_header">
         <div class="content_subheader_left mx-1 ">
            <label for="id_form_telephone" class="tsa_margin_form_label">{% trans 'Telephone' %}:</label>
            <input id="id_form_telephone" type="text" data-field= "telephone"
                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
         </div>
         <div class="content_subheader_left mx-1 ">
            <label for="id_form_email" class="tsa_margin_form_label">{% trans 'Email address' %}:</label>
            <input id="id_form_email" type="text" data-field= "email"
                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
         </div>
         <div class="content_subheader_left mx-1 ">
            <label for="id_form_datefirst" class="tsa_margin_form_label">{% trans 'First date in service' %}:</label>
            <input id="id_form_datefirst" type="text" data-field= "datefirst"
                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control input_popup_date tsa_bc_white">
         </div>
         <div class="content_subheader_left mx-1">
            <label for="id_form_datelast" class="tsa_margin_form_label">{% trans 'Last date in service' %}:</label>
            <input id="id_form_datelast" type="text" data-field= "datelast"
                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control input_popup_date tsa_bc_white">
         </div>
     </div>

     <div class="content_header">
         <div class="content_subheader_left mx-1">
            <label for="id_form_address" class="tsa_margin_form_label">{% trans 'Address' %}:</label>
            <input id="id_form_address" type="text" data-field= "address"
                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
         </div>
         <div class="content_subheader_left mx-1">
            <label for="id_form_city" class="tsa_margin_form_label">{% trans 'City' %}:</label>
            <input id="id_form_city" type="text" data-field= "city"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
         </div>
         <div class="content_subheader_left mx-1">
            <label for="id_form_zipcode" class="tsa_margin_form_label">{% trans 'Zip code' %}:</label>
            <input id="id_form_zipcode" type="text" data-field= "zipcode"
            autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
         </div>
         <div class="content_subheader_left mx-1">
            <label for="id_form_country" class="tsa_margin_form_label">{% trans 'Country' %}:</label>
            <input id="id_form_country" type="text" data-field= "country"
                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
         </div>
     </div>

     <div class="content_header">
         <div class="content_subheader_left mx-1">
             <label for="id_form_workhours" class="tsa_margin_form_label">{% trans 'Working hours per week' %}:</label>
            <input id="id_form_workhours" type="text" data-field= "workhours"
                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
         </div>
         <div class="content_subheader_left mx-1 ">
            <label for="id_form_workdays" class="tsa_margin_form_label">{% trans 'Work days per week' %}:</label>
            <input id="id_form_workdays" type="text" data-field= "workdays"
                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
         </div>
         <div class="content_subheader_left mx-1 ">
            <label for="id_form_leavedays" class="tsa_margin_form_label">{% trans 'Leave days per year' %}:</label>
            <input id="id_form_leavedays" type="text" data-field= "leavedays"
                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
            <small class="tsa_margin_form_label">{% trans 'Leave days are on a full time basis.' %}</small>
         </div>
         <div class="content_subheader_left mx-1 ">
            <label for="id_form_payrollcode" class="tsa_margin_form_label">{% trans 'Payroll code' %}:</label>
            <input id="id_form_payrollcode" type="text" data-field= "payrollcode"
                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
         </div>
     </div>
     <div class="content_header">
         <!--
         <div class="content_subheader_left mx-1">
            <label for="id_form_wagerate" class="tsa_margin_form_label">{% trans 'Hourly wage' %}:</label>
            <input id="id_form_wagerate" type="text" data-field= "wagerate"
                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
         </div>
         <div class="content_subheader_left mx-1">
            <label for="id_form_wagecode" class="tsa_margin_form_label">{% trans 'Wage code' %}:</label>
            <input id="id_form_wagecode" type="text" data-field= "wagecode"
                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
         </div>
         -->
         <div class="content_subheader_left mx-1"></div>
         <div class="content_subheader_left mx-1"></div>
         <div class="content_subheader_left mx-1"></div>
     </div>

    <div class="content_subheader_left mx-1 mt-4">
        <button id="id_form_btn_add" type="button" class="btn btn-outline-primary">{% trans 'Add employee' %}</button>
        <button id="id_form_btn_delete" type="button" disabled class="btn btn-outline-danger">{% trans 'Delete employee' %}</button>
    </div>

