{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="{% static 'css/table_import.css' %}">
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.11.8/xlsx.core.min.js"></script>
    <!-- PR2019-01-13 removed to base.html
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
    -->
    <script src="{% static 'js/employee_import.js' %}"></script>
{% endblock %}

{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Employees' %}</h3>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
<div class="container">
  {% if user.is_authenticated %}
        {% if user.is_perm_plan %}

            <div class="c_select_file text_align_left">
                <h4 class="text_align_left mt-4">{% trans 'Upload employees' %}</h4>
                <span>
                    <img id="id_loader2" src="{% static 'img/loader.gif' %}" height="32" width="32" class="display_hide" >
                </span>
                <h6 class="text_align_left mt-4">{% trans 'Step' %} 1: {% trans 'Select employee file' %}</h6>

                <div class="text_align_left">
                    <input class="c_form_text" type="file" id="filedialogID" name="file" accept=".xlsx, .xls, csv">
                </div>
                <h6 class="text_align_left mt-2">{% trans 'Step' %} 2: {% trans 'Select a worksheet' %}</h6>
                <div class="text_align_left c_hide">
                    <label for="id_worksheet_list">{% trans 'Worksheet' %}:</label>
                    <select id="id_worksheet_list" class="c_form_select" ></select>
                </div>

                <h6 class="text_align_left mt-2">{% trans 'Step' %} 3: {% trans 'Select if the worksheet has no header row' %}</h6>
                <div class="content_subheader_left mx-2 my-1">
                  <input class="c_form_text text_align_left" type="checkbox" id="checkBoxID" value="false">
                  <label class="c_form_text text_align_left" for="checkBoxID"> {% trans 'Worksheet has no header row' %}</label>
                </div>
                <br />

                <h6 class="text_align_left mt-2">{% trans 'Step' %} 4: {% trans 'How do you want the short name to be calculated?' %}</h6>
                <div class="text_align_left">
                    <label for="id_select_code_calc">{% trans "Short name will be calculated as follows:" %}</label>
                    <select id="id_select_code_calc" class="c_form_select" >
                        <option value="linked">{% trans "Don't calculate, but link to an Excel column" %}</option>
                        <option value="firstname">{% trans "Calculate like: Smith, John" %}</option>
                        <option value="initials">{% trans "Calculate like: Smith J S A" %}</option>
                        <option value="nospace">{% trans "Calculate like: Smith JSA" %}</option>
                    </select>


                </div>

                <h6 class="text_align_left mt-2">{% trans 'Step' %} 5: {% trans 'Link colums' %}</h6>

                <div id="div_infoID"></div>
                <div class="ea_flex">
                    <div id="id_basediv_col" class="c_link_columns"></div>
                </div>

                <br />


                <h6 class="text_align_left mt-2">{% trans 'Step' %} 6: {% trans 'Upload employees' %}</h6>
                <div class="ea_flex">
                <button
                        id="btn_import"
                        class="submit-button"
                        type="button"

                > {% trans 'Click to upload the data' %}</button>

                </div>
            </div>
        <br />
        <span>
            <img id="id_loader" src="{% static 'img/loader.gif' %}" height="32" width="32" class="display_hide" >
        </span>

        <table class="c_table_stud" id="id_table" width="100%" class="display_hide">
            <thead id="id_thead" class="c_thead"></thead>
            <tbody id="id_tbody" class="c_tbody"></tbody>
            <tfoot id="id_tfoot" class="c_tfoot"></tfoot>
        </table>

        <div id="id_data"
            data-employee_uploadsetting_url= "{% url 'employee_uploadsetting_url' %}"
            data-employee_uploaddata_url= "{% url 'employee_uploaddata_url' %}"
            data-captions = "{{ captions }}"
            data-settings = "{{ settings }}"

            data-txt_no_worksheets= "{% trans 'There are no worksheets.' %}"
            data-txt_no_worksheets_with_data= "{% trans 'There are no worksheets with data.' %}"
        ></div>

    {% else %}
      <form class="form-inline ml-auto">
        <a href="{% url 'home' %}" class="btn btn-outline-secundary">{% trans "You don't have permission to view this page." %}</a>
      </form>
    {% endif %}
  {% else %}
    <form class="form-inline ml-auto">
      <a href="{% url 'login' %}" class="btn btn-outline-secundary">{% trans 'You must be logged in to view this page' %}</a>
    </form>
  {% endif %}
</div>
{% endblock %}