{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block script %}
    <script src="{% static 'js/employees.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar">
        <div class="sidebar-header">
            <h3>{% trans 'Employees' %}</h3>
        </div>
        <div class="mx-2 my-2"> <!-- this div is necessary to get standard structure for FilterTableRows -->
            <label for="id_filter_text" class="px-1 py-1">{% trans 'Filter employee:' %}</label>
            <input id="id_filter_text"
            type="text"
            class="fieldname pt-0 pb-0"
            placeholder="{% trans 'filter...' %}">
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->
  <!-- MODAL -->
{% block modal %}
<!-- =================== MODAL EMPLOYEE DELETE  =================== -->
    <div class="modal " id="id_mod_empl_del" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md " role="document">
            <div class="modal-content">

                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_mod_empl_del_header" class="modal-title mx-2" >{% trans 'Delete employee' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div  id="id_mod_empl_del_body" class="modal-body">

                    <div class="modal_container">

                        <div class="modal_body_left mx-2">
                            <div>
                            <h6 class="modal-title mx-2" >{% trans 'Delete employee' %}:</h6>
                                <p id="id_mod_employee" class="mx-2"></p>
                                <small id="id_mod_employee_err" class="color_invalid mx-2 display_hide"></small>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    <button id="id_mod_empl_del_btn_save" type="button" class="btn btn-primary">{% trans 'Delete' %}</button>

                </div>

            </div>
        </div>
    </div>
<!-- =================== END MODAL EMPLOYEE  =================== -->
{% endblock %}
{% block content %}
<div class="container">
    {% if user.is_authenticated %}
        <div class="popup display_hide" >
            <span class="popuptext" id="id_msgbox"></span>
        </div>

        <!-- flex_container -->
        <div class="flex_container mx-1 my-2">

            <!-- content_wrapper -->
            <div class="content_wrapper tsa_bc_transparent border_none">

                <!-- employee header -->
                <div class="content_subheader_right">
                    <div class="content_header">
                        <img id="id_loading_img" src="{% static 'img/loader.gif' %}" height="32" width="32" class="display_hide" >
                        <div class="content_subheader_right mx-4 my-1">
                        </div>
                    </div>
                </div>
                <!-- employee header -->


                <!-- content body -->
                <div class="content_body mx-2">
                    <!-- popup container -->
                    <div class="popup-container">

                        <!-- =================== POPUP DATE  =================== -->
                        <div id="id_popup_wdy" class="popup_box tsa_bc_lightlightgrey display_hide">
                            <input id="id_popup_date"  type="date" class="input_text mx-4 my-1" ></input>
                        </div>
                         <!-- =================== END POPUP DATE  =================== -->

                        <!-- =================== table Employees  =================== -->
                        <table class="table tsa-tbl">
                            <thead>
                                <th class="td_width_200"> {% trans 'Short name' %}</th>
                                <th >{% trans 'First name' %}</th>
                                <th>{% trans 'Last name' %}</th>
                                <th class="td_width_120">{% trans 'Id' %}</th>
                                <th class="td_width_120">{% trans 'First date in service' %}</th>
                                <th class="td_width_120">{% trans 'Last date in service' %}</th>
                                <th>
                                    <a id="id_filter_inactive" href="#" data-value="false" title="{% trans 'Show inactive orders' %}">
                                        <img id="id_img_filter_inactive" src="{% static 'img/inactive_grey.png' %}" height="24" width="24">
                                    </a>
                                </th>
                            </thead>
                            <tbody id="id_tbody_items"></tbody>
                        </table>
                    </div>
                    <!-- popup container -->
                </div>
                <!-- content body -->
            </div>
            <!-- content_wrapper -->
        </div> <!-- flex_container -->

        <div id="id_data"
            data-imgsrc_inactive = "{% static 'img/inactive_black.png' %}"
            data-imgsrc_active = "{% static 'img/inactive_grey.png' %}"
            data-imgsrc_delete="{% static 'img/delete.gif' %}"

            data-lang ="{{ lang }}"
            data-timezone ="{{ timezone }}"
            data-weekdays ="{{ weekdays }}"
            data-months ="{{ months }}"
            data-today ="{{ today }}"

            data-employee_upload_url="{% url 'employee_upload_url' %}"
            data-employee_import_url="{% url 'employee_import_url' %}"
            data-datalist_download_url="{% url 'datalist_download_url' %}"
            data-err_msg01= "{% trans 'An error occurred.' %}"
            data-err_msg_del_blank= "{% trans 'Please select an employee in the list first.' %}"

            data-txt_employee_import= "{% trans 'Upload employees' %}"
            data-txt_employee_delete= "{% trans 'Delete employee' %}"
            data-txt_employee_add= "{% trans 'Add new employee' %}"
            data-txt_make_inactive= "{% trans 'Make employee inactive' %}"
            data-txt_make_active= "{% trans 'Make employee active' %}"

            data-txt_datefirst= "{% trans 'First date' %}"
            data-txt_datelast= "{% trans 'Last date' %}"
        >
        </div>
    {% else %}
        <div class="alert alert-danger">{% trans 'Error' %}</div>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
    {% endif %}
</div>
{% endblock %}