{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Employees' %}{% endblock %}
{% block script %}
    <script src="{% static 'js/employees.js' %}"></script>
    <script src="{% static 'js/modtimepicker.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Employees' %}</h3>
        </div>

        <div class="td_width_200 mx-2 mt-2 mb-5">
            <h6 class="td_width_200 line_height_normal px-2">{% trans 'Select employee' %}:</h6>

            <table >
                <thead id="id_thead_select"class="mx-1 my-1 ">
                    <tr>
                        <td>
                            <input id="id_flt_select"
                                type="text"
                                class="td_width_150 tsa_bc_transparent border_none px-2"
                                autocomplete="off"
                                placeholder="{% trans 'filter ...' %}">
                        </td>
                        <td>
                            <a id="id_sel_inactive" href="#">
                                <img id="id_sel_img_inactive"  src="{% static 'img/inactive_lightgrey.png' %}" height="24" width="24">
                            </a>
                        </td>
                    </tr>
                </thead>
                <tbody id="id_tbody_select"></tbody>
            </table>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

<!-- MODAL -->
{% block modal %}
<!-- =================== MODAL EMPLOYEE ADD  =================== -->
    <div class="modal " id="id_mod_empl_add" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_mod_empl_add_header" class="modal-title mx-2" >{% trans 'Add employee' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="id_mod_empl_create_body" class="modal-body">
                    <div class="modal_container">
                        <div class="modal_body_left mx-2">
                            <div>
                            <h6 class="modal-title mx-2" >{% trans 'Add employee' %}:</h6>
                                <p id="id_mod_employee_add" class="mx-2"></p>
                                <small id="id_mod_employee_add_err" class="color_invalid mx-2 display_hide"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    <button id="id_mod_empl_add_btn_save" type="button" class="btn btn-primary">{% trans 'Save' %}</button>
                </div>
            </div>
        </div>
    </div>
<!-- =================== END EMPLOYEE ADD  =================== -->

{% endblock %}
<!-- endblock MODAL -->

{% block content %}
    {% if user.is_authenticated %}
<!-- =================== MODAL CONFIRM  =================== -->
        {% include 'includes/confirm.html' %}
<!-- =================== MODAL PERIOD  =================== -->
        {% include 'includes/modperiod.html' %}
<!-- =================== MODAL SELECT EMPLOYEE  =================== -->
        {% include 'includes/selectemployee.html' %}
<!-- =================== MODAL EMPLOYEE SHIFT  ===================-->
        {% include 'includes/modemployeeshift.html' %}
<!-- =================== CONTAINER =================== -->
        <div class="container ">

<!-- CONTENT HEADER - LOADER -->
            <div class="tsa_margin_top_64">
    <!-- class content_header -->
         <!-- header_text -->
                <div class="content_header">
                    <div class="content_subheader_left mx-2">
                        <h5 id="id_hdr_text"></h5>
                    </div>
        <!-- loader -->
                    <div class="content_header_middle mx-4">
                        <div id="id_loader" class="image_container visibility_hide">
                            <img  src="{% static 'img/loader.gif' %}" height="24" width="24">
                        </div>
                    </div>
        <!-- period -->
                    <div id="id_div_hdr_period" class="content_subheader_right pointer_show mx-2">
                        <h5 id="id_hdr_period"></h5>
                    </div>
        <!-- end loader -->
                </div>
    <!-- end class content_header -->
    <!-- BUTTON GROUP -->
                <div id="id_btn_container" class="btn-group btn-block mx-2 my-2" role="group" aria-label="Choose option" >
                    <button id="id_btn_list" type="button" data-mode="employee" class="btn btn-secondary ">{% trans 'Employee list' %}</button>
                    <button id="id_btn_absence" type="button"  data-mode="absence" class="btn btn-secondary ">{% trans 'Absence' %}</button>
                    <button id="id_btn_team" type="button"  data-mode="shifts" class="btn btn-secondary ">{% trans 'Shifts' %}</button>
                    <button id="id_btn_planning" type="button"  data-mode="planning" class="btn btn-secondary ">{% trans 'Planning' %}</button>
                    <!-- <button id="id_btn_roster" type="button"  data-mode="roster" class="btn btn-secondary ">{% trans 'Roster' %}</button>
                    <button id="id_btn_pricerate" type="button"  data-mode="pricerate" class="btn btn-secondary ">{% trans 'Hourly rates' %}</button> -->
                    <button id="id_btn_data" type="button"  data-mode="employee_form" class="btn btn-secondary ">{% trans 'Data' %}</button>
                </div>
    <!-- end BUTTON GROUP -->
            </div>
<!-- end CONTENT HEADER - LOADER -->

<!-- CONTENT BODY -->
            <div class="content_body mx-2">
<!-- =================== id_msgbox  =================== -->
                <div class="popup display_hide" >
                    <span class="popuptext" id="id_msgbox"></span>
                </div>
<!-- =================== POPUP DATE  =================== -->
                 <div id="id_popup_date_container" class="popup_box tsa_bc_yellow_lightlight display_hide">
                     <input id="id_popup_date" type="date" class="tsa_transparent mx-4 my-1" ></input>
                 </div>
<!-- =================== DATA FORM  =================== -->
                <div id="id_div_data_form" class="p-2 tsa_bc_lightlightgrey display_hide">

                     <div class="content_header">
                         <div class="content_subheader_left mx-1">
                            <label for="id_form_code" class="tsa_margin_form_label">{% trans 'Short name' %}:</label>
                            <input id="id_form_code" type="text" data-field= "code"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1">
                            <label for="id_form_namelast" class="tsa_margin_form_label">{% trans 'Last name' %}:</label>
                            <input id="id_form_namelast" type="text" data-field="namelast"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1">
                            <label for="id_form_namefirst" class="tsa_margin_form_label">{% trans 'First name' %}:</label>
                            <input id="id_form_namefirst" type="text" data-field="namefirst"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1">
                            <label for="id_form_identifier" class="tsa_margin_form_label">{% trans 'Identification code' %}:</label>
                            <input id="id_form_identifier" type="text" data-field="identifier"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                     </div>
                     <div class="content_header">
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_form_telephone" class="tsa_margin_form_label">{% trans 'Telephone' %}:</label>
                            <input id="id_form_telephone" type="text" data-field= "telephone"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_form_email" class="tsa_margin_form_label">{% trans 'Email address' %}:</label>
                            <input id="id_form_email" type="text" data-field= "email"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_form_datefirst" class="tsa_margin_form_label">{% trans 'First date in service' %}:</label>
                            <input id="id_form_datefirst" type="text" data-field= "datefirst"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control input_popup_date">
                         </div>
                         <div class="content_subheader_left mx-1">
                            <label for="id_form_datelast" class="tsa_margin_form_label">{% trans 'Last date in service' %}:</label>
                            <input id="id_form_datelast" type="text" data-field= "datelast"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control input_popup_date">
                         </div>
                     </div>

                     <div class="content_header">
                         <div class="content_subheader_left mx-1">
                            <label for="id_form_address" class="tsa_margin_form_label">{% trans 'Address' %}:</label>
                            <input id="id_form_address" type="text" data-field= "city"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1">
                            <label for="id_form_city" class="tsa_margin_form_label">{% trans 'City' %}:</label>
                            <input id="id_form_city" type="text" data-field= "city"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1">
                            <label for="id_form_zipcode" class="tsa_margin_form_label">{% trans 'Zip code' %}:</label>
                            <input id="id_form_zipcode" type="text" data-field= "zipcode"
                            autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1">
                            <label for="id_form_country" class="tsa_margin_form_label">{% trans 'Country' %}:</label>
                            <input id="id_form_country" type="text" data-field= "country"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                     </div>

                     <div class="content_header">
                         <div class="content_subheader_left mx-1">
                             <label for="id_form_workhours" class="tsa_margin_form_label">{% trans 'Working hours per week' %}:</label>
                            <input id="id_form_workhours" type="text" data-field= "workhours"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_form_workdays" class="tsa_margin_form_label">{% trans 'Work days per week' %}:</label>
                            <input id="id_form_workdays" type="text" data-field= "workdays"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_form_leavedays" class="tsa_margin_form_label">{% trans 'Leave days per year' %}:</label>
                            <input id="id_form_leavedays" type="text" data-field= "workdays"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                            <small class="tsa_margin_form_label">{% trans 'Leave days are on a full time basis.' %}</small>
                         </div>
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_form_payrollcode" class="tsa_margin_form_label">{% trans 'Payroll code' %}:</label>
                            <input id="id_form_payrollcode" type="text" data-field= "payrollcode"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                     </div>
                     <div class="content_header">
                         <!--
                         <div class="content_subheader_left mx-1">
                            <label for="id_form_wagerate" class="tsa_margin_form_label">{% trans 'Hourly wage' %}:</label>
                            <input id="id_form_wagerate" type="text" data-field= "wagerate"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1">
                            <label for="id_form_wagecode" class="tsa_margin_form_label">{% trans 'Wage code' %}:</label>
                            <input id="id_form_wagecode" type="text" data-field= "wagecode"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         -->
                         <div class="content_subheader_left mx-1">
                            <label for="id_form_pricerate" class="tsa_margin_form_label">{% trans 'Billing rate per hour' %}:</label>
                            <input id="id_form_pricerate" type="text" data-field= "pricerate"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1"></div>
                         <div class="content_subheader_left mx-1"></div>
                         <div class="content_subheader_left mx-1"></div>
                     </div>

                    <div class="content_subheader_left mx-1 mt-4">
                        <button id="id_form_btn_add" type="button" class="btn btn-outline-primary">{% trans 'Add employee' %}</button>
                        <button id="id_form_btn_delete" type="button" disabled class="btn btn-outline-danger">{% trans 'Delete employee' %}</button>
                    </div>
                </div>

    <!-- =================== DATA TABLE  =================== -->
                <div id="id_div_tbl_employee" class="display_hide">
                     <table class="table tsa-tbl ">
                        <thead id="id_thead_employee"></thead>
                        <tbody id="id_tbody_employee"></tbody>
                    </table>
                </div>
                <div id="id_div_tbl_absence" class="display_hide">
                     <table  class="table tsa-tbl ">
                        <thead id="id_thead_absence"></thead>
                        <tbody id="id_tbody_absence"></tbody>
                    </table>
                </div>
                <div id="id_div_tbl_shifts" class="display_hide">
                     <table  class="table tsa-tbl ">
                        <thead id="id_thead_shifts"></thead>
                        <tbody id="id_tbody_shifts"></tbody>
                    </table>
                </div>
                <div id="id_div_tbl_planning" class="display_hide">
                     <table  class="table tsa-tbl">
                        <thead id="id_thead_planning"></thead>
                        <tbody id="id_tbody_planning"></tbody>
                    </table>
                </div>
                <div id="id_div_tbl_pricerate" class="display_hide">
                     <table  class="table tsa-tbl">
                        <thead id="id_thead_pricerate"></thead>
                        <tbody id="id_tbody_pricerate"></tbody>
                    </table>
                </div>
   <!-- =================== END DATA TABLE  =================== -->
            </div>
<!-- END CONTENT BODY -->
         </div>
<!-- =================== END CONTAINER =================== -->

        <div id="id_data"

            data-lang ="{{ lang }}"
            data-timezone ="{{ timezone }}"
            data-interval ="{{ interval }}"
            data-timeformat ="{{ timeformat }}"

            data-weekdays ="{{ weekdays }}"
            data-months ="{{ months }}"
            data-today ="{{ today }}"

            data-imgsrc_inactive_black = "{% static 'img/inactive_black.png' %}"
            data-imgsrc_inactive_grey = "{% static 'img/inactive_grey.png' %}"
            data-imgsrc_inactive_lightgrey = "{% static 'img/inactive_lightgrey.png' %}"
            data-imgsrc_delete="{% static 'img/delete.gif' %}"
            data-imgsrc_deletered="{% static 'img/deletered.gif' %}"
            data-imgsrc_warning="{% static 'img/warning.gif' %}"
            data-imgsrc_cross_red = "{% static 'img/cross_red.png' %}"
            data-imgsrc_cross_grey = "{% static 'img/cross_grey.png' %}"
            data-imgsrc_stat04="{% static 'img/stat04.png' %}"

            data-datalist_download_url="{% url 'datalist_download_url' %}"
            data-settings_upload_url="{% url 'settings_upload_url' %}"
            data-employee_import_url="{% url 'employee_import_url' %}"
            data-employee_upload_url="{% url 'employee_upload_url' %}"
            data-teammember_upload_url="{% url 'teammember_upload_url' %}"

            data-txt_company = "{% trans 'Company' %}"
            data-txt_employee = "{% trans 'Employee' %}"
            data-txt_employees= "{% trans 'Employees' %}"
            data-txt_employee_select= "{% trans 'Select employee' %}"
            data-txt_employee_select_none= "{% trans 'No employees' %}"
            data-txt_employee_enter= "{% trans 'Enter employee' %}"
            data-txt_employee_replacement= "{% trans 'Replacement employee' %}"
            data-txt_employee_replacement_add= "{% trans 'Add replacement employee' %}"
            data-txt_employee_list= "{% trans 'Employee list' %}"
            data-txt_employee_data= "{% trans 'Employee data' %}"
            data-txt_employee_import= "{% trans 'Upload employees' %}"
            data-txt_employee_delete= "{% trans 'Delete employee' %}"
            data-txt_employee_add= "{% trans 'Add new employee' %}"

            data-txt_shift_add= "{% trans 'Add shift' %}"
            data-txt_planning_download = "{% trans 'Download planning' %}"
            data-txt_planning_preview = "{% trans 'Preview planning' %}"

            data-txt_customer = "{% trans 'Customer' %}"
            data-txt_order= "{% trans 'Order' %}"
            data-txt_order_select= "{% trans 'Select order' %}"
            data-txt_shift= "{% trans 'Shift' %}"
            data-txt_team= "{% trans 'Team' %}"
            data-txt_of= "{% trans 'of' %}"
            data-txt_absence= "{% trans 'Absence' %}"
            data-txt_abscat = "{% trans 'Absence category' %}"
            data-txt_select_abscat = "{% trans 'Select absence category' %}"
            data-txt_select_abscat_none = "{% trans 'No absence categories' %}"
            data-txt_period = "{% trans 'Period' %}"
            data-txt_select_period = "{% trans 'Select period' %}"
            data-txt_planning = "{% trans 'Planning' %}"
            data-txt_printdate = "{% trans 'Print date' %}"
            data-txt_make_inactive = "{% trans 'Make employee inactive' %}"
            data-txt_make_active = "{% trans 'Make employee active' %}"


            data-txt_date="{% trans 'Date' %}"
            data-txt_rosterdate="{% trans 'Rosterdate' %}"
            data-txt_timestart= "{% trans 'Start time' %}"
            data-txt_timeend= "{% trans 'End time' %}"
            data-txt_datefirst= "{% trans 'First date' %}"
            data-txt_datelast= "{% trans 'Last date' %}"
            data-txt_hoursperday= "{% trans 'Hours per day' %}"
            data-txt_daysperweek= "{% trans 'Days per week' %}"
            data-txt_vacation= "{% trans 'Vacation days' %}"
            data-txt_identifier= "{% trans 'Identifier' %}"
            data-txt_pricerate= "{% trans 'Hourly rate' %}"
            data-txt_wagerate= "{% trans 'Wage rate' %}"

            data-txt_confirm_msg01_delete = "{% trans 'will be deleted.' %}"
            data-txt_confirm_msg01_employee_delete = "{% trans 'This employee will be deleted.' %}"
            data-txt_confirm_btn_delete = "{% trans 'Yes, delete' %}"
            data-txt_confirm_msg01_inactive = "{% trans 'This employee will be made inactive.' %}"
            data-txt_confirm_btn_inactive = "{% trans 'Yes, make inactive' %}"
        >
        </div>

    {% else %}
        <div class="alert alert-danger">{% trans 'Error' %}</div>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
    {% endif %}
{% endblock %}