{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block stylesheet %}
   <link rel="stylesheet" href="{% static 'css/dateselector.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'js/employees.js' %}"></script>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}

        <div class="popup display_hide" >
            <span class="popuptext" id="id_msgbox"></span>
        </div>

        <div class="content_header">
            <div class="content_subheader_left">
                <h5 id="id_content_header_name" title="test title">{% trans 'Employees' %} </h5>
            </div>
            <div class="content_subheader_right">
                <input id="id_filter_name" type="text" class="fieldname pt-0 pb-0" colspan=2 placeholder="{% trans 'filter...' %}">
            </div>
        </div>

        <table class="table table table-condensed tsa-tbl">
          <thead class="thead-inverse">
            <tr>
              <th>
                <a id="id_filter_inactive" href="#"
                   value="true">
                    <img id="id_img_filter_inactive" src="{% static 'img/inactive_grey.png' %}" height="24" width="24">
                </a>
              </th>
              <th>{% trans 'Code' %}</th>
              <th>{% trans 'Last name' %}</th>
              <th>{% trans 'First name' %}</th>
              <th>{% trans 'Prefix' %}</th>
              <th>{% trans 'Email' %}</th>
              <th>{% trans 'Telephone' %}</th>
              <th>{% trans 'Start date' %}</th>
              <th>{% trans 'Modified by' %}</th>
              <th>{% trans 'Modified at' %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="id_tbody">
            {% for item in employees.all %}
              <tr id="{{ item.pk }}" class="display_hide" >
                <td>
                    <a name="inactive" href="#"
                       value="{{ item.inactive }}"
                       class="input_icon">
                        {% if item.inactive %}
                            <img src="{% static 'img/inactive_black.png' %}" height="24" width="24">
                        {% else %}
                            <img src="{% static 'img/inactive_grey.png' %}" height="24" width="24">
                        {% endif %}
                    </a>
                </td>
                <td>
                    <!-- if autocomplete="off" doesn't work, use: autocomplete="new-password" -->
                    <input name="code"
                           type="text"
                           autocomplete="off"
                           maxlength="{{ item.maxlen_code }}"
                           value="{{ item.code}}"
                           o_value="{{ item.code}}"
                           class="input_text border_none" >
                </td>
                <td>
                    <input name="namelast"
                           type="text"
                           autocomplete="off"
                           maxlength="{{ item.maxlen_namelast }}"
                           value="{{ item.namelast}}"
                           o_value="{{ item.namelast}}"
                           class="input_text border_none" >
                </td>
                <td>
                    <input name="namefirst"
                           type="text"
                           autocomplete="off"
                           maxlength="{{ item.maxlen_namefirst }}"
                           value="{{ item.namefirst}}"
                           o_value="{{ item.namefirst}}"
                           class="input_text border_none" >
                </td>
                <td>
                    <input name="prefix"
                           type="text"
                           autocomplete="off"
                           maxlength="{{ item.maxlen_prefix|default_if_none:'' }}"
                           value="{{ item.prefix}}"
                           o_value="{{ item.prefix}}"
                           class="input_text border_none" >
                </td>
                <td>
                    <input name="email"
                           type="text"
                           autocomplete="off"
                           maxlength="{{ item.maxlen_email|default_if_none:'' }}"
                           value="{{ item.email}}"
                           o_value="{{ item.email}}"
                           class="input_text border_none" >
                </td>
                <td>
                    <input name="telephone"
                           type="text"
                           autocomplete="off"
                           maxlength="{{ item.maxlen_telephone|default_if_none:'' }}"
                           value="{{ item.telephone|default_if_none:'-'}}"
                           o_value="{{ item.telephone}}"
                           class="input_text border_none" >
                </td>
                <td >
                    <input name="datefirst"
                           type="date"
                           autocomplete="off"
                           value={{ item.datefirst_str}}
                           o_value={{ item.datefirst_str}}
                           max="{{ item.datelast}}"
                           class="input_text border_none" >

                </td>
                <td >
                    <input name="modifiedby"
                           type="text"
                           autocomplete="off"
                           value={{ item.modifiedby }}
                           readonly="readonly"
                           class="border_none" >
                </td>
                <td>
                    <input name="modifiedat"
                           type="text"
                           autocomplete="off"
                           value="{{ item.modifiedat|date:'DATETIME_FORMAT'}}"
                           readonly="readonly"
                           class="border_none" >
                </td>
                <td>
                    <a name="delete"
                       href="#" class="input_icon">
                        <img src="{% static 'img/delete.gif' %}" height="24" width="24">
                    </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="content_header">
            <div class="content_header_left">
                <a id="id_btn_add" class="btn btn-add">{% trans 'Add employee' %}</a>
            </div>
            <div class="content_header_right">
            </div>
        </div>
    <div id="id_data"
        data-img_inactive_src = "{% static 'img/inactive_black.png' %}"
        data-img_active_src = "{% static 'img/inactive_grey.png' %}"
        data-img_delete_src="{% static 'img/delete.gif' %}"
        data-employee_upload_url= "{% url 'employee_upload_url' %}"
        data-err_msg01= "{% trans 'An error occurred.' %}"
    ></div>

  {% else %}
    <div class="alert alert-danger">{% trans 'Error' %}</div>
    <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}l>