{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Payroll' %}{% endblock %}
{% block script %}
    <script src="{% static 'js/payroll.js' %}"></script>
{% endblock %}


<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3 id="id_SBR_hdr_text"></h3>
        </div>
        <div class="tab_show tab_payrollperiod display_hide tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Payroll period' %}:</h6>
            <input id="id_sbr_select_payrollperiod"
                type="text"
                class="tw_200 border_none pointer_show px-2"
                readonly>
        </div>
        <div class="tab_show tab_payrollperiod display_hide tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Closing date' %}:</h6>
            <input id="id_sbr_select_paydate"
                type="text"
                class="tw_200 border_none pointer_show px-2"
                readonly>
        </div>
        <div class="display_hide tw_200 mx-2 mt-2 mb-4">
            <h6 id="id_sbr_select_showll" class="tw_200 pointer_show line_height_normal px-2 py-1">{% trans 'Back to payroll period overview' %}</h6>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    {% if user.is_authenticated %}
<!-- =================== MODAL CONFIRM  =================== -->
        {% include 'includes/confirm.html' %}
<!-- =================== MODAL ABSCAT  =================== -->
        {% include 'includes/modabscat.html' %}
<!-- =================== MODAL PAYROLL PERIOD  =================== -->
        {% include 'includes/modpayrollperiod.html' %}
<!-- =================== MODAL SELECT EMPLOYEE  =================== -->
        {% include 'includes/modselectemployee.html' %}
<!-- =================== MODAL SELECT PAYDATE  =================== -->
        {% include 'includes/modselectpaydate.html' %}
<!-- =================== MODAL EMPLHOUR PAYROLL =================== -->
        {% include 'includes/modemplhourpayroll.html' %}
<!-- =================== CONTAINER =================== -->
        <div class="containerXX ">

<!-- CONTENT HEADER - LOADER -->
            <div class="tsa_margin_top_48 mx-4">
    <!-- class content_header -->
                <div class="content_header">
         <!-- header_text -->
                    <div class="content_subheader_left mx-4">
                        <h5 id="id_hdr_text"></h5>
                    </div>
         <!-- loader -->
                    <div class="content_header_middle">
                        <div id="id_loader" class="image_container visibility_hide">
                            <img  src="{% static 'img/loader.gif' %}" height="24" width="24">
                        </div>
                    </div>
                </div>
    <!-- end class content_header -->
    <!-- BUTTON GROUP -->
                <div id="id_btn_container" class="btn-group btn-block mx-2 my-2" role="group" aria-label="Choose option" >
                    <button data-btn="payrollperiod" class="btn btn-secondary ">{% trans 'Payroll period overview' %}</button>
                    <button data-btn="paydatecode" class="btn btn-secondary ">{% trans 'Payroll periods' %}</button>
                    <button data-btn="order" class="btn btn-secondary ">{% trans 'Absence categories' %}</button>
                </div>
    <!-- end BUTTON GROUP -->
            </div>
<!-- end CONTENT HEADER - LOADER -->

<!-- CONTENT BODY -->
            <div class="content_body ml-4 mr-0">
                <div class="modal_containerXX">
<!-- =================== DATA TABLE  =================== -->
                    <div class="tab_show tab_payrollperiod tab_order display_hide">
                         <table class="table tsa_tbl">
                            <thead id="id_tblHead_datatable"></thead>
                            <tbody id="id_tblBody_datatable"></tbody>
                            <tfoot id="id_tblFoot_datatable"></tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="content_header ml-4 mr-0 tab_show tab_paydatecode display_hide">
                 <div class="tsa_flex_2 m-0">
                     <table class="table tsa_tbl">
                        <thead id="id_tblHead_paydatecode"></thead>
                        <tbody id="id_tblBody_paydatecode"></tbody>
                        <tfoot id="id_tblFoot_paydatecode"></tfoot>
                     </table>
                 </div>
                 <div class="tsa_flex_1 m-2">
                    <button id="id_btn_add_selected" class="btn btn-block btn-outline-secondary "> --->  <br> {% trans 'Link payrollperiod to selected employees' %}</button>
                    <button id="id_btn_remove_selected" class="btn btn-block btn-outline-secondary "> <---  <br> {% trans 'Remove payrollperiod from selected employees' %}</button>
                 </div>
                 <div class="tsa_flex_4 m-0">
                      <table class="table tsa_tbl">
                        <thead id="id_tblHead_employee"></thead>
                        <tbody id="id_tblBody_employee"></tbody>
                      </table>
                </div>
            </div>
<!-- END CONTENT BODY -->
         </div>

<!-- =================== END CONTAINER =================== -->

        <div id="id_data"
            data-datalist_download_url="{% url 'datalist_download_url' %}"
            data-settings_upload_url="{% url 'settings_upload_url' %}"
            data-payroll_upload_url="{% url 'payroll_upload_url' %}"
            data-paydatecode_import_url="{% url 'paydatecode_import_url' %}"
            data-imgsrc_inactive_black = "{% static 'img/inactive_black.png' %}"
            data-imgsrc_inactive_grey = "{% static 'img/inactive_grey.png' %}"
            data-imgsrc_inactive_lightgrey = "{% static 'img/inactive_lightgrey.png' %}"
            data-imgsrc_delete="{% static 'img/delete.gif' %}"
            data-imgsrc_deletered="{% static 'img/deletered.gif' %}"
            data-imgsrc_warning="{% static 'img/warning.gif' %}"
            data-imgsrc_cross_red = "{% static 'img/cross_red.png' %}"
            data-imgsrc_cross_grey = "{% static 'img/cross_grey.png' %}"
            data-imgsrc_stat00="{% static 'img/stat00.png' %}"
            data-imgsrc_chck01="{% static 'img/chck01.png' %}"
        >
        </div>

    {% else %}
        <div class="alert alert-danger">{% trans 'Error' %}</div>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
    {% endif %}
{% endblock %}