{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Payroll' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/payroll201109.js' %}"></script>
{% endblock %}


<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3 id="id_SBR_hdr_text"></h3>
        </div>
        <div class="tab_show tab_payroll_agg tab_payroll_detail display_hide">
        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 id="id_SBR_label_select_period" class="tw_200 line_height_normal px-2">{% trans 'Period' %}:</h6>
            <input id="id_SBR_select_period"
                type="text"
                class="tw_200 border_none pointer_show px-2"
                readonly>
        </div>

        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 id="id_SBR_label_select_employee" class="tw_200 line_height_normal px-2">{% trans 'Employee' %} / {% trans 'Function' %}:</h6>
            <input id="id_SBR_select_employee"
                type="text"
                class="tw_200 border_none pointer_show px-2"
                readonly>
        </div>
        <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Customer and order' %}:</h6>
            <input id="id_SBR_select_order"
                type="text"
                class="tw_200 border_none pointer_show px-2"
                readonly>
        </div>

       <div class="tw_200 mx-2 mt-2 mb-4">
            <h6 class="tw_200 line_height_normal px-2">{% trans 'Absence' %}:</h6>
           <select id="id_SBR_select_absence"
                type="text"
                class="tw_200 border_none px-2"
                autocomplete="off" ondragstart="return false;" ondrop="return false;"
           ></select>
        </div>
        <div class="tw_200 mx-2 mt-2">
            <h6 id="id_SBR_select_showall" class="tw_200 pointer_show line_height_normal px-2 py-1">{% trans 'Show all from this period' %}</h6>
        </div>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    <div class="tsa_margin_top48_left24">
        {% if user.is_authenticated %}
            {% if user.is_perm_hrman %}
        <!-- =================== MODAL CONFIRM  =================== -->
                {% include 'includes/confirm.html' %}
        <!-- =================== MODAL MESSAGE  =================== -->
                {% include 'includes/modmessage.html' %}
        <!-- =================== MODAL ABSCAT  =================== -->
                {% include 'includes/modabscat.html' %}
        <!-- =================== MODAL PERIOD OR PAYROLL PERIOD =================== -->
                {% include 'includes/modselectperiodorpaydate.html' %}
        <!-- =================== MODAL PAYROLL PERIOD  =================== -->
                {% include 'includes/modpayrollperiod.html' %}
        <!-- =================== MODAL FUNCTION CODE =================== -->
                {% include 'includes/modfunctioncode.html' %}
        <!-- =================== MODAL WAGE CODE =================== -->
                {% include 'includes/modwagecode.html' %}
        <!-- =================== MODAL WAGE FACTOR =================== -->
                {% include 'includes/modwagefactor.html' %}
        <!-- =================== MODAL SELECT ORDER  ===================-->
                {% include 'includes/modselectcustomerorder.html' %}
        <!-- =================== MODAL SELECT EMPLOYEE FUNCTION =================== -->
                {% include 'includes/modselectemployeefunction.html' %}
        <!-- =================== MODAL SELECT PAYDATE  =================== -->
                {% include 'includes/modselectpaydate.html' %}
        <!-- =================== MODAL SELECT COLUMNS  =================== -->
                {% include 'includes/modselectcolumns.html' %}
        <!-- =================== MODAL EMPLHOUR PAYROLL =================== -->
                {% include 'includes/modemplhourpayroll.html' %}

<!-- =================== CONTAINER =================== -->

<!-- CONTENT HEADER - LOADER -->
        <!-- class content_header -->
                <div class="content_header pt-4">
        <!-- header_text -->
                    <div class="content_subheader_left mx-4">
                        <h5 id="id_hdr_text"></h5>
                    </div>
        <!-- loader -->
                    <div class="content_header_middle">
                        <div id="id_loader" class="image_container visibility_hide">
                            <img  src="{% static 'img/loader.gif' %}" height="24" width="24">
                        </div>
                    </div>
                </div>
        <!-- end class content_header -->
<!-- BUTTON GROUP -->
                <div id="id_btn_container" class="btn-group btn-block ml-2 pr-4 my-2" role="group" aria-label="Choose option" >
                    <button data-btn="payroll_agg" class="btn btn-secondary ">{% trans 'Roster totals' %}</button>
                    <button data-btn="payroll_detail" class="btn btn-secondary ">{% trans 'Roster details' %}</button>
                    <button data-btn="functioncode" class="btn btn-secondary">{% trans 'Functions' %}</button>
                    <button data-btn="paydatecode" class="btn btn-secondary">{% trans 'Payroll periods' %}</button>
                    <button data-btn="wagecode" class="btn btn-secondary display_hide">{% trans 'Wage codes' %}</button>
                    <button data-btn="wagefactor" class="btn btn-secondary">{% trans 'Wage factors' %}</button>
                    <button data-btn="abscat" class="btn btn-secondary ">{% trans 'Absence categories' %}</button>
                </div>
    <!-- end BUTTON GROUP -->

<!-- end CONTENT HEADER - LOADER -->

    <!-- CONTENT BODY -->
                <div class="content_body ml-2 mr-0">

    <!-- =================== DATA TABLE  =================== -->
                    <div class="tab_show tab_payroll_agg tab_payroll_detail tab_abscat display_hide">
                         <table class="table tsa_tbl">
                            <thead id="id_tblHead_datatable"></thead>
                            <tbody id="id_tblBody_datatable"></tbody>
                            <tfoot id="id_tblFoot_datatable"></tfoot>
                        </table>
                    </div>

                    <div class="content_header ml-2 mr-0 tab_show tab_paydatecode tab_functioncode tab_wagefactor display_hide">
                         <div class="tsa_flex_2 m-0">
                             <table class="table tsa_tbl">
                                <thead id="id_tblHead_paydatecode"></thead>
                                <tbody id="id_tblBody_paydatecode"></tbody>
                                <tfoot id="id_tblFoot_paydatecode"></tfoot>
                             </table>
                         </div>
                         <div class="tsa_flex_1 m-2 tab_show tab_paydatecode tab_functioncode display_hide">
                            <button id="id_btn_add_selected" class="btn btn-block btn-outline-secondary "></button>
                            <button id="id_btn_remove_selected" class="btn btn-block btn-outline-secondary "></button>
                         </div>
                         <div class="tsa_flex_4 m-0 tab_show tab_paydatecode tab_functioncode display_hide">
                              <table class="table tsa_tbl">
                                <thead id="id_tblHead_employee"></thead>
                                <tbody id="id_tblBody_employee"></tbody>
                              </table>
                        </div>
                    </div>
    <!-- END CONTENT BODY -->
                </div>
<!-- =================== END CONTAINER =================== -->

                <div id="id_data"
                    data-datalist_download_url="{% url 'datalist_download_url' %}"
                    data-settings_upload_url="{% url 'settings_upload_url' %}"
                    data-payroll_upload_url="{% url 'payroll_upload_url' %}"
                    data-emplhour_upload_url="{% url 'emplhour_upload_url' %}"
                    data-paydatecode_import_url="{% url 'paydatecode_import_url' %}"
                    data-imgsrc_inactive_black = "{% static 'img/inactive_black.png' %}"
                    data-imgsrc_inactive_grey = "{% static 'img/inactive_grey.png' %}"
                    data-imgsrc_inactive_lightgrey = "{% static 'img/inactive_lightgrey.png' %}"
                    data-imgsrc_delete="{% static 'img/delete.gif' %}"
                    data-imgsrc_deletered="{% static 'img/deletered.gif' %}"
                    data-imgsrc_warning="{% static 'img/warning.gif' %}"
                    data-imgsrc_cross_red = "{% static 'img/cross_red.png' %}"
                    data-imgsrc_cross_grey = "{% static 'img/cross_grey.png' %}"
                    data-imgsrc_stat00="{% static 'img/stat00.png' %}"
                    data-imgsrc_chck01="{% static 'img/chck01.png' %}"
                >
                </div>

            {% else %}
                <div class="mx-4">
                    <div class="alert alert-danger">{% trans "You don't have permission to view this page." %}</div>
                </div>
            {% endif %}
        {% else %}
            <div class="mx-4">
                <div class="alert alert-danger">{% trans "You must be logged in to view this page." %}</div>
            </div>
        {% endif %}
    </div>
{% endblock %}