{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Payroll' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/payroll210706.js' %}"></script>
{% endblock %}


<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3 id="id_SBR_hdr_text"></h3>
        </div>
        <div class="tab_show tab_btn_payroll_agg tab_btn_payroll_detail tab_published display_hide">
            <div class="tw_200 mx-2 mt-2 mb-4">
                <h6 id="id_SBR_label_select_period" class="tw_200 line_height_normal px-2">{% trans 'Period' %}:</h6>
                <input id="id_SBR_select_period"
                    type="text"
                    class="tw_200 border_none pointer_show px-2"
                    readonly>
            </div>
        </div>
        <div class="tab_show tab_btn_payroll_agg tab_btn_payroll_detail display_hide">
            <div class="tw_200 mx-2 mt-2 mb-4">
                <h6 id="id_SBR_label_select_allowance" class="tw_200 line_height_normal px-2">{% trans 'Hours' %} / {% trans 'Allowances' %}:</h6>
                <select id="id_SBR_select_allowance" class="tw_200 border_none px-2"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;">
                    <option value="hours">{% trans 'Hours' %}</option>
                    <option value="allowances">{% trans 'Allowances' %}</option>
               </select>
            </div>

            <div class="tw_200 mx-2 mt-2 mb-4">
                <h6 id="id_SBR_label_select_employee" class="tw_200 line_height_normal px-2">{% trans 'Employee' %} / {% trans 'Function' %}:</h6>
                <input id="id_SBR_select_employee"
                    type="text"
                    class="tw_200 border_none pointer_show px-2"
                    readonly>
            </div>


        </div>

        <div class="tw_200 mx-2 mt-2 mb-4 display_hide">
            <h6 class="tw_200 line_height_normal px-2 ">{% trans 'Customer and order' %}:</h6>
            <input id="id_SBR_select_order"
                type="text"
                class="tw_200 border_none pointer_show px-2"
                readonly>
        </div>

       <div class="tw_200 mx-2 mt-2 mb-4 display_hide">
            <h6 class="tw_200 line_height_normal px-2 ">{% trans 'Absence' %}:</h6>
           <select id="id_SBR_select_absence"
                class="tw_200 border_none px-2"
                autocomplete="off" ondragstart="return false;" ondrop="return false;"
           ></select>
        </div>
        <div class="tw_200 mx-2 mt-2 display_hide">
            <h6 id="id_SBR_select_showall" class="tw_200 pointer_show line_height_normal px-2 py-1">{% trans 'Show all from this period' %}</h6>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    <div class="tsa_margin_top48_left24">
        {% if user.is_authenticated %}
            {% if user.is_perm_hrman %}
                {% include 'includes/confirm.html' %}
                {% include 'includes/modmessage.html' %}
                {% include 'includes/modabscat.html' %}
                {% include 'includes/modpublishpayrollperiod.html' %}
                {% include 'includes/modselectperiodorpaydate.html' %}
                {% include 'includes/modpayrollperiod.html' %}
                {% include 'includes/modfunctioncode.html' %}
                {% include 'includes/modwagecode.html' %}
                {% include 'includes/modwagefactor.html' %}
                {% include 'includes/modselectcustomerorder.html' %}
                {% include 'includes/modselectemployeefunction.html' %}
                {% include 'includes/modselectpaydate.html' %}
                {% include 'includes/modselectcolumns.html' %}
                {% include 'includes/modemplhourpayroll.html' %}
                {% include 'includes/modtimepicker.html' %}


<!-- =================== CONTAINER =================== -->
<!-- BUTTON GROUP -->
                <div id="id_btn_container" class="btn-group btn-block m-2 pr-4 pt-3" role="group" aria-label="Choose option" >
                    <button data-btn="btn_payroll_agg" class="btn btn-secondary ">{% trans 'Roster totals' %}</button>
                    <button data-btn="btn_payroll_detail" class="btn btn-secondary ">{% trans 'Roster details' %}</button>
                    <button data-btn="published" class="btn btn-secondary">{% trans 'Close payroll period' %}</button>
                    <button data-btn="paydatecode" class="btn btn-secondary">{% trans 'Payroll periods' %}</button>
                    <button data-btn="wagefactor" class="btn btn-secondary">{% trans 'Wage components' %}</button>
                    <button data-btn="wagecode" class="btn btn-secondary display_hide">{% trans 'Salary scales' %}</button>
                    <button data-btn="functioncode" class="btn btn-secondary">{% trans 'Functions' %}</button>
                    <button data-btn="allowance" class="btn btn-secondary ">{% trans 'Allowances' %}</button>
                    <button data-btn="abscat" class="btn btn-secondary ">{% trans 'Absence categories' %}</button>
                </div>
    <!-- end BUTTON GROUP -->

<!-- CONTENT HEADER - LOADER -->
        <!-- class content_header -->
                <div class="content_header pt-2">
        <!-- header_text -->
                    <div class="content_subheader_left mx-4">
                        <h5 id="id_hdr_text"></h5>
                    </div>
        <!-- loader -->
                    <div class="content_header_middle py-2">
                        {% include 'includes/loader.html' %}
                    </div>
                </div>
        <!-- end class content_header -->


<!-- end CONTENT HEADER - LOADER -->

    <!-- CONTENT BODY -->
                <div class="content_body ml-2 mr-0">

    <!-- =================== DATA TABLE  =================== -->
                    <div class="tab_show tab_btn_payroll_agg tab_btn_payroll_detail tab_published tab_abscat display_hide">
                         <table class="table tsa_tbl">
                            <thead id="id_tblHead_datatable"></thead>
                            <tbody id="id_tblBody_datatable"></tbody>
                            <tfoot id="id_tblFoot_datatable"></tfoot>
                        </table>
                    </div>

                    <div class="content_header ml-2 mr-0 tab_show tab_paydatecode tab_functioncode tab_wagefactor tab_allowance display_hide">
                         <div class="tsa_flex_2 m-0">
                             <table class="table tsa_tbl">
                                <thead id="id_tblHead_paydatecode"></thead>
                                <tbody id="id_tblBody_paydatecode"></tbody>
                                <tfoot id="id_tblFoot_paydatecode"></tfoot>
                             </table>
                         </div>
                         <div class="tsa_flex_1 m-2 tab_show tab_paydatecode tab_functioncode display_hide">
                            <button id="id_btn_add_selected" class="btn btn-block btn-outline-secondary "></button>
                            <button id="id_btn_remove_selected" class="btn btn-block btn-outline-secondary "></button>
                         </div>
                         <div class="tsa_flex_4 m-0 tab_show tab_paydatecode tab_functioncode display_hide">
                              <table class="table tsa_tbl">
                                <thead id="id_tblHead_employee"></thead>
                                <tbody id="id_tblBody_employee"></tbody>
                              </table>
                        </div>
                    </div>
    <!-- END CONTENT BODY -->
                </div>
<!-- =================== END CONTAINER =================== -->

                <div id="id_data"
                    data-datalist_download_url="{% url 'datalist_download_url' %}"
                    data-settings_upload_url="{% url 'settings_upload_url' %}"
                    data-payroll_upload_url="{% url 'payroll_upload_url' %}"
                    data-publish_upload_url="{% url 'publish_upload_url' %}"

                    data-emplhour_upload_url="{% url 'emplhour_upload_url' %}"
                    data-payroll_correction_url="{% url 'payroll_correction_url' %}"
                    data-paydatecode_import_url="{% url 'paydatecode_import_url' %}"
                    data-afas_hours_xlsx_url="{% url 'afas_hours_xlsx_url' %}"
                    data-afas_ehal_xlsx_url="{% url 'afas_ehal_xlsx_url' %}"


                    data-payrollpublished_xlsx_url="{% url 'payrollpublished_xlsx_url' '-' %}"

                    data-imgsrc_inactive_lightgrey = "{% static 'img/inactive_lightgrey.png' %}"
                    data-imgsrc_delete="{% static 'img/delete.gif' %}"
                    data-imgsrc_deletered="{% static 'img/deletered.gif' %}"
                    data-imgsrc_warning="{% static 'img/warning.gif' %}"
                    data-imgsrc_stat00="{% static 'img/stat00.png' %}"
                    data-imgsrc_chck01="{% static 'img/chck01.png' %}"
                >
                </div>

            {% else %}
                <div class="mx-4">
                    <div class="alert alert-danger">{% trans "You don't have permission to view this page." %}</div>
                </div>
            {% endif %}
        {% else %}
            <div class="mx-4">
                <div class="alert alert-danger">{% trans "You must be logged in to view this page." %}</div>
            </div>
        {% endif %}
    </div>
{% endblock %}