{% load i18n %}
{% load static %}

 <!-- =================== CALENDAR  =================== -->
    <div id="id_div_tbl_calendar" class="display_hide">

        <div class="content_header mx-2 mb-2">
            <div class="content_subheader_left mx-2">
                <h5 id="id_calendar_hdr_text"></h5>
            </div>

            <div id="id_btns_calendar" class="content_subheader_right">
                <button id="id_btn_prevweek" data-mode="prevweek" title="{% trans 'Show previous week.' %}" class="btn btn-add ml-2">&Larr;</button>
                <button id="id_btn_prevday" data-mode="prevday" title="{% trans 'Go one day back.' %}" class="btn btn-add">&larr;</button>
                <button id="id_btn_select date" data-mode="thisweek" class="btn btn-add">{% trans 'This week' %}</button>
                <button id="id_btn_nextday" data-mode="nextday" title="{% trans 'Go one day forward.' %}" class="btn btn-add"> &rarr;</button>
                <button id="id_btn_nextweek" data-mode="nextweek" title="{% trans 'Show next week.' %}" class="btn btn-add"> &Rarr;</button>
            </div>
        </div>

         <table  class="table tsa-tbl">
            <thead id="id_thead_calendar"></thead>
            <tbody id="id_tbody_calendar"></tbody>
        </table>
    </div>
<!-- =================== END CALENDAR  =================== -->