{% load i18n %} {% load l10n %}
{% load static %}

<!-- =================== MODAL ABSENCE CATEGORY =================== -->
    <div class="modal" id="id_mod_abscat" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_MAC_hdr_abscat" class="modal-title mx-2" >{% trans 'Absence category' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="modal_container">

                        <div class="modal_body_right mx-2 my-1">

                                <div id="id_MAC_input_container"  class="content_header m-2 mb-4">
                                    <div class="tsa_flex_1 mx-1">
                                        <label for="id_MAC_input_code" class="px-2">{% trans 'Absence category' %}:</label>
                                        <input id="id_MAC_input_code" type="text" data-field= "o_code"
                                            autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                            class="tsa_input_text form-control">
                                    </div>
                                    <div class="tsa_flex_1 mx-1">
                                        <label for="id_MAC_input_identifier" class="px-2">{% trans 'Payroll code' %}:</label>
                                        <input id="id_MAC_input_identifier" type="text" data-field= "o_identifier"
                                            autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                            class="tsa_input_text form-control">
                                    </div>
                                    <div class="tsa_flex_1 mx-1">
                                        <label for="id_MAC_input_sequence" class="px-2">{% trans 'Priority' %}:</label>
                                        <input id="id_MAC_input_sequence" type="number" min="0" max="999" step="1" data-field= "o_sequence"
                                            autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                            class="tsa_input_text form-control">
                                    </div>

                                </div>


                            <div class="border_bg_transparent m-2 p-2">
                                <div class="px-2 pb-2"><b>{% trans "Don't count absence hours on" %}:</b></div>
                                <div id="id_MAC_nohours_container" class="content_header">
                                    <div class="tsa_flex_2 mx-1">
                                        <span>
                                            <input id="id_MAC_noweekday" type="checkbox" data-field="o_nowd" class="tsa_input_checkbox tw_032">
                                            <label for="id_MAC_noweekday" class="mx-1 mt-2 mb-0">{% trans 'Weekdays' %}</label>
                                        </span>
                                    </div>
                                    <div class="tsa_flex_2 mx-1">
                                        <span>
                                            <input id="id_MAC_nosat" type="checkbox" data-field="o_nosat" class="tsa_input_checkbox tw_032">
                                            <label for="id_MAC_nosat" class="mx-1 mt-2 mb-0">{% trans 'Saturdays' %}</label>
                                        </span>
                                    </div>
                                    <div class="tsa_flex_2 mx-1">
                                        <span>
                                            <input id="id_MAC_nosun" type="checkbox" data-field="o_nosun" class="tsa_input_checkbox tw_032">
                                            <label for="id_MAC_nosun" class="mx-1 mt-2 mb-0">{% trans 'Sundays' %}</label>
                                        </span>
                                    </div>
                                    <div class="tsa_flex_2 mx-1">
                                        <span>
                                            <input id="id_MAC_noph" type="checkbox" data-field="o_noph" class="tsa_input_checkbox tw_032">
                                            <label for="id_MAC_noph" class="mx-1 mt-2 mb-0">{% trans 'Public holidays' %}</label>
                                        </span>
                                    </div>
                                </div>

                            </div>

                            {% include 'includes/modabscatwagecodes.html' %}

                        </div>
                    </div>  <!-- end modal_container -->
                </div>

                <div class="modal-footer pr-4">
                    <div class="content_subheader_left mx-1">
                        <button id="id_MAC_btn_delete" type="button" data-dismiss="modal" class="btn btn-outline-danger">{% trans 'Delete absence category' %}</button>
                    </div>
                    <div class="content_subheader_right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MAC_btn_save" type="button" data-dismiss="modal" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>