{% load i18n %} {% load l10n %}
{% load static %}

<!-- =================== MODAL ABSENCE CATEGORY =================== -->
    <div class="modal" id="id_mod_abscat" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_MAC_hdr_abscat" class="modal-title mx-2" >{% trans 'Absence category' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal_container">
                        <div id="id_MAC_input_container" class="modal_body_right mx-2 my-1">
                            <div class="content_header">
                                <div class="tsa_flex_1 mx-1">
                                    <label for="id_MAC_input_code" class="tsa_margin_form_label">{% trans 'Absence category' %}:</label>
                                    <input id="id_MAC_input_code"
                                        type="text"
                                        data-field= "code"
                                        autocomplete="off"
                                        ondragstart="return false;"
                                        ondrop="return false;"
                                        class="tsa_input_text form-control">
                                </div>
                                <div class="tsa_flex_1 mx-1">
                                    <label for="id_MAC_input_identifier" class="tsa_margin_form_label">{% trans 'Identifier' %}:</label>
                                    <input id="id_MAC_input_identifier"
                                        type="text"
                                        data-field= "identifier"
                                        autocomplete="off"
                                        ondragstart="return false;"
                                        ondrop="return false;"
                                        class="tsa_input_text form-control">
                                </div>
                                <div class="tsa_flex_1 mx-1">
                                    <label for="id_MAC_input_sequence" class="tsa_margin_form_label">{% trans 'Priority' %}:</label>
                                    <input id="id_MAC_input_sequence"
                                        type="text"
                                        data-field= "sequence"
                                        autocomplete="off"
                                        ondragstart="return false;"
                                        ondrop="return false;"
                                        class="tsa_input_text form-control">
                                </div>
                            </div>

                            <div class="content_header">
                                <div class="tsa_flex_1 mx-1 mt-1 ">
                                    <small id="id_MAC_err_code" class="text-danger tsa_margin_form_label"></small>
                                </div>
                                <div class="tsa_flex_1 mx-1 mt-1">
                                <small id="id_MAC_err_sequence" class="text-danger tsa_margin_form_label"></small>
                                </div>
                            </div>
                            <div class="content_header">
                                <label class="tsa_margin_form_label">{% trans "Salary payment during this absence" %}:</label>
                            </div>
                            <div class="content_header">
                                <div class="tsa_flex_1 mx-1">
                                    <span>
                                        <input id="id_MAC_pay" type="checkbox" data-field="pay" class="tsa_input_checkbox td_width_032">
                                        <label for="id_MAC_pay" class="mx-1 mt-2 mb-0">{% trans 'Payment' %}</label>
                                    </span>
                                </div>
                                <div class="tsa_flex_2 mx-1">
                                    <span>
                                        <input id="id_MAC_nopay" type="checkbox" data-field="nopay" class="tsa_input_checkbox td_width_032">
                                        <label for="id_MAC_nopay" class="mx-1 mt-2 mb-0">{% trans 'No payment' %}</label>
                                    </span>
                                </div>
                            </div>

                            <div class="content_header mt-2">
                                <label class="tsa_margin_form_label">{% trans "Don't count absence hours on" %}:</label>
                            </div>
                            <div class="content_header">
                                <div class="tsa_flex_2 mx-1">
                                    <span>
                                        <input id="id_MAC_nosat" type="checkbox" data-field="nohoursonsaturday" class="tsa_input_checkbox td_width_032">
                                        <label for="id_MAC_nosat" class="mx-1 mt-2 mb-0">{% trans 'Saturdays' %}</label>
                                    </span>
                                </div>
                                <div class="tsa_flex_2 mx-1">
                                    <span>
                                        <input id="id_MAC_nosun" type="checkbox" data-field="nohoursonsunday" class="tsa_input_checkbox td_width_032">
                                        <label for="id_MAC_nosun" class="mx-1 mt-2 mb-0">{% trans 'Sundays' %}</label>
                                    </span>
                                </div>
                                <div class="tsa_flex_3 mx-1">
                                    <span>
                                        <input id="id_MAC_noph" type="checkbox" data-field="nohoursonpublicholiday" class="tsa_input_checkbox td_width_032">
                                        <label for="id_MAC_noph" class="mx-1 mt-2 mb-0">{% trans 'Public holidays' %}</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>  <!-- end modal_container -->
                </div>

                <div class="modal-footer pr-4">
                    <div class="content_subheader_left mx-1">
                        <button id="id_MAC_btn_delete" type="button" data-dismiss="modal" class="btn btn-outline-danger">{% trans 'Delete absence category' %}</button>
                    </div>
                    <div class="content_subheader_right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MAC_btn_save" type="button" data-dismiss="modal" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

