{% load i18n %} {% load l10n %}
{% load static %}

<!-- =================== MODAL ABSENCE  =================== -->
    <div class="modal" id="id_mod_absence" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_MAB_hdr_absence" class="modal-title mx-2" >{% trans 'Absence' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="modal_container">
                        <div class="modal_body_left">
                            <div class="content_subheader_left mx-2 my-1">
                                <div class="mx-2">
                                    <h6 id="id_MAB_hdr_select" >{% trans 'Employees' %}:</h6>
                                </div>
                                <div style="overflow-x:hidden;overflow-y:auto;height:334px;width:220px"> <!-- this div is necessary to get standard structure for FilterTableRows -->
                                    <table class="table tsa_tbl m-1">
                                        <tbody id="id_MAB_tblbody_select"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="modal_body_right mx-2 my-1">
                            <div id="id_MAB_div_input_employee" class="content_subheader_left mx-1 display_hide">
                                <label for="id_MAB_input_employee" class="mx-2 mt-0 mb-1">{% trans 'Select employee' %}:</label>
                                <input id="id_MAB_input_employee"
                                    type="text"
                                    autocomplete="off"
                                    ondragstart="return false;"
                                    ondrop="return false;"
                                    class="form-control"
                                    placeholder="{% trans 'Type a few letters and select an employee in the list ...' %}">
                            </div>
                            <div class="content_subheader_left mx-1">
                                <label for="id_MAB_input_order" class="tsa_margin_form_label">{% trans 'Select absence category' %}:</label>
                                <input id="id_MAB_input_order"
                                    type="text"
                                    data-field= "order"
                                    autocomplete="off"
                                    ondragstart="return false;"
                                    ondrop="return false;"
                                    class="form-control"
                                    placeholder="{% trans 'Type a few letters and select an absence category in the list ...' %}">
                            </div>

                            <div class="content_header">
                                <div class="content_subheader_left mx-1">
                                    <label for="id_MAB_input_datefirst" class="tsa_margin_form_label">{% trans 'Start date' %}:</label>
                                    <input id="id_MAB_input_datefirst" type="date" data-field= "datefirst" class="form-control">
                                </div>
                                <div class="content_subheader_left mx-1">
                                    <label for="id_MAB_input_datelast" class="tsa_margin_form_label">{% trans 'End date' %}:</label>
                                    <input id="id_MAB_input_datelast" type="date" data-field="datelast"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                                </div>
                            </div>
                            <div class="content_subheader_left mx-1">
                                <small id="id_MAB_msg_input_datefirstlast" class="tsa_margin_form_label display_hideXX"></small>
                             </div>
                            <div id="id_MAB_oneday_container"  class="content_subheader_left mx-1">
                                <span>
                                    <input id="id_MAB_oneday" type="checkbox" data-field="oneday"class="tw_032 mx-2">
                                    <label for="id_MAB_oneday" class="mx-1 mt-2 mb-0">{% trans 'One day only' %}</label>
                                </span>
                            </div>
                            <div class="content_header">
                                <div class="content_subheader_left mx-1">
                                    <label for="id_MAB_input_offsetstart" class="tsa_margin_form_label">{% trans 'Start time' %}:</label>
                                    <p id="id_MAB_input_offsetstart" data-toggle="modal" href="#id_mod_timepicker"
                                       data-field= "offsetstart" tabindex="0" class="form-control pointer_show mb-0"> </p>
                                </div>
                                <div class="content_subheader_left mx-1">
                                    <label for="id_MAB_input_offsetend" class="tsa_margin_form_label">{% trans 'End time' %}:</label>
                                    <p id="id_MAB_input_offsetend" data-toggle="modal" href="#id_mod_timepicker"
                                       data-field="offsetend" tabindex="0" class="form-control pointer_show mb-0">  </p>
                                </div>
                                <div class="content_subheader_left mx-1">
                                    <label for="id_MAB_input_breakduration" class="tsa_margin_form_label">{% trans 'Break' %}:</label>
                                    <p id="id_MAB_input_breakduration" data-toggle="modal" href="#id_mod_timepicker"
                                       data-field="breakduration" tabindex="0" class="form-control pointer_show mb-0">  </p>
                                </div>
                                <div class="content_subheader_left mx-1">
                                    <label id="id_MAB_label_timeduration"  for="id_MAB_input_timeduration" class="tsa_margin_form_label">{% trans 'Hours' %}:</label>
                                    <p id="id_MAB_input_timeduration" data-toggle="modal" href="#id_mod_timepicker"
                                       data-field="timeduration" tabindex="0" class="form-control pointer_show mb-0">  </p>
                                </div>
                            </div>
                            <div class="content_subheader_left mx-1">
                                <small class="tsa_margin_form_label">{% trans "Instead of the start- and endtime you can also enter the hours." %}</small>
                             </div>
                        </div>
                    </div>  <!-- end modal_container -->
                </div>

                <div class="modal-footer pr-4">
                    <div class="content_subheader_left mx-1">
                        <button id="id_MAB_btn_delete" type="button" data-dismiss="modal" class="btn btn-outline-danger">{% trans 'Delete absence' %}</button>
                    </div>
                    <div class="content_subheader_right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MAB_btn_save" type="button" data-dismiss="modal" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- =================== END MODAL ABSENCE  =================== -->
