{% load i18n %} {% load l10n %}
{% load static %}

<!-- =================== MODAL EMPLHOUR PAYROLL  =================== -->
    <div class="modal fade" id="id_mod_emplhour_payroll" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_MEP_header" class="modal-title mx-2" >{% trans 'Roster shift' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="content_subheader_right mx-4 mt-2">
                        <div id="id_MEP_loader" class="image_container display_hide">
                            <img src="{% static 'img/loader.gif' %}" height="24" width="24">
                        </div>
                    </div>
                <div id="id_MEP_input_container" class="modal-body">
                    <div class="content_header">
                         <div class="content_subheader_left mx-1 ctl_show ctl_shift display_hide">
                            <label class="tsa_margin_label_0848 ">{% trans 'Customer' %}:</label>
                             <p id="id_MEP_customer" class="form-control" data-field="customercode"></p>
                         </div>
                         <div class="content_subheader_left mx-1 ctl_show ctl_shift display_hide">
                            <label for="id_MEP_order" class="tsa_margin_label_0848">{% trans 'Order' %}:</label>
                            <p id="id_MEP_order" class="form-control" data-field="ordercode">
                         </div>
                         <div class="content_subheader_left mx-1 ctl_show ctl_absence display_hide">
                            <label class="tsa_margin_label_0848">{% trans 'Absence category' %}:</label>
                            <select id="id_MEP_abscat" class="form-control mb-1" data-field="abscat"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;"></select>
                         </div>
                         <div class="content_subheader_left mx-1 ctl_show ctl_shift display_hide">
                            <label for="id_MEP_shift" class="tsa_margin_label_0848">{% trans 'Shift' %}:</label>
                            <p id="id_MEP_shift" class="form-control" data-field="shiftcode">
                         </div>
                         <div class="content_subheader_left mx-1">
                            <label for="id_MEP_rosterdate" class="tsa_margin_label_0848">{% trans 'Date' %}:</label>
                            <p id="id_MEP_rosterdate" class="form-control" data-field="rosterdate">
                         </div>
                    </div>
                    <div class="content_header">
                        <div class="content_subheader_left mx-1">
                            <label class="tsa_margin_label_0848">{% trans 'Start time' %}:</label>
                            <p id="id_MEP_timestart" class="form-control" data-field="offsetstart"> </p>
                        </div>
                        <div class="content_subheader_left mx-1">
                            <label class="tsa_margin_label_0848">{% trans 'End time' %}:</label>
                            <p id="id_MEP_timeend" class="form-control" data-field="offsetend">  </p>
                        </div>
                        <div class="content_subheader_left mx-1">
                            <label class="tsa_margin_label_0848">{% trans 'Break' %}:</label>
                            <p id="id_MEP_breakduration" class="form-control" data-field="breakduration">  </p>
                        </div>
                        <div class="content_subheader_left mx-1">
                            <label id="id_MEP_label_timeduration" class="tsa_margin_label_0848">{% trans 'Worked hours' %}:</label>
                            <p id="id_MEP_timeduration" class="form-control" data-field="timeduration">  </p>
                        </div>
                    </div>

                    <div class="content_header">
                        <div class="tsa_flex_1 mx-1">
                            <label class="tsa_margin_label_0848">{% trans 'Function' %}:</label>
                            <p id="id_MEP_functioncode" class="form-control mb-1" data-field="fnc_code">  </p>
                            <select id="id_MEP_functioncodeXX" class="form-control mb-1 display_hide" data-field="fnc_code"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;"></select>
                        </div>
                        <div class="tsa_flex_1 mx-1">
                            <label class="tsa_margin_label_0848">{% trans 'Wage component' %}:</label>
                            <select id="id_MEP_wagefactor" class="form-control mb-1" data-field="wfc_code"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;"></select>
                        </div>
                        <div class="tsa_flex_2 mx-1">
                            <label class="tsa_margin_label_0848">{% trans 'Payroll period' %}:</label>
                            <p id="id_MEP_paydatecode" class="form-control mb-1" data-field="pdc_code">  </p>
                            <select id="id_MEP_paydatecodeXX" class="form-control mb-1 display_hide" data-field="pdc_code"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;"></select>
                        </div>
                    </div>
                    <div class="content_header">
                        <div class="mx-2 my-1">
                            <small id="id_MEP_modifiedby">{% trans 'Last modified by' %}: </small>
                        </div>
                    </div>
                    <div id="id_MEP_tblbody_container" class="content_header tbl_h_180">
                        <h6 class="mx-2 mt-3">{% trans 'Log file' %}</h6>
                        <table class="table tsa_tbl">
                            <tbody id="id_MEP_tblbody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer pr-4">
                    <div class="content_subheader_left">
                        <button id="id_MEP_btn_log" type="button" class="btn btn-outline-secondary">{% trans 'Show log file' %}</button>
                    </div>
                    <div class="content_subheader_right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                        <button id="id_MEP_btn_save" type="button" data-dismiss="modal" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- =================== END MODAL ABSENCE  =================== -->
