{% load i18n %} {% load l10n %}
{% load static %}

<!-- =================== MODAL FORM EMPLOYEE  =================== -->
    <div class="modal" id="id_mod_form_employee" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_MFE_hdr_employee" class="modal-title mx-2" >{% trans 'Employee' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div id="id_div_form_controls" class="modal-body">
                     <div class="content_header">
                         <div class="content_subheader_left mx-1">
                            <label for="id_MFE_code" class="tsa_margin_form_label">{% trans 'Short name' %}:</label>
                            <input id="id_MFE_code" type="text" data-field= "code"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1">
                            <label for="id_MFE_namelast" class="tsa_margin_form_label">{% trans 'Last name' %}:</label>
                            <input id="id_MFE_namelast" type="text" data-field="namelast"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1">
                            <label for="id_MFE_namefirst" class="tsa_margin_form_label">{% trans 'First name' %}:</label>
                            <input id="id_MFE_namefirst" type="text" data-field="namefirst"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                      </div>
                     <div class="content_header display_hide">
                         <div class="content_subheader_left mx-1 ">
                              <small id="id_MFE_err_code"  class="text-danger tsa_margin_form_label">{% trans "The short name cannot be blank." %}</small>
                         </div>
                         <div class="content_subheader_left mx-1">
                              <small id="id_MFE_err_lastname" class="text-danger tsa_margin_form_label">{% trans "The last name cannot be blank." %}</small>
                         </div>
                         <div class="content_subheader_left mx-1">
                              <small id="id_MFE_err_identifier" class="text-danger tsa_margin_form_label"></small>
                         </div>
                     </div>
                     <div class="content_header">
                         <div class="content_subheader_left mx-1">
                            <label for="id_MFE_identifier" class="tsa_margin_form_label">{% trans 'ID-number' %}:</label>
                            <input id="id_MFE_identifier" type="text" data-field="identifier"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_MFE_email" class="tsa_margin_form_label">{% trans 'Email address' %}:</label>
                            <input id="id_MFE_email" type="text" data-field= "email"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_MFE_telephone" class="tsa_margin_form_label">{% trans 'Telephone' %}:</label>
                            <input id="id_MFE_telephone" type="text" data-field= "telephone"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>

                     </div>

                     <div class="content_header">
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_MFE_functioncode" class="tsa_margin_form_label">{% trans 'Function' %}:</label>
                            <select id="id_MFE_functioncode"
                                   data-field= "functioncode"
                                   autocomplete="off"
                                   ondragstart="return false;"
                                   ondrop="return false;"
                                   class="form-control">
                            </select>
                         </div>
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_MFE_datefirst" class="tsa_margin_form_label">{% trans 'First date in service' %}:</label>
                            <input id="id_MFE_datefirst" type="date" data-field= "datefirst"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1">
                            <label for="id_MFE_datelast" class="tsa_margin_form_label">{% trans 'Last date in service' %}:</label>
                            <input id="id_MFE_datelast" type="date" data-field= "datelast"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                     </div>
                     <div class="content_header">
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_MFE_payrollcode" class="tsa_margin_form_label">{% trans 'Payroll code' %}:</label>
                            <input id="id_MFE_payrollcode" type="text" data-field= "payrollcode"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_MFE_wagecode" class="tsa_margin_form_label">{% trans 'Wage code' %}:</label>
                            <input id="id_MFE_wagecode" type="text" data-field= "payrollcode"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_MFE_paydatecode" class="tsa_margin_form_label">{% trans 'Payroll period' %}:</label>
                            <input id="id_MFE_paydatecode" type="text" data-field= "paydatecode"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                     </div>

                     <div class="content_header">
                         <div class="content_subheader_left mx-1">
                             <label for="id_MFE_workhoursperweek" class="tsa_margin_form_label">{% trans 'Working hours per week' %}:</label>
                            <input id="id_MFE_workhoursperweek" type="text" data-field= "workhoursperweek"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                            <div class="mx-2">
                                <small id="id_MFE_err_workhours"  class="text-danger"></small>
                            </div>
                         </div>
                         <div class="content_subheader_left mx-1">
                             <label for="id_MFE_workhoursperday" class="tsa_margin_form_label">{% trans 'Working hours per day' %}:</label>
                            <input id="id_MFE_workhoursperday" type="text" data-field= "workminutesperday"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                            <div class="mx-2">
                                <small id="id_MFE_err_workhoursperday"  class="text-danger"></small>
                            </div>
                         </div>
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_MFE_workdays" class="tsa_margin_form_label">{% trans 'Working days per week' %}:</label>
                            <input id="id_MFE_workdays" type="text" data-field= "workdays"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                            <div class="mx-2">
                              <small id="id_MFE_err_workdays"  class="text-danger"></small>
                                                            </div>
                         </div>
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_MFE_leavedays" class="tsa_margin_form_label">{% trans 'Leave days per year' %}:</label>
                            <input id="id_MFE_leavedays" type="text" data-field= "leavedays"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                         </div>
                     </div>

                     <div class="content_header">
                         <div class="content_subheader_left mx-1">
                         </div>
                         <div class="content_subheader_left mx-1">
                              <small id="id_MFE_err_leavedays">{% trans 'Leave days are on a full time basis.' %}</small>
                         </div>
                     </div>
                </div>

                <div class="modal-footer pr-4">
                    <div class="content_subheader_left mx-1">
                        <button id="id_MFE_btn_delete" type="button" data-dismiss="modal" class="btn btn-outline-danger display_hide">{% trans 'Delete employee' %}</button>
                    </div>
                    <div class="content_subheader_right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MFE_btn_save" type="button" data-dismiss="modal" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

