{% load i18n %}
{% load l10n %}
{% load static %}


<!-- =================== MODAL ORDER SHIFT  =================== -->
<div class="modal fade" id="id_modshift" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content" style="overflow:hidden;">
            <div class="modal-header tsa_bc_lightlightgrey">
                <h4 id="id_modshift_header" class="modal-title mx-2" >{% trans 'Order' %}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div id="id_modshift_body" class="modal-body mb-0">
                <div class="content_header">
                    <div class="content_subheader_left">
                        <h5 id="id_modshift_header_scheme" class="mx-2" ></h5>
                    </div>
                    <div class="content_subheader_right">
                        <h5 id="id_modshift_header_cycle" class="mx-2" ></h5>
                    </div>
                </div>
<!-- BUTTON GROUP -->
                <div id="id_MSO_btns_container" class="btn-group btn-block m-2 pr-2" role="group" aria-label="Choose option" >
                    <button id="id_MSO_btn_shift" type="button" data-mode="mod_shift" class="btn btn-secondary ">{% trans 'Shifts' %}</button>
                    <button id="id_MSO_btn_team" type="button"  data-mode="mod_team" class="btn btn-secondary ">{% trans 'Teams' %}</button>
                    <button id="id_MSO_btn_scheme" type="button"  data-mode="mod_scheme" class="btn btn-secondary ">{% trans 'Scheme' %}</button>
                </div>
<!-- end BUTTON GROUP -->

<!-- SHIFT SECTION -->
                <div class="tbl_border ml-2 p-2 mod_show mod_shift" >
                    <div class="modal_flexcontainer ">
                        <div class="modal_flex1 modal_flexcontainer">
                            <div class="modal_flex2 mx-1">
                                <label for="id_MSO_selectshift" class="mx-2 mt-2 mb-1">{% trans 'Select shift' %}:</label>
                            </div>
                        </div>
                        <div class="modal_flex1 modal_flexcontainer">
                            <div  class="modal_flex2" >
                                <label for="id_MSO_shiftcode" class="mx-2 mt-2 mb-1">{% trans 'Shift name' %}:</label>
                            </div>
                        </div>
                    </div>

                    <div class="modal_flexcontainer">
                        <div class="modal_flex1 modal_flexcontainer">
                            <div class="modal_flex2 mx-1">
                                <select id="id_MSO_selectshift" type="text"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                class="form-control mb-0"></select>
                            </div>
                        </div>
                        <div class="modal_flex1 modal_flexcontainer">
                            <div  class="modal_flex1" >
                                <input id="id_MSO_shiftcode" type="text" data-field="shift"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                class="form-control mb-0">
                            </div>
                            <div class="modal_flex1">
                                <button id="id_MSO_btn_shiftadd" class="btn btn-outline-secondary ml-2">{% trans 'New' %}</button>
                                <button id="id_MSO_btn_shiftdelete" class="btn btn-outline-danger">{% trans 'Delete' %}</button>
                            </div>
                        </div>
                    </div>

                    <div class="mx-1">
                        <small class="tsa_margin_form_label">{% trans "You can leave the shift name blank. TSA will enter it automatically." %}</small>
                    </div>

                    <div class="modal_flexcontainer">
                        <div class="modal_flex1 mx-1">
                                <label for="id_MSO_input_offsetstart" class="tsa_margin_form_label">{% trans 'Start time' %}:</label>
                                <p id="id_MSO_input_offsetstart" data-toggle="modal" href="#id_mod_timepicker"
                                   data-field= "offsetstart" tabindex="0" class="form-control pointer_show mb-0"> </p>
                        </div>
                        <div class="modal_flex1 mx-1">
                                <label for="id_MSO_input_offsetend" class="tsa_margin_form_label">{% trans 'End time' %}:</label>
                                <p id="id_MSO_input_offsetend" data-toggle="modal" href="#id_mod_timepicker"
                                   data-field="offsetend" tabindex="0" class="form-control pointer_show mb-0">  </p>
                        </div>
                        <div class="modal_flex1 mx-1">
                                <label for="id_MSO_input_breakduration" class="tsa_margin_form_label">{% trans 'Break' %}:</label>
                                <p id="id_MSO_input_breakduration" data-toggle="modal" href="#id_mod_timepicker"
                                   data-field="breakduration" tabindex="0" class="form-control pointer_show mb-0">  </p>
                        </div>
                        <div class="modal_flex1 mx-1">
                            <label for="id_MSO_input_timeduration" class="tsa_margin_form_label">{% trans 'Working hours' %}:</label>
                            <p id="id_MSO_input_timeduration"  data-toggle="modal" href="#id_mod_timepicker"
                               data-field="timeduration" tabindex="0" class="form-control pointer_show mb-0">  </p>
                         </div>
                    </div>

                    <div class="mx-1">
                        <small class="tsa_margin_form_label">{% trans "Instead of the start- and endtime you can also enter the hours." %}</small>
                    </div>

                    <div class="modal_flex1 modal_flexcontainer">
                        <div class="modal_flex2 mx-1">
                            <span>
                                <input id="id_MSO_restshift" type="checkbox" class="td_width_032 mx-2">
                                <label for="id_MSO_restshift" class="mx-2 my-2">{% trans 'This is a rest shift' %}</label>
                            </span>
                        </div>
                    </div>
                </div>

<!-- TEAM SECTION -->
                <div class="tbl_border ml-2 p-2 mod_show mod_team" >
                    <div class="modal_flexcontainer ">
                        <div class="modal_flex1 modal_flexcontainer">
                            <div class="modal_flex2 mx-1">
                                <label for="id_MSO_selectteam" class="mx-2 mt-2 mb-1">{% trans 'Select team' %}:</label>
                            </div>
                        </div>
                        <div class="modal_flex1 modal_flexcontainer">
                            <div  class="modal_flex2" >
                                <label for="id_MSO_teamcode" class="mx-2 mt-2 mb-1">{% trans 'Team name' %}:</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal_flexcontainer">
                        <div class="modal_flex1 modal_flexcontainer">
                            <div class="modal_flex2 mx-1">
                                <select id="id_MSO_selectteam" type="text" data-field="team"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                class="form-control mb-0"></select>
                            </div>
                        </div>
                        <div class="modal_flex1 modal_flexcontainer">
                            <div  class="modal_flex1" >
                                <input id="id_MSO_teamcode" type="text" data-field="team"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                class="form-control mb-0">
                            </div>
                            <div class="modal_flex1">
                                <button id="id_MSO_btn_teamadd" class="btn btn-outline-secondary ml-2">{% trans 'New' %}</button>
                                <button id="id_MSO_btn_teamdelete" class="btn btn-outline-danger">{% trans 'Delete' %}</button>
                            </div>
                        </div>
                    </div>
                    <div class="mx-1">
                        <small class="tsa_margin_form_label">{% trans "A team contains employees that work on a shift at the same time and order." %}</small>
                    </div>

                    <div class="content_header">
                        <div class="content_subheader_left mx-0 my-2">
                            <div style="overflow-x:hidden;overflow-y:auto;width:734px;height:130px">
                                <table  class="table tsa_tbl mb-0">
                                    <thead id="id_thead_teammember"></thead>
                                    <tbody id="id_tbody_teammember"></tbody>
                                    <tfoot id="id_tfoot_teammember"></tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

<!-- SCHEME SECTION -->
                <div class="tbl_border ml-2 p-2 mod_show mod_scheme" >
                    <div class="modal_flexcontainer ">
                         <div class="modal_flex1 modal_flexcontainer">
                            <div class="modal_flex2 mx-1">
                                <label for="id_MSO_selectscheme" class="mx-2 mt-2 mb-1">{% trans 'Select scheme' %}:</label>
                            </div>
                        </div>
                        <div class="modal_flex1 modal_flexcontainer">
                            <div class="modal_flex2 mx-1">
                                <label for="id_MSO_schemecode" class="mx-2 mt-2 mb-1">{% trans 'Scheme name' %}:</label>
                            </div>
                            <div class="modal_flex2 mx-1">
                                <label for="id_MSO_scheme_cycle" class="mx-2 mt-2 mb-1">{% trans 'Cycle length' %}:</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal_flexcontainer">
                        <div class="modal_flex1 modal_flexcontainer">
                            <div class="modal_flex2 mx-1">
                                <select id="id_MSO_selectscheme" type="text"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                class="form-control mb-0"></select>
                            </div>
                        </div>
                        <div class="modal_flex1 modal_flexcontainer">
                            <div class="modal_flex1 mx-1">
                                <input id="id_MSO_schemecode" type="text" data-field="shift"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                class="form-control mb-0">
                            </div>
                            <div class="modal_flex1 mx-1">
                                <input id="id_MSO_scheme_cycle" type="number" min="1" max="28"
                                       data-table="scheme" data-field="cycle"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                class="form-control frm_input px-2">
                            </div>
                        </div>
                    </div>

                    <div class="mx-1">
                        <small class="tsa_margin_form_label">
                        {% trans "Shift will be added every cycle thru the end date." %}
                        </small>
                    </div>

                    <div class="modal_flexcontainer">
                        <div class="modal_flex1 mx-1">
                            <label for="id_MSO_scheme_datefirst" class="tsa_margin_form_label">{% trans 'Start date' %}:</label>
                            <input id="id_MSO_scheme_datefirst" type="date" data-field= "datefirst"
                            autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control mb-0">
                        </div>
                        <div class="modal_flex1 mx-1">
                            <label for="id_MSO_scheme_datelast" class="tsa_margin_form_label">{% trans 'End date' %}:</label>
                            <input id="id_MSO_scheme_datelast" type="date" data-field="namelast"
                            autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                        </div>
                    </div>

                    <div class="mx-1">
                        <small class="tsa_margin_form_label">
                        {% trans "You can leave the start- and end date blank." %}
                        </small>
                    </div>

                    <div class="modal_flexcontainer mt-1">
                        <div class="modal_flex1 mx-1">
                            <input id="id_modshift_publicholiday" type="checkbox" class="td_width_032 ">
                            <label for="id_modshift_publicholiday" class="mt-1">{% trans 'Not on public holidays' %}</label>
                        </div>
                        <div class="modal_flex1 mx-1">
                            <input id="id_MSO_also_ph" type="checkbox" class="td_width_032 ">
                            <label for="id_MSO_also_ph" class="mt-1">{% trans 'Also on public holidays' %}</label>
                        </div>
                        <div class="modal_flex1 mx-1">
                            <input id="id_modshift_companyholiday" type="checkbox" class="td_width_032">
                            <label for="id_modshift_companyholiday" class="mt-1">{% trans 'Not on company holidays' %}</label>
                        </div>
                    </div>
                </div>

<!-- SHIFTS TABLE -->
                <div class="ml-2 p-1" >
                    <div class="tsa_shift_container">
                        <h6 class="grid_schemeitem_hdr mx-2 mb-0 mt-2 px-2 py-0">
                            {% trans 'Planned shifts' %}
                        </h6>
                        <div class="grid_schemeitem">
                            <table class="grd_tbl">
                                <tbody id="id_MSO_grid_tbody_shift">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer pr-4">
                <div class="content_subheader_left mx-1 mod_show mod_scheme">
                    <button id="id_modshift_btn_delete" type="button" data-dismiss="modal" class="btn btn-outline-danger">{% trans 'Delete scheme' %}</button>
                </div>
                <div class="content_subheader_right mod_show mod_shift mod_team mod_scheme">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    <button id="id_modshift_btn_save" type="button" data-dismiss="modal" class="btn btn-primary">{% trans 'Save' %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =================== END MODAL EMPLOYEE SHIFT  =================== -->
<!-- =================== MODAL TIMEPICKER  =================== -->
    {% include 'includes/modtimepicker.html' %}
<!-- =================== END MODAL TIMEPICKER  =================== -->
