{% load i18n %}
{% load static %}

<!-- =================== MODAL EMPLHOUR ALLOWANCE  =================== -->
<div class="modal" id="id_mod_emplhourallowance" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content ">

            <div class="modal-header tsa_bc_lightlightgrey">
                <h4 id="id_MAL_header" class="modal-title mx-2" ></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="content_header mod_show mod_team">
                <div class="content_subheader_left mx-1 my-2">
                    <div style="overflow-x:hidden;overflow-y:auto;width:740px;height:240px">
                        <table  class="table tsa_tbl mb-0">
                            <thead id="id_MAL_thead"></thead>
                            <tbody id="id_MAL_tbody"></tbody>
                            <tfoot id="id_MAL_tfoot"></tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="content_subheader_left mx-4">
                <small id="id_MAL_modifiedby"></small>
            </div>

            <div class="modal-footer mx-4">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                <button id="id_MAL_btn_save" type="button" class="btn btn-primary">{% trans 'Save' %}</button>
            </div>

        </div>
    </div>
</div>
<!-- =================== END MODAL NOTE  =================== -->