{% load i18n %}
{% load l10n %}
{% load static %}


<!-- =================== MODAL ORDER SHIFT  =================== -->
    <div class="modal fade" id="id_modshift" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
            <div class="modal-content" style="overflow:hidden;">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_modshift_header" class="modal-title mx-2" >{% trans 'Order' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div id="id_modshift_body" class="modal-body">

                    <div class="modal_container">

<!-- modal_body_left contains order select table -->

                        <div id="id_modshift_body_right"  class="modal_body_flex3">
                                <div>
                                    <h5 id="id_modshift_header_scheme" class="mx-2" ></h5>
                                </div>
                            <!-- BUTTON GROUP -->
                            <div id="id_modshift_selectbtns_container" class="btn-group btn-block m-2 pr-2" role="group" aria-label="Choose option" >
                                <button id="id_modshift_btn_shift" type="button" data-mode="mod_shift" class="btn btn-secondary ">{% trans 'Shifts' %}</button>
                                <button id="id_modshift_btn_employees" type="button"  data-mode="mod_team" class="btn btn-secondary ">{% trans 'Teams' %}</button>
                            </div>
                            <!-- end BUTTON GROUP -->

                            <div class="content_header mod_show mod_shift">
                                <div class="content_subheader_left mx-1">
                                    <label for="id_modshift_shiftcode" class="tsa_margin_form_label">{% trans 'Shift name' %}:</label>
                                    <input id="id_modshift_shiftcode" type="text" data-field="shift"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                    class="form-control mb-0">
                                </div>
                                <div class="content_subheader_left mx-1">
                                    <label for="id_modshift_selectshift" class="tsa_margin_form_label">{% trans 'Select shift' %}:</label>
                                    <select id="id_modshift_selectshift" type="text" data-field="team"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                    class="form-control mb-0"></select>
                                </div>
                            </div>
                            <div class="content_subheader_left mx-1 mod_show mod_shift">
                                <small class="tsa_margin_form_label">{% trans "Select a different shift or add a new shift, if shifts have different working hours." %}</small>
                             </div>
                            <div class="content_header mod_show mod_team">
                                <div class="content_subheader_left mx-1">
                                        <label for="id_modshift_teamcode" class="tsa_margin_form_label">{% trans 'Team name' %}:</label>
                                        <input id="id_modshift_teamcode" type="text" data-field="team"
                                        autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                        class="form-control mb-0">
                                </div>
                                <div class="content_subheader_left mx-1">
                                        <label for="id_modshift_selectteam" class="tsa_margin_form_label">{% trans 'Select team' %}:</label>
                                        <select id="id_modshift_selectteam" type="text" data-field="team"
                                        autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                        class="form-control mb-0"></select>
                                </div>
                            </div>
                            <div class="mod_show mod_team">
                                <div>
                                    <small class="tsa_Xmargin_form_label mx-2 mt-0">
                                        {% trans "A team contains employees that work on a shift at the same time and order." %}
                                    </small>
                                </div>
                            </div>

                            <div class="content_header mod_show mod_team">
                                <div class="content_subheader_left mx-1 my-2">
                                    <div style="overflow-x:hidden;overflow-y:auto;width:720px;height:180px">
                                        <table  class="table tsa_tbl mb-0">
                                            <thead id="id_thead_teammember"></thead>
                                            <tbody id="id_tbody_teammember"></tbody>
                                            <tfoot id="id_tfoot_teammember"></tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div id="id_modshift_timefields" class="content_header mod_show mod_shift">
                                <div class="content_subheader_left mx-1">
                                    <label for="id_modshift_input_offsetstart" class="tsa_margin_form_label">{% trans 'Start time' %}:</label>
                                    <p id="id_modshift_input_offsetstart" data-toggle="modal" href="#id_mod_timepicker"
                                       data-field= "offsetstart" tabindex="0" class="form-control pointer_show mb-0"> </p>
                                </div>
                                <div class="content_subheader_left mx-1">
                                    <label for="id_modshift_input_offsetend" class="tsa_margin_form_label">{% trans 'End time' %}:</label>
                                    <p id="id_modshift_input_offsetend" data-toggle="modal" href="#id_mod_timepicker"
                                       data-field="offsetend" tabindex="0" class="form-control pointer_show mb-0">  </p>
                                </div>
                                <div class="content_subheader_left mx-1 mod_show mod_shift mod_team">
                                    <label for="id_modshift_input_breakduration" class="tsa_margin_form_label">{% trans 'Break' %}:</label>
                                    <p id="id_modshift_input_breakduration" data-toggle="modal" href="#id_mod_timepicker"
                                       data-field="breakduration" tabindex="0" class="form-control pointer_show mb-0">  </p>
                                </div>
                                <div class="content_subheader_left mx-1">
                                    <label id="id_modshift_label_timeduration"  for="id_modshift_input_timeduration" class="tsa_margin_form_label">{% trans 'Working hours' %}:</label>
                                    <p id="id_modshift_input_timeduration"  data-toggle="modal" href="#id_mod_timepicker"
                                       data-field="timeduration" tabindex="0" class="form-control pointer_show mb-0">  </p>
                                </div>

                            </div>
                            <div class="content_subheader_left mx-1 mod_show mod_shift">
                                <small class="tsa_margin_form_label">{% trans "Instead of the start- and endtime you can also enter the hours." %}</small>
                             </div>
                            <div class="content_header mod_show mod_shift">
                                <div class="content_subheader_left mx-1">
                                    <label for="id_modshift_input_datefirst" class="tsa_margin_form_label">{% trans 'Start date' %}:</label>
                                    <input id="id_modshift_input_datefirst" type="date" data-field= "code"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                                </div>
                                    <div class="content_subheader_left mx-1">
                                    <label for="id_modshift_input_datelast" class="tsa_margin_form_label">{% trans 'End date' %}:</label>
                                    <input id="id_modshift_input_datelast" type="date" data-field="namelast"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                                </div>
                            </div>

                            <div id="id_modshift_onceonly_container"  class="content_subheader_left mx-1 mod_show mod_shift">
                                <span>
                                    <input id="id_modshift_onceonly" type="checkbox" class="td_width_032 mx-2">
                                    <label for="id_modshift_onceonly" class="mx-2 my-1">{% trans 'Once only' %}</label>
                                </span>
                                <div>
                                    <small class="tsa_margin_form_label">
                                        {% trans "Shift will be added every week thru the end date, or select 'once only'." %}
                                        {% trans "You can leave the start- and end date blank." %}
                                    </small>
                                </div>
                             </div>

                                <!-- BUTTON GROUP -->
                            <div class="mx-2 my-1 mod_show mod_shift">
                                <label class="tsa_margin_form_label">{% trans 'Weekdays of this shift' %}:</label>
                            </div>
                            <div class="mx-2 my-1 mod_show mod_team">
                                <label class="tsa_margin_form_label">{% trans 'Weekdays of this team' %}:</label>
                            </div>
                                <!-- BUTTON GROUP WEEKDAYS-->
                            <div id="id_modshift_weekdays" class="content_subheader_left mx-2 mod_show mod_shift mod_team">
                                <button data-weekday="1" class="btn btn-weekday">{% trans 'Mon' %}</button>
                                <button data-weekday="2" class="btn btn-weekday">{% trans 'Tue' %}</button>
                                <button data-weekday="3" class="btn btn-weekday">{% trans 'Wed' %}</button>
                                <button data-weekday="4" class="btn btn-weekday">{% trans 'Thu' %}</button>
                                <button data-weekday="5" class="btn btn-weekday">{% trans 'Fri' %}</button>
                                <button data-weekday="6" class="btn btn-weekday"> {% trans 'Sat' %}</button>
                                <button data-weekday="7" class="btn btn-weekday"> {% trans 'Sun' %}</button>

                            </div>
                            <div class="content_subheader_left mx-1 mod_show mod_shift mod_team">
                                <small class="tsa_margin_form_label">{% trans "Days in black background will be updated, days in green added and days in red deleted." %}</small>
                            </div>
                            <div class="content_header mx-2 mt-2 mod_show mod_shift">
                                <div class="content_subheader_left mx-1">
                                    <input id="id_modshift_publicholiday" type="checkbox" class="td_width_032 ">
                                    <label for="id_modshift_publicholiday" class="mt-1">{% trans 'Not on public holidays' %}</label>
                                </div>
                                <div class="content_subheader_left mx-1">
                                    <input id="id_modshift_companyholiday" type="checkbox" class="td_width_032">
                                    <label for="id_modshift_companyholiday" class="mt-1">{% trans 'Not on company holidays' %}</label>
                                </div>

                            </div>
                        </div>  <!-- end id_modshift_body_right -->
                    </div>  <!-- end modal_container -->
                </div>
                <div class="modal-footer pr-4">

                    <div class="content_subheader_left mx-1 mod_show mod_shift mod_team">
                        <button id="id_modshift_btn_delete" type="button" data-dismiss="modal" class="btn btn-outline-danger">{% trans 'Delete scheme' %}</button>
                    </div>
                    <div class="content_subheader_right mod_show mod_shift mod_team">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_modshift_btn_save" type="button" data-dismiss="modal" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
<!-- =================== END MODAL EMPLOYEE SHIFT  =================== -->

<!-- =================== MODAL TIMEPICKER  =================== -->
<div class="modal" id="id_mod_timepicker" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm " role="document">
        <div class="modal-content tsa_bc_lightlightgrey">

            <div id="id_mod_confirm_body"  class="modal-body tsa_bc_lightlightgrey">

                <div id="id_timepicker_header" class="popup_header">

                </div>

                <div class="content_header">
                    <div class="content_subheader_left m-1 ">
                        <a>{% trans "Hours" %}</a>
                        <table class="pop_tbl tbl_border">
                            <tbody id="id_timepicker_tbody_hour" class="timepicker_tbody_hour"></tbody>
                        </table>
                    </div>
                    <div id="id_timepicker_cont_minute" class="content_subheader_left m-1">
                        <a>{% trans "Minutes" %}</a>
                        <table class="pop_tbl tbl_border">
                            <tbody id="id_timepicker_tbody_minute" class="timepicker_tbody_minute"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="id_timepicker_footer" class="content_header tsa_bc_lightlightgrey m-2">
            </div>
        </div>
    </div>
</div>
<!-- =================== END MODAL CONFIRM  =================== -->
