{% load i18n %}
{% load static %}

<!-- =================== MODAL MESSAGE  =================== -->
<div class="modal" id="id_mod_message" class="z_index_2099XX" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm " role="document">
        <div class="modal-content">

            <div class="modal-header tsa_bc_lightlightgrey">
                <h4 id="id_mod_message_header" class="modal-title mx-2" ></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="modal_container">
                    <div class="modal_body_left mx-2">
                        <div id="id_mod_message_msg01" class="modal-title mx-2" ></div><br>
                        <div id="id_mod_message_msg02" class="modal-title mx-2" ></div><br>
                        <div id="id_mod_message_msg03" class="modal-title mx-2" ></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="id_modmessage_btn_save" type="button" class="btn btn-primary">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>
<!-- =================== END MODAL MESSAGE  =================== -->