
{% load i18n %}
{% load static %}

<!-- =================== MODAL PUBLISH PAYROLLPERIOD  =================== -->
    <div class="modal" id="id_mod_publish_payrollperiod" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 class="modal-title mx-2" >{% trans 'Close payroll period' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-2 mt-4">
                        <div class="content_header">
                            <div class="content_subheader_left m-2">
                                <label class="mx-2 my-1">{% trans 'Payroll period' %}:</label>
                                <div id="id_MPUB_paydatecode" class="form-control pointer_show"></div>
                            </div>
                            <div class="content_subheader_left m-2">
                                    <div class="content_header">
                                        <div class="content_subheader_left mr-2">
                                            <label class="mx-2 my-1">{% trans 'Year' %}:</label>
                                            <div id="id_MPUB_year" class="form-control pointer_show"></div>
                                        </div>
                                        <div class="content_subheader_left_flex2 ml-2">
                                            <label class="mx-2 my-1">{% trans 'Period' %}:</label>
                                            <div id="id_MPUB_period" class="form-control pointer_show"></div>
                                        </div>
                                    </div>
                            </div>
                        </div>



                        <div class="content_header">
                            <div class="content_subheader_left m-2">
                                <label for="id_MPUB_input_datefirst" class="tsa_margin_form_label">{% trans 'Start date' %}:</label>
                                <input id="id_MPUB_input_datefirst" type="date" data-field="datefirst" class="form-control">
                            </div>
                            <div class="content_subheader_left m-2">
                                <label for="id_MPUB_input_datelast" class="tsa_margin_form_label">{% trans 'End date' %}:</label>
                                <input id="id_MPUB_input_datelast" type="date" data-field="datelast"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                            </div>
                        </div>
                        <div id="id_MPUB_loader" class="image_container visibility_hideXX">
                            <span>
                            <img  src="{% static 'img/loader.gif' %}" height="24" width="24">
                            </span>
                        </div>
                        <div id="id_MPUB_message_container" class="modal-body">
                        </div>

                </div>
                <div class="modal-footer">
                    <div class="content_subheader_left mx-1 ">
                        <a id="id_MRE_btn_export_excel" type="button" href="{% url 'afas_hours_xlsx_url' %}"
                                class="btn btn-outline-secondary display_hide">{% trans 'Export to Excel' %}</a>
                    </div>
                    <div class="content_subheader_right">
                        <button class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MPUB_btn_save" class="btn btn-primary">{% trans 'Close payroll period' %}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
