 {% load i18n %}
{% load static %}

 <!-- =================== MODAL SELECT INVOICE ORDER  =================== -->
    <div class="modal" id="id_mod_select_invoice_order" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">

            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 class="modal-title mx-2" >{% trans 'Export invoices to AFAS' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="modal_container">
                        <div class="flex_1 p-2 my-2">
                            <h6 class="px-2">{% trans 'Saved lists' %}:</h6>
                            <table class="tsa_tbl border_bg_transparent tbl_div_320_280 m-2 p-2">
                                <tbody id="id_MSIO_tblBody_lists"></tbody>
                            </table>
                            <button id="id_MSIO_btn_addnewlist" class="btn btn-outline-secondary m-2">{% trans 'Add as new list' %}</button>

                        </div>


                         <div class="flex_3 p-2 my-2">
                             <h6 class="px-2">{% trans 'Customers and orders of this invoice' %}:</h6>
                              <table class="tableX tsa_tbl border_bg_lightblue tbl_div_390_360">
                                <tbody id="id_MSIO_tblBody_selected"></tbody>
                              </table>
                         </div>
                         <div class="flex_3 p-2 my-2">
                             <h6 class="px-2">{% trans 'Other customers and orders' %}:</h6>
                             <table class="tableX tsa_tbl border_bg_message tbl_div_390_360">
                                <tbody id="id_MSIO_tblBody_available"></tbody>
                             </table>
                         </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="content_subheader_right">
                        <button id="id_MSIO_btn_cancel" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <a id="id_MSIO_btn_save" href="{% url 'afas_invoice_xlsx_url' '-' %}" class="btn btn-primary" >{% trans 'Save' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>