 {% load i18n %}
{% load static %}

 <!-- =================== MODAL SELECT SHIFT  =================== -->'
    <div class="modal" id="id_modselectshift" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_MSS_header" class="modal-title mx-2" >{% trans 'Select shift' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="modal_container">
                        <div class="modal_body_left">
                            <div class="mx-2 my-2">
                                <h6 id="id_MSS_select_header" class="mx-2 my-1">{% trans 'Orders' %}:</h6>
                            </div>
                             <div id="id_MSS_loader" class="image_container display_hide">
                                    <img  src="{% static 'img/loader.gif' %}" height="24" width="24">
                             </div>
                            <div class="mx-2 my-1">
                                 <!-- this div is necessary to get standard structure for FilterTableRows -->
                                <!-- <div style="overflow-x:hidden;overflow-y:auto;height:400px;width:220px"> -->
                                <div style="overflow-x:hidden;overflow-y:auto;height:260px"> <!-- this div is necessary to get standard structure for FilterTableRows -->
                                    <table class="table tsa_tbl mx-1 my-1">
                                        <tbody id="id_MSS_tblbody_select" data-table="customer">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal_body_right mx-2 my-0">

                            <div class="mx-2 mb-2">
                                <label class="mx-2 my-1">{% trans 'Date' %}:</label>
                                <div class="form-group">
                                    <input id="id_MSS_input_date" type="date" required class="form-control">
                                </div>
                            </div>
                            <div id="id_MSS_input_container">
                            <div class="mx-2 my-2">
                                <label class="mx-2 my-1">{% trans 'Customer and order' %}:</label>
                                <div class="form-group">
                                    <input id="id_MSS_input_order"
                                        type="text"
                                        autocomplete="off"
                                        ondragstart="return false;"
                                        ondrop="return false;"
                                        class="form-control"
                                        placeholder="{% trans 'Type a few letters and select an order in the list ...' %}">
                                </div>
                            </div>
                            <div class="mx-2 my-2">
                                <label class="mx-2 my-1">{% trans 'Shift' %}:</label>
                                <div class="form-group">
                                    <input id="id_MSS_input_shift"
                                        type="text"
                                        autocomplete="off"
                                        ondragstart="return false;"
                                        ondrop="return false;"
                                        class="form-control"
                                        placeholder="{% trans 'Type a few letters and select a shift in the list ...' %}">
                                </div>
                            </div>
                            <div class="mx-2 my-2">
                                <label class="mx-2 my-1">{% trans 'Current teammember' %}:</label>
                                <div class="form-group">
                                    <input id="id_MSS_input_employee"
                                        type="text"
                                        autocomplete="off"
                                        ondragstart="return false;"
                                        ondrop="return false;"
                                        class="form-control"
                                        placeholder="{% trans 'Type a few letters and select an employee in the list ...' %}">
                                </div>
                            </div>
                            <div class="modal_flexcontainer mt-2">
                                <div class="modal_flex1 mx-1">
                                    <input id="id_MSS_replace" type="checkbox" data-field="excludepublicholiday" class="td_width_032 ">
                                    <label for="id_MSS_replace" class="mt-1">{% trans 'Replace teammember' %}</label>
                                </div>
                                <div class="modal_flex1 mx-1 display_hideXXX">
                                    <input id="id_MSS_switch" type="checkbox" data-field="excludecompanyholiday" class="td_width_032">
                                    <label for="id_MSS_switch" class="mt-1">{% trans 'Switch teammembers' %}</label>
                                </div>
                            </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="content_subheader_right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MSS_btn_save" type="button" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
