{% load i18n %}
{% load static %}

<!-- =================== MODAL SELECT COLUMNS  =================== -->
    <div class="modal" id="id_mod_select_columns" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md " role="document">
            <div class="modal-content">

                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_mod_select_columns_header" class="modal-title mx-2" >{% trans 'Show or hide columns' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div  id="id_mod_select_columns_body" class="modal-body">
                    <div class="mx-2 mb-2">
                        <!-- <h5 class="mx-2 my-1">{% trans 'Select period' %}:</h5> -->
                        <div class="modal_container">
    <!-- this div contains range select table -->
                            <div class="modal_body_left">
                                <div class="content_subheader_left mx-2 my-1">
                                   <table class="table table-condensed tsa_tbl mx-1 my-1">
                                        <tbody id="id_modcolumns_tblbody">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="mx-4 mt-2 mb-0">
                                    <small>{% trans 'Only the selected columns will be shown in the table.' %}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    <button id="id_modcolumns_btn_save" type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Save' %}</button>
                </div>
            </div>
        </div>
    </div>
