{% load i18n %}
{% load static %}

 <!-- =================== MODAL SCHEME ADD  =================== -->'
    <div class="modal fade" id="id_modschemeadd" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_MSA_header" class="modal-title mx-2" ></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="modal_container">
                        <div id="id_MSA_div_select_order" class="modal_body_left">
                            <div class="mx-2 my-2">
                                <h6 id="id_MSA_select_header" class="mx-2 my-1"></h6>
                            </div>
                            <div class="mx-2 my-1">
                                 <!-- this div is necessary to get standard structure for FilterTableRows -->
                                <!-- <div style="overflow-x:hidden;overflow-y:auto;height:400px;width:220px"> -->
                                <div style="overflow-x:hidden;overflow-y:auto;height:390px"> <!-- this div is necessary to get standard structure for FilterTableRows -->
                                    <table class="table tsa_tbl mx-1 my-1">
                                        <tbody id="id_MSA_tblbody_select"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal_body_right mx-2 my-0">
                            <div id="id_MSA_div_input_order"  class="modal_flexcontainer">
                                <div class="modal_flex1 mx-1">
                                    <label class="tsa_margin_form_label">{% trans 'Customer and order' %}:</label>
                                    <input id="id_MSA_input_order"
                                        type="text" data-field="order"
                                        autocomplete="off"
                                        ondragstart="return false;"
                                        ondrop="return false;"
                                        class="form-control"
                                        placeholder="{% trans 'Type a few letters and select an order in the list ...' %}">
                                    <div><small id="id_MSA_msg_order" class="mx-2"></small></div>
                                </div>
                            </div>
                            <div class="modal_flexcontainer">
                                <div class="modal_flex1 mx-1">
                                   <label class="tsa_margin_form_label">{% trans 'Scheme name' %}:</label>
                                    <input id="id_MSA_input_code"
                                        type="text" data-field="code"
                                        autocomplete="off"
                                        ondragstart="return false;"
                                        ondrop="return false;"
                                        class="form-control">
                                    <div><small id="id_MSA_msg_code" class="mx-2"></small></div>
                                </div>
                            </div>

                            <div class="modal_flexcontainer">
                                <div class="modal_flex1 mx-1">
                                    <label for="id_MSA_input_cycle" class="tsa_margin_form_label">{% trans 'Cycle days' %}:</label>
                                    <input id="id_MSA_input_cycle" type="number" min="1" max="28" data-field="cycle"
                                        autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                        class="form-control">
                                    <div><small id="id_MSA_msg_cycle" class="mx-2"></small></div>
                                </div>
                            </div>

                            <div id="id_MSA_date_container" class="modal_flexcontainer">
                                <div class="modal_flex1 mx-1">
                                    <label for="id_MSA_input_datefirst" class="tsa_margin_form_label">{% trans 'Start date' %}:</label>
                                    <input id="id_MSA_input_datefirst" type="date" data-field="datefirst"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control mb-0">
                                </div>
                                <div class="modal_flex1 mx-1">
                                    <label for="id_MSA_input_datelast" class="tsa_margin_form_label">{% trans 'End date' %}:</label>
                                    <input id="id_MSA_input_datelast" type="date" data-field="datelast"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                                </div>
                            </div>

                            <div class="mx-1">
                                <small class="tsa_margin_form_label">
                                {% trans "You can leave the start- and end date blank." %}
                                </small>
                            </div>

                            <div class="modal_flexcontainer mt-2">
                                <div class="modal_flex1 mx-1">
                                    <input id="id_MSA_excl_ph" type="checkbox" data-field="excludepublicholiday" class="td_width_032 ">
                                    <label for="id_MSA_excl_ph" class="mt-1">{% trans 'Not on public holidays' %}</label>
                                </div>
                                <div class="modal_flex1 mx-1 display_hideXXX">
                                    <input id="id_MSA_excl_ch" type="checkbox" data-field="excludecompanyholiday" class="td_width_032">
                                    <label for="id_MSA_excl_ch" class="mt-1">{% trans 'Not on company holidays' %}</label>
                                </div>
                            </div>
                            <div class="modal_flexcontainer mt-0">
                                <div class="modal_flex1 mx-1">
                                    <input id="id_MSA_also_ph" type="checkbox" data-field="alsoonpublicholiday" class="td_width_032 ">
                                    <label for="id_MSA_also_ph" class="mt-1">{% trans 'Divergent shift on public holidays' %}</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="content_subheader_right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MSA_btn_save" type="button" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
<!-- =================== END MODAL ORDER  =================== -->
<!-- =================== MODAL TIMEPICKER  =================== -->
    {% include 'includes/modtimepicker.html' %}
<!-- =================== END MODAL TIMEPICKER  =================== -->