{% load i18n %} {% load l10n %}
{% load static %}
<!-- =================== MODAL TIMEPICKER  =================== -->
<div id="id_mtp_modal" class="mtp_modal hidden">
    <div id="id_mtp_container" class="mtp_container">
        <div class="mtp_body tsa_bc_lightlightgrey">
            <div id="id_timepicker_header" class="mtp_header"></div>

            <div class="content_header">
                <div class="content_subheader_left m-1 ">
                    <div>{% trans "Hours" %}</div>
                    <table class="pop_tbl tbl_border">
                        <tbody id="id_timepicker_tbody_hour" class="timepicker_tbody_hour"></tbody>
                    </table>
                </div>
                <div id="id_timepicker_cont_minute" class="content_subheader_left m-1">
                    <div>{% trans "Minutes" %}</div>
                    <table class="pop_tbl tbl_border">
                        <tbody id="id_timepicker_tbody_minute" class="timepicker_tbody_minute"></tbody>
                    </table>
                </div>
            </div>

            <div id="id_timepicker_footer" class="content_header tsa_bc_lightlightgrey mx-2 mt-1 mb-0"></div>

        </div>
    </div>
</div>

<!-- =================== END MODAL TIMEPICKER  =================== -->