{% load i18n %} {% load l10n %}
{% load static %}

<!-- =================== TIMEPICKER  =================== -->
<div id="id_timepicker" class="popup_box display_hide">
     <div id="id_timepicker_header" class="popup_header">
     </div>
   <!-- popup-body -->
        <div id="id_timepicker_body" class="content_header td_width_270 p-1">
            <div class="content_subheader_left mx-1">
                <a>{% trans "Hours" %}</a>
                <table class="pop_tbl tbl_border">
                    <tbody id="id_timepicker_tbody_hour" class="timepicker_tbody_hour"></tbody>
                </table>
            </div>
            <div id="id_timepicker_cont_minute" class="content_subheader_left mx-1">
                <a>{% trans "Minutes" %}</a>
                <table class="pop_tbl tbl_border">
                    <tbody id="id_timepicker_tbody_minute" class="timepicker_tbody_minute"></tbody>
                </table>
            </div>
        </div>
        <div id="id_timepicker_footer" class="content_header td_width_270 m-1">
        </div>
    <!-- end popup-body  -->
</div>
