{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Customers' %}{% endblock %}
{% block script %}<script src="{% static 'js/customers.js' %}"></script>{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Customers' %}</h3>
        </div>

        <div class="td_width_200 mx-2 mt-2 mb-5">
            <h6 class="td_width_200 line_height_normal px-2">{% trans 'Select customer' %}:</h6>

            <table>
                <thead id="id_thead_select"class="mx-1 my-1 ">
                    <tr>
                        <td>
                        <input id="id_flt_select"
                            type="text"
                            class="td_width_150 tsa_bc_transparent border_none px-2"
                            autocomplete="off"
                            placeholder="{% trans 'filter ...' %}">
                        </td>
                        <td>
                            <a id="id_sel_inactive" href="#">
                                <img id="id_sel_img_inactive"  src="{% static 'img/inactive_lightgrey.png' %}" height="24" width="24">
                            </a>
                        </td>

                    </tr>
                </thead>
                <tbody id="id_tbody_select"></tbody>
            </table>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    {% if user.is_authenticated %}
<!-- =================== MODAL CONFIRM  =================== -->
        {% include 'includes/confirm.html' %}
<!-- =================== MODAL PERIOD  =================== -->
        {% include 'includes/modperiod.html' %}

    <!-- =================== CONTAINER =================== -->
        <div class="container">

<!-- CONTENT HEADER - LOADER -->
            <div class="tsa_margin_top_64">
    <!-- class content_header -->
         <!-- header_text -->
                <div class="content_header">
                    <div class="content_subheader_left mx-2">
                        <h5 id="id_hdr_text"></h5>
                    </div>
         <!-- loader -->
                    <div class="content_header_middle mx-4">
                        <div id="id_loader" class="image_container XXXvisibility_hide">
                            <img  src="{% static 'img/loader.gif' %}" height="24" width="24">
                        </div>
                    </div>
        <!-- period -->
                    <div id="id_div_hdr_period" class="content_subheader_right pointer_show mx-2">
                        <h5 id="id_hdr_period"></h5>
                    </div>
    <!-- end content_header -->
                </div>
    <!-- end class content_header -->
    <!-- BUTTON GROUP -->
                <div id="id_btn_container" class="btn-group btn-block mx-2 my-2" role="group" aria-label="Choose option" >
                    <button id="id_btn_cust" type="button" data-mode="customer" class="btn btn-secondary">{% trans 'Customer list' %}</button>
                    <button id="id_btn_order" type="button" data-mode="order" class="btn btn-secondary">{% trans 'Orders' %}</button>
                    <button id="id_btn_planning" type="button"  data-mode="planning" class="btn btn-secondary ">{% trans 'Planning' %}</button>
                    <!--
                    <button id="id_btn_roster" type="button"  data-mode="roster" class="btn btn-secondary ">{% trans 'Roster' %}</button>
                    <button id="id_btn_pricerate" type="button" data-mode="pricerate" class="btn btn-secondary">{% trans 'Hourly rates' %}</button>
                    -->
                    <button id="id_btn_data" type="button" data-mode="customer_form" class="btn btn-secondary">{% trans 'Data' %}</button>
                </div>
    <!-- end BUTTON GROUP -->
            </div>
<!-- end CONTENT HEADER - LOADER -->

<!-- CONTENT BODY -->
            <div class="content_body mx-2">
<!-- =================== id_msgbox  =================== -->
            <div class="popup display_hide">
                <span class="popuptext" id="id_msgbox"></span>
            </div>
<!-- =================== POPUP DATE  =================== -->
                 <div id="id_popup_date_container" class="popup_box tsa_bc_lightlightgrey display_hide">
                     <input id="id_popup_date" type="date" class="tsa_transparent mx-4 my-1" ></input>
                 </div>
<!-- =================== DATA FORM  =================== -->
                <div id="id_div_data_form" class="display_hide">
                    <div class="form-group mx-2">
                        <label for="id_form_code" class="mx-2 my-2">{% trans 'Short name of customer' %}:</label>
                        <input id="id_form_code" type="text" data-field= "code"
                            autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                        <label for="id_form_name" class="mx-2 my-2">{% trans 'Customer name' %}:</label>
                        <input id="id_form_name" type="text" data-field= "name"
                            autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                    </div>
                    <div class="mx-2 my-2">
                        <button id="id_form_btn_add" type="button" class="btn btn-outline-primary">{% trans 'Add customer' %}</button>
                        <button id="id_form_btn_delete" type="button" disabled class="btn btn-outline-danger">{% trans 'Delete customer' %}</button>
                    </div>
                </div>
    <!-- =================== DATA TABLE  =================== -->
                <div id="id_div_tbl_customer" class="displayXX_hide">
                     <table  class="table tsa-tbl ">
                        <thead id="id_thead_customer"></thead>
                        <tbody id="id_tbody_customer"></tbody>
                    </table>
                </div>
                <div id="id_div_tbl_order" class="displayXX_hide">
                     <table  class="table tsa-tbl ">
                        <thead id="id_thead_order"></thead>
                        <tbody id="id_tbody_order"></tbody>
                    </table>
                </div>
                <div id="id_div_tbl_planning" class="displayXX_hide">
                     <table  class="table tsa-tbl">
                        <thead id="id_thead_planning"></thead>
                        <tbody id="id_tbody_planning"></tbody>
                    </table>
                </div>
    <!-- =================== END DATA TABLE  =================== -->
            </div>
<!-- END CONTENT BODY -->
        </div>
    <!-- =================== END CONTAINER =================== -->
        <div id="id_data"
            data-datalist_download_url="{% url 'datalist_download_url' %}"
            data-settings_upload_url="{% url 'settings_upload_url' %}"
            data-customer_upload_url="{% url 'customer_upload_url' %}"
            data-pricerate_upload_url="{% url 'pricerate_upload_url' %}"
            data-err_msg01= "{% trans 'An error occurred.' %}"

            data-lang ="{{ lang }}"
            data-timezone ="{{ timezone }}"
            data-timeformat ="{{ timeformat }}"

            data-weekdays ="{{ weekdays }}"
            data-months ="{{ months }}"

            data-imgsrc_inactive_black = "{% static 'img/inactive_black.png' %}"
            data-imgsrc_inactive_grey = "{% static 'img/inactive_grey.png' %}"
            data-imgsrc_inactive_lightgrey = "{% static 'img/inactive_lightgrey.png' %}"
            data-imgsrc_b_black = "{% static 'img/b_black.png' %}"
            data-imgsrc_b_grey = "{% static 'img/b_grey.png' %}"
            data-imgsrc_d_black = "{% static 'img/d_black.png' %}"
            data-imgsrc_d_grey = "{% static 'img/d_grey.png' %}"
            data-imgsrc_cross_red = "{% static 'img/cross_red.png' %}"
            data-imgsrc_cross_grey = "{% static 'img/cross_grey.png' %}"
            data-imgsrc_cross_lightgrey = "{% static 'img/cross_lightgrey.png' %}"
            data-imgsrc_stat00="{% static 'img/stat00.png' %}"

            data-title_billable= "{% trans 'Billable hours. Changes in worked hours will also change the billing hours.' %}"
            data-title_notbillable=  "{% trans 'Fixed billing hours. Changes in worked hours will not affect the billing hours.' %}"
            data-imgsrc_delete="{% static 'img/delete.gif' %}"
            data-imgsrc_deletered="{% static 'img/deletered.gif' %}"

            data-txt_shortname = "{% trans 'Short name' %}"
            data-txt_orderschemeshift = "{% trans 'Order / Scheme / Shift' %}"
            data-txt_cust_code_enter = "{% trans 'Enter a short name of the customer' %}..."
            data-txt_customer = "{% trans 'Customer' %}"
            data-txt_customer_name = "{% trans 'Customer name' %}"
            data-txt_customer_add = "{% trans 'Add new customer' %}"
            data-txt_customer_delete = "{% trans 'Delete customer' %}"

            data-txt_customer_list = "{% trans 'Customer list' %}"
            data-txt_customer_data = "{% trans 'Customer data' %}"
            data-txt_customer_select = "{% trans 'Select customer' %}"

            data-txt_period = "{% trans 'Period' %}"
            data-txt_select_period = "{% trans 'Select period' %}"
            data-txt_planning_preview = "{% trans 'Preview planning' %}"
            data-txt_planning_download = "{% trans 'Download planning' %}"

            data-txt_order = "{% trans 'Order' %}"
            data-txt_order_name = "{% trans 'Order name' %}"
            data-txt_order_add = "{% trans 'Add new order' %}"
            data-txt_order_delete = "{% trans 'Delete order' %}"
            data-txt_shift= "{% trans 'Shift' %}"

            data-txt_rosterdate="{% trans 'Rosterdate' %}"
            data-txt_timestart= "{% trans 'Start time' %}"
            data-txt_timeend= "{% trans 'End time' %}"
            data-txt_datefirst = "{% trans 'Start date' %}"
            data-txt_datelast = "{% trans 'End date' %}"
            data-txt_pricerate = "{% trans 'Hourly rate' %}"
            data-txt_taxcode= "{% trans 'Tax code' %}"
            data-txt_asof ="{% trans 'As of' %}"

            data-txt_employee = "{% trans 'Employee' %}"
            data-txt_billable = "{% trans 'Billable' %}"
            data-txt_identifier = "{% trans 'Identifier' %}"

            data-txt_this_customer = "{% trans 'This customer ' %}"
            data-txt_this_order = "{% trans 'This order ' %}"
            data-txt_confirm_msg01_delete = "{% trans 'will be deleted.' %}"
            data-txt_confirm_msg01_inactive = "{% trans 'will be made inactive.' %}"

            data-txt_confirm_btn_delete = "{% trans 'Yes, delete' %}"
            data-txt_confirm_btn_inactive = "{% trans 'Yes, make inactive' %}"

        >
        </div>

    {% else %}
        <div class="alert alert-danger">{% trans 'Error' %}</div>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
    {% endif %}
{% endblock %}