{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block stylesheet %}
   <link rel="stylesheet" href="{% static 'css/dateselector.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'js/customers.js' %}"></script>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
<!--
        <div class="popup display-show"  >
            <span class="popuptext" id="id_msgbox"></span>
        </div>
-->
        <div class="content_header">
            <div class="content_subheader_left">
                <h5 id="id_content_header_name" title="test title">{% trans 'Customers' %} </h5>
            </div>
            <div class="content_subheader_right">

            </div>
        </div>
        <div class="content_header">
            <div class="content_subheader_left">
                <input id="id_filter_name" type="text" class="fieldname pt-0 pb-0" colspan=2 placeholder="{% trans 'filter...' %}">
            </div>
            <div class="content_subheader_right">
                <a id="id_btn_add" class="btn btn-add">{% trans 'Add customer' %}</a>
                <a id="id_btn_delete" class="btn btn-add">{% trans 'Delete customer' %}</a>
            </div>
        </div>
        <table class="table table table-condensed tsa-tbl">
          <thead class="thead-inverse">
            <tr>
              <th>
                <a id="id_filter_inactive" href="#"
                   value="true">
                    <img id="id_img_filter_inactive" src="{% static 'img/inactive_grey.png' %}" height="24" width="24">
                </a>
              </th>
              <th>{% trans 'Code' %}</th>
              <th>{% trans 'Customer name' %}</th>
                <!--
              <th>{% trans 'Email' %}</th>
              <th>{% trans 'Telephone' %}</th>
              -->
              <th>{% trans 'Start date' %}</th>
              <th>{% trans 'End date' %}</th>
              <th>{% trans 'Modified by' %}</th>
              <th>{% trans 'Modified at' %}</th>
            </tr>
          </thead>
          <tbody id="id_tbody">
            {% for item in customers.all %}
              <tr id="{{ item.pk }}" class="display_hide" >
                  {{ item.modified_at_str}}
                <td>
                    <a name="inactive" href="#"
                       value="{{ item.inactive }}"
                       class="input_icon">
                        {% if item.inactive %}
                            <img src="{% static 'img/inactive_black.png' %}" height="24" width="24">
                        {% else %}
                            <img src="{% static 'img/inactive_grey.png' %}" height="24" width="24">
                        {% endif %}
                    </a>
                </td>
                <td>
                    <!-- if autocomplete="off" doesn't work, use: autocomplete="new-password" -->
                    <input name="code"
                           type="text"
                           autocomplete="off"
                           ondragstart="return false;"
                           ondrop="return false;"
                           maxlength="{{ item.maxlen_code }}"
                           value="{{ item.code|default_if_none:''}}"
                           o_value="{{ item.code|default_if_none:''}}"
                           class="input_text border-none" >
                </td>
                <td>
                    <input name="name"
                           type="text"
                           autocomplete="off"
                           ondragstart="return false;"
                           ondrop="return false;"
                           maxlength="{{ item.maxlen_name }}"
                           value="{{ item.name|default_if_none:''}}"
                           o_value="{{ item.name|default_if_none:''}}"
                           class="input_text border-none" >
                </td>
              <!--
                <td>
                    <input name="email"
                           type="text"
                           autocomplete="off"
                           ondragstart="return false;"
                           ondrop="return false;"
                           maxlength="{{ item.maxlen_email}}"
                           value="{{ item.email|default_if_none:''}}"
                           o_value="{{ item.email|default_if_none:''}}"
                           class="input_text border-none" >
                </td>
                <td>
                    <input name="telephone"
                           type="text"
                           autocomplete="off"
                           ondragstart="return false;"
                           ondrop="return false;"
                           maxlength="{{ item.maxlen_telephone}}"
                           value="{{ item.telephone|default_if_none:''}}"
                           o_value="{{ item.telephone|default_if_none:''}}"
                           class="input_text border-none" >
                </td>
              -->
                <td >
                    <input name="datefirst"
                           type="date"
                           autocomplete="off"
                           ondragstart="return false;"
                           ondrop="return false;"
                           value="{{ item.datefirst_str }}"
                           o_value="{{ item.datefirst_str }}"
                           max="{{ item.datelast_str}}"
                           class="input_text border-none" >

                </td>
                <td >
                    <input name="datelast"
                           type="date"
                           autocomplete="off"
                           ondragstart="return false;"
                           ondrop="return false;"
                           value="{{ item.datelast_str }}"
                           o_value="{{ item.datelast_str }}"
                           max="{{ item.datefirst_str}}"
                           class="input_text border-none" >

                </td>
                <td >
                    <input name="modified_by"
                           type="text"
                           autocomplete="off"
                           value="{{ item.modified_by}}"
                           readonly="readonly"
                           class="border-none" >
                </td>
                <td>
                    <input name="modified_at"
                           type="text"
                           value="{{ item.modified_at|date:'DATETIME_FORMAT'}}"
                           readonly="readonly"
                           class="border-none" >
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

    <div id="id_data"
        data-img_inactive_src = "{% static 'img/inactive_black.png' %}"
        data-img_active_src = "{% static 'img/inactive_grey.png' %}"
        data-img_delete_src="{% static 'img/delete.gif' %}"
        data-customer_upload_url= "{% url 'customer_upload_url' %}"
        data-err_msg01= "{% trans 'An error occurred.' %}"
    ></div>

  {% else %}
    <div class="alert alert-danger">{% trans 'Error' %}</div>
    <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}l>