{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="{% static 'css/table_import.css' %}">
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.11.8/xlsx.core.min.js"></script>
    <!-- PR2019-01-13 removed to base.html
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
    -->
    <script src="{% static 'js/order_import.js' %}"></script>
    <script src="{% static 'js/tables.js' %}"></script>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
        {% if user.is_role_system %}

            <div class="c_select_file">
                <p><b>{% trans 'Select file' %}</b></p>
                <p>{% trans 'Drag column name to link or unlink columns' %}</p>

                <div>
                    <input class="c_form_text" type="file" id="filedialogID" name="file" accept=".xlsx, .xls, csv">
                </div>
                <br />
                <div class="c_hide">
                    <label class="c_form_select" for="SheetListID">{% trans 'Select a worksheet' %}</label>
                    <select id="SheetListID" class="c_form_select" ></select>
                </div>
                <br />
                <div>
                  <input class="c_form_text" type="checkbox" id="checkBoxID" value="false">
                  <label class="c_form_text" for="checkBoxID"> {% trans 'Worksheet has no header row' %}</label>
                </div>
                <br />

                <div id="div_infoID"></div>
                
                
                <div class="ea_flex">
                    <div id="id_basediv_col" class="c_link_columns"></div>
                </div>
                <div class="ea_flex">
                <button
                        id="btn_import"
                        class="submit-button"
                        type="button"

                > {% trans 'Click to upload the data' %}</button>

                </div>
            </div>
        <br />
        <span>
            <img id="id_loading_img" src="{% static 'img/loader.gif' %}" height="64" width="64" class="display_hide" >
        </span>

        <table class="c_table_stud" id="id_table" width="100%" class="display_hide">
            <thead id="id_thead" class="c_thead"></thead>
            <tbody id="id_tbody" class="c_tbody"></tbody>
            <tfoot id="id_tfoot" class="c_tfoot"></tfoot>
        </table>

        <div id="id_data"
            data-orderimport_uploadsetting_url= "{% url 'orderimport_uploadsetting_url' %}"
            data-orderimport_uploaddata_url= "{% url 'orderimport_uploaddata_url' %}"
            data-captions = "{{ captions }}"
            data-settings = "{{ settings }}"
        ></div>


    {% else %}
      <form class="form-inline ml-auto">
        <a href="{% url 'home' %}" class="btn btn-outline-secundary">{% trans "You don't have permission to view this page." %}</a>
      </form>
    {% endif %}
  {% else %}
    <form class="form-inline ml-auto">
      <a href="{% url 'login' %}" class="btn btn-outline-secundary">{% trans 'You must be logged in to view this page' %}</a>
    </form>
  {% endif %}
{% endblock %}