{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block script %}
    <script src="{% static 'js/orders.js' %}"></script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="popup display_hide" >
            <span class="popuptext" id="id_msgbox"></span>
        </div>

        <!-- flex_container -->
        <div class="flex_container mx-1 my-2">

<!-- customer select table -->
            <!-- flex_content -->
            <div class="flex_content mx-1 my-2 tsa_bc_lightlightgrey">
                <div class="content_subheader_left mx-2 my-1">
                    <div>
                        <table class="table table-condensed tsa-tbl">
                            <thead class="mx-1 my-1 border_none">
                                <tr class="mx-1 my-1">
                                    <td class="mx-1 my-1 ">{% trans 'Select customer' %}:</td>
                                </tr>
                                <tr>
                                    <td class="mx-1 my-1">
                                        <input id="id_filter_customers" type="text" class="fieldname pt-0 pb-0" colspan=2 placeholder="{% trans 'filter name...' %}">
                                    </td>
                                </tr>
                            </thead>
                            <tbody id="id_tbody_select"></tbody>
                        </table>
                    </div>
                </div>
            </div>
<!-- customer select table -->   <!-- flex_content -->

            <!-- content_wrapper -->
            <div class="content_wrapper tsa_bc_transparent border_none">


                <!-- customer header -->
                <div class="content_subheader_right">
                    <div class="content_header">
                        <div class="content_subheader_left mx-2">
                            <h5 id="id_hdr_customer">{% trans "Orders of customer" %}: </h5>
                        </div>
                    </div>
                    <div class="content_header">
                        <div class="content_subheader_left">
                            <input id="id_filter_orders"
                            type="text"
                            class="fieldname pt-0 pb-0"
                            placeholder="{% trans 'filter...' %}">
                        </div>
                    </div>
                </div>
                <!-- customer header -->

                <!-- content body -->
                <div class="content_body mx-2">

<!-- popup container -->
                    <div class="popup-container">

                        <!-- =================== POPUP DATE  =================== -->
                         <div id="id_popup_wdy" class="popup_box tsa_bc_lightlightgrey display_hide">
                             <input id="id_popup_date"  type="date" class="input_text mx-4 my-1" ></input>
                         </div>
                         <!-- =================== END POPUP DATE  =================== -->

                        <!-- =================== table orders  =================== -->
                        <table class="table tsa-tbl">
                            <thead>
                                <th >{% trans 'Code' %}</th>
                                <th>{% trans 'Order name' %}</th>
                                <th>{% trans 'Start date' %}</th>
                                <th>{% trans 'End date' %}</th>
                                <th>
                                    <a id="id_filter_inactive" href="#" data-value="false" title="{% trans 'Show inactive orders' %}">
                                        <img id="id_img_filter_inactive" src="{% static 'img/inactive_grey.png' %}" height="24" width="24">
                                    </a>
                                </th>
                            </thead>
                            <tbody id="id_tbody_items"></tbody>
                        </table>
                        <!-- =================== table orders  =================== -->

                    </div>
                    <!-- popup container -->

                </div>
                <!-- content body -->

            </div>
            <!-- content_wrapper -->

                    </div> <!-- flex_container -->




        <div id="id_data"
            data-imgsrc_inactive = "{% static 'img/inactive_black.png' %}"
            data-imgsrc_active = "{% static 'img/inactive_grey.png' %}"
            data-imgsrc_delete="{% static 'img/delete.gif' %}"
            data-imgsrc_warning="{% static 'img/warning.gif' %}"

            data-lang ="{{ lang }}"
            data-interval ="{{ interval }}"
            data-timeformat ="{{ timeformat }}"
            data-weekdays ="{{ weekdays }}"
            data-months ="{{ months }}"
            data-today ="{{ today }}"

            data-order_upload_url="{% url 'order_upload_url' %}"
            data-datalist_download_url="{% url 'datalist_download_url' %}"
            data-err_msg01= "{% trans 'An error occurred.' %}"

            data-txt_orders_of_customer= "{% trans 'Orders of customer' %}"
            data-txt_select_customer_none= "{% trans 'No customers' %}"
            data-txt_order_add= "{% trans 'Add new order' %}"
            data-txt_order_make_inactive= "{% trans 'Make order inactive' %}"
            data-txt_order_make_active= "{% trans 'Make order active' %}"

            data-txt_datefirst= "{% trans 'Start date' %}"
            data-txt_datelast= "{% trans 'End date' %}"

        >
        </div>

        <datalist id="id_datalist_customers"></datalist>

    {% else %}
        <div class="alert alert-danger">{% trans 'Error' %}</div>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
    {% endif %}
{% endblock %}