{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Company' %}{% endblock %}
{% block stylesheet %}{% endblock %}
{% block script %}
    <script src="{% static 'js/company210302.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Company' %}</h3>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    {% if user.is_role_company_and_perm_sysadmin or user.is_role_system_and_perm_sysadmin %}

<!-- =================== MODAL CONFIRM  =================== -->
        {% include 'includes/confirm.html' %}

<!-- =================== CONTAINER =================== -->
        <div class="container">

<!-- CONTENT HEADER - LOADER -->
            <div class="tsa_margin_top48_left24">
    <!-- content_header -->
                <div class="content_header">
         <!-- header_text -->
                    <div class="content_subheader_left mx-2 ">
                        <h5 id="id_hdr_text"></h5>
                    </div>
         <!-- loader -->
                    <div class="content_header_middle ">
                        <div id="id_loader" class="image_container visibility_hide">
                            <img  src="{% static 'img/loader.gif' %}" height="24" width="24">
                        </div>
                    </div>
                </div>
        <!-- end content_header -->
    <!-- end class content_header -->
    <!-- BUTTON GROUP -->
                <div id="id_btn_container" class="btn-group btn-block mx-2 my-2" role="group" aria-label="Choose option" >
                    <button type="button" data-btn="company" class="btn btn-secondary">{% trans 'Company data' %}</button>
                    <button type="button" data-btn="users" class="btn btn-secondary">{% trans 'Users' %}</button>
                    <button type="button" data-btn="invoices" class="btn btn-secondary ">{% trans 'Invoices' %}</button>
                    <button type="button" data-btn="settings" class="btn btn-secondary ">{% trans 'Settings' %}</button>
                    <button type="button" data-btn="subscription" class="btn btn-secondary ">{% trans 'Subscription' %}</button>
                    <button type="button" data-btn="help" class="btn btn-secondary ">{% trans 'Help' %}</button>
                </div>
    <!-- end BUTTON GROUP -->
            </div>
<!-- end CONTENT HEADER - LOADER -->

<!-- CONTENT BODY -->
            <div class="content_body mx-2">
<!-- =================== POPUP DATE  =================== -->
                 <div id="id_popup_date_container" class="popup_box tsa_bc_lightlightgrey display_hide">
                     <input id="id_popup_date" type="date" class="tsa_transparent mx-4 my-1" >
                 </div>
    <!-- =================== DATA TABLE  =================== -->
                <div id="id_div_tbl_customer" class="tab_show tab_customer display_hide">
                     <table  class="table tsa_tbl">
                        <thead id="id_thead_customer"></thead>
                        <tbody id="id_tbody_customer"></tbody>
                        <tfoot id="id_tfoot_customer"></tfoot>
                    </table>
                </div>
                <div id="id_div_tbl_order" class="tab_show tab_order display_hide">
                     <table  class="table tsa_tbl">
                        <thead id="id_thead_order"></thead>
                        <tbody id="id_tbody_order"></tbody>
                        <tfoot id="id_tfoot_order"></tfoot>
                    </table>
                </div>
                <div id="id_div_tbl_companyinvoice" class="content_header tab_show tab_planning display_hideXX">
                    <div class="content_subheader_left mx-2">
                        <h5 id="id_hdr_companyinvoice" title="{% trans 'Click to select a customer, order and period.' %}" class="pointer_show"></h5>
                    </div>
                     <table class="table tsa_tbl">
                        <thead id="id_CIV_thead"></thead>
                        <tbody id="id_CIV_tbody"></tbody>
                        <tfoot id="id_CIV_tfoot"></tfoot>
                    </table>
                </div>

    <!-- =================== DATA FORM  =================== -->
                <div id="id_div_data_form" class="tab_show tab_form display_hide">
                    <div class="form-group mx-2">
                        <label for="id_form_code" class="mx-2 my-2">{% trans 'Short name of customer' %}:</label>
                        <input id="id_form_code" type="text" data-field= "code"
                            autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                        <label for="id_form_name" class="mx-2 my-2">{% trans 'Customer name' %}:</label>
                        <input id="id_form_name" type="text" data-field= "name"
                            autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                    </div>
                    <div class="mx-2 my-2">
                        <button id="id_form_btn_add" type="button" class="btn btn-outline-primary">{% trans 'Add customer' %}</button>
                        <button id="id_form_btn_delete" type="button" disabled class="btn btn-outline-danger">{% trans 'Delete customer' %}</button>
                    </div>
                </div>
    <!-- =================== END DATA FORM  =================== -->
            </div>
<!-- END CONTENT BODY -->
        </div>
<!-- =================== END CONTAINER =================== -->
        <div id="id_data"
            data-datalist_download_url="{% url 'datalist_download_url' %}"
            data-settings_upload_url="{% url 'settings_upload_url' %}"
            data-customer_upload_url="{% url 'customer_upload_url' %}"
            data-teammember_upload_url="{% url 'teammember_upload_url' %}"
            data-order_import_url="{% url 'order_import_url' %}"
            data-pricerate_upload_url="{% url 'pricerate_upload_url' %}"

            data-imgsrc_inactive_black = "{% static 'img/inactive_black.png' %}"
            data-imgsrc_inactive_grey = "{% static 'img/inactive_grey.png' %}"
            data-imgsrc_inactive_lightgrey = "{% static 'img/inactive_lightgrey.png' %}"
            data-imgsrc_b_black = "{% static 'img/b_black.png' %}"
            data-imgsrc_b_grey = "{% static 'img/b_grey.png' %}"
            data-imgsrc_d_black = "{% static 'img/d_black.png' %}"
            data-imgsrc_d_grey = "{% static 'img/d_grey.png' %}"
            data-imgsrc_cross_red = "{% static 'img/cross_red.png' %}"
            data-imgsrc_cross_grey = "{% static 'img/cross_grey.png' %}"
            data-imgsrc_stat00="{% static 'img/stat00.png' %}"

            data-imgsrc_delete="{% static 'img/delete.gif' %}"
            data-imgsrc_deletered="{% static 'img/deletered.gif' %}"
        >
        </div>

    {% else %}
            <div class="tsa_margin_top48_left24 mx-2">
        <div class="alert alert-danger">{% trans "You don't have permission to view this page." %}</div>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
                  </div>
    {% endif %}
{% endblock %}