{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block stylesheet %}
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
        {% if user.is_role_system %}
            <div class="mb-3">
                <a href="{% url 'company_add_url' %}" class="btn btn-primary">{% trans 'Add company' %}</a>
            </div>
        {% endif %}
        <h4>{% trans 'Companies' %}</h4>

        <table class="table table table-condensed tbl">
          <thead class="thead-inverse">
            <tr>
              <th></th>
              <th>{% trans 'Code' %}</th>
              <th>{% trans 'Company name' %}</th>
              <th>{% trans 'Start date' %}</th>
              <th>{% trans 'End date' %}</th>
              <th>{% trans 'Balance' %}</th>
              <th>{% trans 'Time zone' %}</th>
              <th>{% trans 'Time format' %}</th>
              <th>{% trans 'Interval' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for item in companies.all %}
              <tr>
                <td>
                    <a name="inactive" href="#"
                       value="{{ item.inactive }}"
                       class="input_icon">
                        {% if item.inactive %}
                            <img src="{% static 'img/inactive_black.png' %}" height="24" width="24">
                        {% else %}
                            <img src="{% static 'img/inactive_grey.png' %}" height="24" width="24">
                        {% endif %}
                    </a>
                </td>
                <td>{{ item.code|default_if_none:''}}</td>
                <td>
                    <a href="{% url 'company_edit_url' item.pk %}" >{{ item.name|default_if_none:''}}</a>
                </td>
                <td>{{ item.datefirst|default_if_none:''}}</td>
                <td>{{ item.datelast|default_if_none:''}}</td>
                <td>{{ item.balance|default_if_none:''}}</td>
                <td>{{ item.timezone|default_if_none:''}}</td>
                <td>{{ item.timeformat|default_if_none:''}}</td>
                <td>{{ item.interval|default_if_none:''}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>


<!--  PayPal Logo <table border="0" cellpadding="10" cellspacing="0" align="center"><tbody><tr><td align="center"></td></tr><tr><td align="center">  -->
    <a href="https://www.paypal.com/nl/webapps/mpp/paypal-popup" title="Hoe PayPal Werkt" onclick="javascript:window.open('https://www.paypal.com/nl/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo-center/logo_betalen_met_paypal_nl.jpg" border="0" alt="PayPal Acceptatie Logo" /></a>
<!--  </td></tr></tbody></table> PayPal Logo -->




  {% else %}
    <div class="alert alert-danger">Error</div>
    <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}l>