{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Companies' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/companies201030.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Company' %}</h3>
        </div>

        <div class="sidebar-header">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="8LXLQ9KHJN5TN">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Opties">Buy shifts now</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Optie 1">10.00 USD</option>
                                <option value="Optie 2">25.00 USD</option>
                                <option value="Optie 3">50.00 USD</option>
                                <option value="Optie 4">100.00 USD</option>
                                <option value="Optie 5">250.00 USD</option>
                                <option value="Optie 6">500.00 USD</option>
                                <option value="Optie 7">1,000.00 USD</option>
                            </select>
                        </td>
                    </tr>
                </table>

                <input type="hidden" name="currency_code" value="USD">

                <input type="image" src="https://www.paypalobjects.com/nl_NL/NL/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal, de veilige en complete manier van online betalen.">
                <img alt="" border="0" src="https://www.paypalobjects.com/nl_NL/i/scr/pixel.gif" width="1" height="1">
            </form>

        </div>

    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_role_system %}
            <!-- class container -->
            <div class="container">
                <!-- class content_subheader mt-5 -->
                <div class="content_subheader mt-5">

                    <!-- class content_header -->
                    <div class="content_header">
                        <div class="content_subheader_left mx-4">
                            <h5 id="id_hdr_employee">{% trans 'Companies' %}</h5>
                        </div>
                        <div class="content_header_middle mx-4">
                            <!-- loader -->
                            <div id="id_div_loader" class="image_container visibility_hide">
                                <img  src="{% static 'img/loader.gif' %}" height="24" width="24">

                            </div>
                            <!-- loader -->
                        </div>
                        <div class="content_subheader_right mx-2 ">
                    </div>
                    </div>
                    <!-- end class content_header -->

        <table class="table table table-condensed tbl">
          <thead class="thead-inverse">
            <tr>
              <th></th>
              <th>{% trans 'Short company name' %}</th>
              <th>{% trans 'Official company name' %}</th>
              <th>{% trans 'Start date' %}</th>
              <th>{% trans 'End date' %}</th>
              <th>{% trans 'Balance' %}</th>
              <th>{% trans 'Time zone' %}</th>
              <th>{% trans 'Time format' %}</th>
              <th>{% trans 'Interval' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for item in companies.all %}
              <tr>
                <td>
                    <a name="inactive" href="#"
                       value="{{ item.inactive }}"
                       class="input_icon">
                        {% if item.inactive %}
                            <img src="{% static 'img/inactive_black.png' %}" height="24" width="24">
                        {% else %}
                            <img src="{% static 'img/inactive_grey.png' %}" height="24" width="24">
                        {% endif %}
                    </a>
                </td>
                <td>{{ item.code|default_if_none:''}}</td>
                <td>
                    <a href="{% url 'company_edit_url' item.pk %}" >{{ item.name|default_if_none:''}}</a>
                </td>
                <td>{{ item.datefirst|default_if_none:''}}</td>
                <td>{{ item.datelast|default_if_none:''}}</td>
                <td>{{ item.balance|default_if_none:''}}</td>
                <td>{{ item.timezone|default_if_none:''}}</td>
                <td>{{ item.timeformat|default_if_none:''}}</td>
                <td>{{ item.interval|default_if_none:''}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

                    <div id="id_data"
                    data-imgsrc_inactive_black = "{% static 'img/inactive_black.png' %}"
                    data-imgsrc_inactive_grey = "{% static 'img/inactive_grey.png' %}"
                    data-imgsrc_delete="{% static 'img/delete.gif' %}"

                    data-lang ="{{ lang }}"
                    data-timezone ="{{ timezone }}"
                    data-weekdays ="{{ weekdays }}"
                    data-months ="{{ months }}"
                    data-today ="{{ today }}"

                    data-datalist_download_url="{% url 'datalist_download_url' %}"
                    data-company_add_url="{% url 'company_add_url' %}"
                    data-invoice_add_url="{% url 'invoice_add_url' %}"

                    data-txt_company_add= "{% trans 'Add company' %}"
                    data-txt_invoice_add= "{% trans 'Add invoice' %}"
                    ></div>

                </div>
                <!-- end class content_subheader mt-5 -->
            </div>
            <!-- end class container -->
        {% endif %}
    {% else %}
        <div class="alert alert-danger">Error</div>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
    {% endif %}
{% endblock %}l>