{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">TSA secure</a></li>
    <li class="breadcrumb-item"><a href="{% url 'company_list_url' %}">{% trans 'Companies' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'Edit company' %}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.is_role_system %}
    <form method="post" novalidate>
      {% csrf_token %}
       <input type="hidden" name="next" value="{{ next }}">
      <h4>{% trans 'Edit company' %} {{company.name|default_if_none:''}}</h4>
      {% include 'includes/form.html' %}
      <button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
      <a href="{% url 'company_list_url' %}" class="btn btn-outline-secundary">{% trans 'Cancel' %}</a>
    </form>
  {% else %}
    <div class="alert alert-danger">{{ user.message_company_modify }}</div>
    <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}