{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
              <div class="card mt-5">
                <div class="card-body">
                  <h2 class="card-title"><b>{% trans 'Welcome at' %}</b></h2>
                  <h2 class="card-title">{% trans 'TSA' %}</h2>
                  <h5 >{% trans 'Please log in' %}</h5>

                </div>
              </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


