
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* The actual popup (appears on top) */
.popup .popuptext {
  /*visibility: hidden;*/
  display: none;
  position: absolute;

  width: 240px;

    font-size: 14px;
    font-family: "Lucida Sans", sans-serif;
    color: #fff; /* #ffd01c; */
    background: #646464;
    text-shadow: 0px 1px 1px #000;

  text-align: center;
  border-radius: .25rem;
   padding: 6px 12px;
   padding: .25rem .5rem;

  z-index: 1;

}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #646464 transparent transparent transparent;

}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  /* visibility: visible;*/
  display: inline-block;
  -webkit-animation: fadeIn .25s;
  animation: fadeIn .25s

}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.msgbox {
    position: absolute;
    background: #646464;
    border-radius:4px;
    padding: 6px 12px;
    font-family: arial;
    font-size: 12px;
    text-shadow: 0px 1px 1px #000;
    color: #ffd01c; /* #ffc64a; */
      -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  .msgbox:before {
    content : " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #646464;
    position:absolute;
    bottom:-5px;
    left:5px;
      -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  }
  /* =============================






