/* PR2019-05-02 PR2019-07-19*/
.input_text, .tsa_transparent {
    background: transparent;
    border: none;
    margin: 0;
	padding: 0;
}

.input_timepicker {
    text-align: right;
    background: transparent;
    border: none;
    margin: 0;
	padding: 0;
}
.input_popup {
    text-align: right;
    background: transparent;
    border: none;
    margin: 0;
	padding: 0;
}
.input_popup_date {
    text-align: left;
    background: transparent;
    border: none;*/
    margin: 0;
	padding: 0;
}

.input_popup_dhm {
    text-align: right;
    background: transparent;
    border: none;
    margin: 0;
	padding: 0;
}
.input_popup_wdy {
    text-align: left;
    background: transparent;
    border: none;
    margin: 0;
	padding: 0;
}

/* PR2019-04-13 */
.popup_container {
    position:relative;

    z-index:99;
    padding: 0;
    margin: 0;
}

.popup_box {
    position: absolute;
    padding: 0;
    margin: 0;

    /*background-color: #808080; /* #e0e0e0; /* licht grijs; */
    /*background: #ffd01c; /* tsa yellow */
    /*background: #fbedba; /* tsa_bc_yellow_light lighter shade of tsa yellow */
    background: #fdf7e1; /* tsa_bc_yellow_lightlight more lighter shade of tsa yellow */

    color: #868e96;
    z-index: 99;
}

.popup_header {
    display: flex;
    align-items: flex-start; /* so the close btn always stays on the upper right corner */
    justify-content: space-between; /* Put modal header elements (title and dismiss) on opposite ends */
    /*border-bottom: 1px solid purple /*#808080; /* grijs; */

    background-color: #808080;
    color: #ffffff;
    /*font-weight: bold;*/
  }

/* PR2019-04-13 for popup box */
.pop_tbl {
    table-layout: auto;
    /*table-layout: fixed;*/
    width: 100%; /* must have this set */
}
.pop_tbl th  {
    padding: 4px;
    margin: 0;
    white-space: normal;
    /*overflow: hidden;
    text-overflow: ellipsis;*/
}

.pop_tbl tr {
    padding: 0;
    margin: 0;

    /*background-color: #808080; /* #e0e0e0; /* licht grijs; */
    /*background: #ffd01c; /* tsa yellow */
    /*background: #fbedba; /* tsa_bc_yellow_light lighter shade of tsa yellow */
    background: #fdf7e1; /* tsa_bc_yellow_lightlight more lighter shade of tsa yellow */
}
.pop_tbl td {
    /* padding: <top><right><bottom><left> */
    padding: 2px 4px 0 4px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pop_background {
    /*border: 1px solid  #4cbd67;  /*  #28a745; is green like in django is-valid */
    /*border-radius: .25rem; */
    /*background: #ffd01c; /* tsa yellow */
    /*background: #fdf7e1; /* more lighter shade of tsa yellow */
    background: #fbedba; /* lighter shade of tsa yellow */
}

.tsa_btn_selected  {
    background-color: #fbedba; /* lighter shade of tsa yellow */
    color: #303024; /* dark dark Panta Rhei grey 48 48 36 */
}

/* PR2019-04-06 from https://css-tricks.com/fixing-tables-long-strings/ */
.tsa_tbl  {
    /*table-layout: auto;*/
    table-layout: fixed;
    width: 100%; /* must have this set instead of 'auto'*/
    /* try: */
    /* word-break: break-all; */
    word-break: break-word;
    display: block;
    overflow: auto;
}

.tsa_tbl th  {
    padding: 0.2rem 0.25rem 0.05rem 0.25rem;
    margin: 0;
    /*background: #f8f8f8; /*licht licht licht grijs 248 248 248 100%; */
    /*background: #e8e8e880; /*licht licht grijs 232 232 232 50% */
    background-color: #f5f5f5; /* this is reddish: background-color: #f8f8f8;*/
    white-space: normal;
    overflow-wrap: break-word; /* TODO not working*/
    word-wrap: break-word;
    /*overflow: hidden;
    text-overflow: ellipsis;*/
}

.tsa_tbl tr {
    padding: 0.2rem 0.25rem 0.05rem 0.25rem;
    margin: 0;
}

.tsa_tbl td {
    padding: 0.2rem 0.25rem 0.05rem 0.25rem;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;



    text-overflow: ellipsis;
}

.text_align_left {
    text-align: left;
}

.text_align_center {
    text-align: center;
}
.text_align_right {
    text-align: right;
}
.line_height_normal {
    line-height: normal;
}

.image_container {
  display: flex;
  justify-content: center;
}

.td_height_240 {
    height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
}
.td_width_360 {
    width: 360px;
}
.td_width_270 {
    width: 270px;
}
.td_width_240 {
    width: 240px;
}
.td_width_220 {
    width: 220px;
}
.td_width_200 {
    width: 200px;
}
.td_width_180 {
    width: 180px;
}
.td_width_150 {
    width: 150px;
}
.td_width_120 {
    width: 120px;
}
.td_width_110 {
    width: 110px;
}
.td_width_100 {
    width: 100px;
}
.td_width_090 {
    width: 90px;
}
.td_width_hours {
    padding: 2px;
    width: 60px;
    }
.td_width_070 {
    width: 70px;
}
.td_width_060 {
    width: 60px;
}
.td_width_032 {
    width: 32px;
}
.td_width_016 {
    width: 16px;
}
.tbl_border {
    border: 1px solid #808080; /* grijs; */
}

.td_border_right {
    border-right: 1px solid #808080; /* grijs; */
}
.td_border_left {
    border-left: 1px solid #808080; /* grijs; */
}
.tsa_tr_selected {
    background: #e0e0e0; /* light grey; tsa_tr_selected*/
}

.tsa_tr_error {
   /* background: #f1b5b5; /* licht rood; */
    background: #ffe8e8; /* licht lichtrood; */

}

.tsa_tr_ok {
    background: #d7f4de; /* licht groen; */
}

.tsa_color_error {
    color: orange; /* #f1b5b5; /* licht rood; */
}
.tsa_ellipsis {
    white-space: nowrap;
    overflow: hidden;
}


.status_icon {
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: -48 0;
     object-position: -48 0;
  width: 24px;
  height: 24px;
}
.book {
  -o-object-position: 0 -234px;
     object-position: 0 -234px;
}


.tr_hover {
   /* background-color: #7e98b5; /*lgreyish lightblue PR2019-01-05*/
   /* background-color: #2d4e7780; */
   /* background: #2d4e7705; /* as #2d4e7780, but  25% opaque */
   background-color: #e0e0e0; /* licht grijs; tsa_tr_selected*/
    /* background-color: #808080; /* donker grijs*/
   /*color: #ffffff;*/
    color: #000000;
    -moz-box-shadow: 3px 3px 5px 6px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 3px 3px 5px 6px rgba(68, 68, 68, 0.6);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */  /* Firefox 3.5 - 3.6 */
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
    box-shadow:         3px 3px 5px 6px rgba(68, 68, 68, 0.6);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.tr_highlighted {
    /* background-color:   #2D4E77; /* HeaderBackColor Default Schema Blauw donkerblauw */
    /* background:  #2d4e77cc;*/
    background-color: #808080;
    color: #ffffff;
    font-weight: bold;
        -moz-transition: background 0.25s ease-in-out;
        -webkit-transition: background 0.25s ease-in-out;
               -o-transition: background 0.25s ease-in-out;
               transition: background 0.25s ease-in-out;
}

.tr_color_disabled {
    color: grey; /* #e0e0e0; /* default light grey */
}

.tsa_color_lightgrey {
    /*color: #e0e0e0 !important; /* #e0e0e0; 224 224 224 /* default light grey */
    color: #a0a0a0 !important; /* bit darker lightgrey 160 160 160 **/
    /*font-weight: bold !important;*/

   /* background-color: #303024; /* dark dark Panta Rhei grey 48 48 36 */
    /*background-color: #808080; /* dark grey 128 128 128 */
   /* background-color: #a5a5a5; /* medium grey; 165 165 165 */
   /* background-color:  #d8d8d8;  /* light grey 218 218 218 100%  /*  #e0e0e0; light grey 224 224 224 */
}

.tsa_color_lightlightgrey {
    color: #d8d8d8 !important;  /* light grey 218 218 218 100%  */
}
.tsa_color_mediumgrey {
    color: #a5a5a5 !important;  /* medium grey; 165 165 165 */
}
.tsa_color_darkgrey {
    color: #808080 !important;  /* dark grey 128 128 128 */
}
.tsa_color_darkblue {
    color: #40487f !important;  /* dark blue   #40487f     64 72 127 */
}
.tsa_color_lightblue {
    color: #969dcd !important;  /*   lightblue    #969dcd    150 157 205 */
}

.tsa_color_notallowed {
    color: red !important; /* #e0e0e0; /* default light grey */
    font-weight: bold !important;
}
.tsa_color_red {
    color: #cc0000; /* bit dark red ; /* default light grey */
}

.tsa_padding_20 {
    /* padding: <top><right><bottom><left> */
    padding: 20px 20px 20px 20px;
}

.tsa_margin_top_48 {
    /* margin: <top><right><bottom><left> */
   margin-top: 48px
}

.tsa_margin_form_label {
    margin: 16px 8px 4px 8px;; /* mx-2 = .5 rem, mx-1 = .25 rem, 1 rem = 16 px*/
}

.tsa_flex_1 {
    flex: 1;
}

.tsa_flex_2 {
    flex: 2;
}

.tsa_flex_3 {
    flex: 3;
}

.tsa_flex_4 {
    flex: 4;
}
.tsa_scroll_100vh {
    max-height: 100vh;
    overflow: auto;
}
.tsa_scroll_50vh {
    max-height: 50vh;
    overflow: auto;
}
.tbl_div_400_220 {
    overflow-x: hidden;
    overflow-y: auto;
    height: 400px;
    width: 220px;
}

.tbl_div_50vh_200 {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 50vh;
    width: 200px;
}
.tbl_div_25vh_200 {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 25vh;
    width: 200px;
}