

/* PR2019-05-02 PR2019-07-19*/
.input_text, .tsa_transparent {
    background: transparent;
    border: none;
    margin: 0;
	padding: 0;
}

.input_timepicker {
    text-align: right;
    background: transparent;
    border: none;
    margin: 0;
	padding: 0;
}
.input_popup {
    text-align: right;
    background: transparent;
    border: none;
    margin: 0;
	padding: 0;
}
.input_popup_date {
    text-align: left;
    background: transparent;
    border: none;*/
    margin: 0;
	padding: 0;
}

.input_popup_dhm {
    text-align: right;
    background: transparent;
    border: none;
    margin: 0;
	padding: 0;
}
.input_popup_wdy {
    text-align: left;
    background: transparent;
    border: none;
    margin: 0;
	padding: 0;
}

/* PR2019-04-13 */
.popup_container {
    position:relative;

    z-index:99;
    padding: 0;
    margin: 0;
}

.popup_box {
    position: absolute;
    padding: 0;
    margin: 0;

    /*background-color: #808080; /* #e0e0e0; /* licht grijs; */
    /*background: #ffd01c; /* tsa yellow */
    /*background: #fbedba; /* tsa_bc_yellow_light lighter shade of tsa yellow */
    background: #fdf7e1; /* tsa_bc_yellow_lightlight more lighter shade of tsa yellow */

    color: #868e96;
    z-index: 99;
}

.popup_header {
    display: flex;
    align-items: flex-start; /* so the close btn always stays on the upper right corner */
    justify-content: space-between; /* Put modal header elements (title and dismiss) on opposite ends */
    /*border-bottom: 1px solid purple /*#808080; /* grijs; */

    background-color: #808080;
    color: #ffffff;
    /*font-weight: bold;*/
  }

/* PR2019-04-13 for popup box */
.pop_tbl {
    table-layout: auto;
    /*table-layout: fixed;*/
    width: 100%; /* must have this set */
}
.pop_tbl th  {
    padding: 4px;
    margin: 0;
    white-space: normal;
    /*overflow: hidden;
    text-overflow: ellipsis;*/
}

.pop_tbl tr {
    padding: 0;
    margin: 0;

    /*background-color: #808080; /* #e0e0e0; /* licht grijs; */
    /*background: #ffd01c; /* tsa yellow */
    /*background: #fbedba; /* tsa_bc_yellow_light lighter shade of tsa yellow */
    background: #fdf7e1; /* tsa_bc_yellow_lightlight more lighter shade of tsa yellow */
}
.pop_tbl td {
    /* padding: <top><right><bottom><left> */
    padding: 2px 4px 0 4px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* PR2019-04-06 from https://css-tricks.com/fixing-tables-long-strings/ */
.tsa_tbl  {
    /*table-layout: auto;*/
    table-layout: fixed;
    width: 100%; /* must have this set instead of 'auto'*/
    /* try: */
    /* word-break: break-all; */
    word-break: break-word;
    display: block;
    overflow: auto;
    /* PR2020-06-17 see https://stackoverflow.com/questions/41421512/why-does-flex-box-work-with-a-div-but-not-a-table */
    /* TEST
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    border-collapse: collapse;
    */
}

.tsa_tbl th  {
    padding: 0.2rem 0.25rem 0.05rem 0.25rem;
    margin: 0;
    /*background: #f8f8f8; /*licht licht licht grijs 248 248 248 100%; */
    /*background: #e8e8e880; /*licht licht grijs 232 232 232 50% */
    background-color: #f5f5f5; /* this is reddish: background-color: #f8f8f8;*/
    white-space: normal;
    overflow-wrap: break-word; /* TODO not working*/
    word-wrap: break-word;
    /*overflow: hidden;
    text-overflow: ellipsis;*/
}

.tsa_tbl tr {
    padding: 0.2rem 0.25rem 0.05rem 0.25rem;
    margin: 0;
}

.tsa_tbl td {
    /* display: table-cell; /* PR2020-05-28 problems with right align offset field in datatable om planning page */
    /*width: 100%;*/
    padding: 0.2rem 0.25rem 0.05rem 0.25rem;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;/* from bootstrap table td */
    border-top: 1px solid #dee2e6; /* from bootstrap table td */
}
.tbl_h_360 {
    height: 360px;
    overflow-x: hidden;
    overflow-y: auto;
}
.tbl_h_240 {
    height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
}
.tbl_h_180 {
    height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
}
.ta_l {
    text-align: left;
}

.ta_c {
    text-align: center;
}
.ta_r {
    text-align: right;
}
.line_height_normal {
    line-height: normal;
}

.image_container {
  display: flex;
  justify-content: center;
}

.icon_24 {
    width: 24px;
    height: 24px;
}
.icon_18 {
    width: 18px;
    height: 18px;
}

/* SPRITES PR2020-08-17 */

.stat_0_0, .stat_0_1, .stat_0_2, .stat_0_3, .stat_0_4, .stat_0_5, .stat_0_6,
.stat_1_0, .stat_1_1, .stat_1_2, .stat_1_3, .stat_1_4, .stat_1_5, .stat_1_6,
.inactive_0_0, .inactive_0_1, .inactive_0_2, .inactive_0_3,
.inactive_1_0, .inactive_1_1, .inactive_1_2, .inactive_1_3,
.edit_0_0, .edit_0_1, .edit_0_2, .edit_0_3, .edit_0_4, .edit_0_5, .edit_0_6, .edit_0_7,
.edit_1_0, .edit_1_1, .edit_1_2, .edit_1_3, .edit_1_4, .edit_1_5, .edit_1_6, .edit_1_7,
.edit_2_0, .edit_2_1, .edit_2_2, .edit_2_3, .edit_2_4, .edit_2_5, .edit_2_6, .edit_2_7,
.xmark_0_0, .xmark_0_1, .xmark_0_2, .xmark_0_3,
.exclamation_0_0, .exclamation_0_1, .exclamation_0_2,

.tick_0_0, .tick_0_1, .tick_0_2,
.tick_1_0, .tick_1_1, .tick_1_2,
.tick_2_0, .tick_2_1, .tick_2_2,

.flag_0_0, .flag_0_1, .flag_0_2,
.flag_1_0, .flag_1_1, .flag_1_2,
.delete_0_0, .delete_0_1, .delete_0_2 {
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin: auto;
    padding-top: 2px;
    /*cursor: pointer*/;
}

.stat_0_0, .stat_0_1, .stat_0_2, .stat_0_3, .stat_0_4, .stat_0_5, .stat_0_6,
.stat_1_0, .stat_1_1, .stat_1_2, .stat_1_3, .stat_1_4, .stat_1_5, .stat_1_6 {
    background-image: url('/static/img/status210214.png');
    background-size: 140px 40px;
}
.stat_0_0 { background-position: -0px -0px;}
.stat_0_1 { background-position: -20px -0px;}
.stat_0_2 { background-position: -40px -0px;}
.stat_0_3 { background-position: -60px -0px;}
.stat_0_4 { background-position: -80px -0px;}
.stat_0_5 { background-position: -100px -0px;}
.stat_0_6 { background-position: -120px -0px;}
.stat_1_0 { background-position: -0px -20px;}
.stat_1_1 { background-position: -20px -20px;}
.stat_1_2 { background-position: -40px -20px;}
.stat_1_3 { background-position: -60px -20px;}
.stat_1_4 { background-position: -80px -20px;}
.stat_1_5 { background-position: -100px -20px;}
.stat_1_6 { background-position: -120px -20px;}

.inactive_0_0, .inactive_0_1, .inactive_0_2, .inactive_0_3,
.inactive_1_0, .inactive_1_1, .inactive_1_2, .inactive_1_3 {
    background-image: url('/static/img/inactive.png');
    background-size: 80px 40px;
}
.inactive_0_0 { background-position: -0px -0px;}
.inactive_0_1 { background-position: -20px -0px;}
.inactive_0_2 { background-position: -40px -0px;}
.inactive_0_3 { background-position: -60px -0px;}
.inactive_1_0 { background-position: -0px -20px;}
.inactive_1_1 { background-position: -20px -20px;}
.inactive_1_2 { background-position: -40px -20px;}
.inactive_1_3 { background-position: -60px -20px;}

.edit_0_0, .edit_0_1, .edit_0_2, .edit_0_3, .edit_0_4, .edit_0_5, .edit_0_6, .edit_0_7,
.edit_1_0, .edit_1_1, .edit_1_2, .edit_1_3, .edit_1_4, .edit_1_5, .edit_1_6, .edit_1_7,
.edit_2_0, .edit_2_1, .edit_2_2, .edit_2_3, .edit_2_4, .edit_2_5, .edit_2_6, .edit_2_7 {
    background-image: url('/static/img/editor210202.png');
    background-size: 160px 60px;
}
.edit_0_0 { background-position: -0px -0px;}
.edit_0_1 { background-position: -20px -0px;}
.edit_0_2 { background-position: -40px -0px;}
.edit_0_3 { background-position: -60px -0px;}
.edit_0_4 { background-position: -80px -0px;}
.edit_0_5 { background-position: -100px -0px;}
.edit_0_6 { background-position: -120px -0px;}
.edit_0_7 { background-position: -140px -0px;}
.edit_1_0 { background-position: -0px -20px;}
.edit_1_1 { background-position: -20px -20px;}
.edit_1_2 { background-position: -40px -20px;}
.edit_1_3 { background-position: -60px -20px;}
.edit_1_4 { background-position: -80px -20px;}
.edit_1_5 { background-position: -100px -20px;}
.edit_1_6 { background-position: -120px -20px;}
.edit_1_7 { background-position: -140px -20px;}
.edit_2_0 { background-position: -0px -40px;}
.edit_2_1 { background-position: -20px -40px;}
.edit_2_2 { background-position: -40px -40px;}
.edit_2_3 { background-position: -60px -40px;}
.edit_2_4 { background-position: -80px -40px;}
.edit_2_5 { background-position: -100px -40px;}
.edit_2_6 { background-position: -120px -40px;}
.edit_2_7 { background-position: -140px -40px;}

.xmark_0_0, .xmark_0_1, .xmark_0_2, .xmark_0_3 {
    background-image: url('/static/img/xmark.png');
    background-size: 80px 20px;
}
.xmark_0_0 { background-position: -0px -0px;}
.xmark_0_1 { background-position: -20px -0px;}
.xmark_0_2 { background-position: -40px -0px;}
.xmark_0_3 { background-position: -60px -0px;}

.exclamation_0_0, .exclamation_0_1, .exclamation_0_2 {
    background-image: url('/static/img/exclamation.png');
    background-size: 60px 20px;
}
.exclamation_0_0 { background-position: -0px -0px;}
.exclamation_0_1 { background-position: -20px -0px;}
.exclamation_0_2 { background-position: -40px -0px;}

.tick_0_0, .tick_0_1, .tick_0_2,
.tick_1_0, .tick_1_1, .tick_1_2,
.tick_2_0, .tick_2_1, .tick_2_2 {
    background-image: url('/static/img/tick.png');
    background-size: 60px 60px;
}
.tick_0_0 { background-position: -0px -0px;}
.tick_0_1 { background-position: -20px -0px;}
.tick_0_2 { background-position: -40px -0px;}
.tick_1_0 { background-position: -0px -20px;}
.tick_1_1 { background-position: -20px -20px;}
.tick_1_2 { background-position: -40px -20px;}
.tick_2_0 { background-position: -0px -40px;}
.tick_2_1 { background-position: -20px -40px;}
.tick_2_2 { background-position: -40px -40px;}

.delete_0_0, .delete_0_1, .delete_0_2 {
    background-image: url('/static/img/btn_del.png');
    background-size: 60px 20px;
}
.delete_0_0 { background-position: -0px -0px;}
.delete_0_1 { background-position: -20px -0px;}
.delete_0_2 { background-position: -40px -0px;}

.btn_del_0_1, .btn_del_0_2 {
    background-image: url('/static/img/btn_del.png');
    background-size: 84px 28px;
    background-repeat: no-repeat;

    border: 1px solid #808080;  /* #2d2400 = 45 36 0 Panta Rhei grijs;*/  /* #808080; /* dark grey 128 128 128 */
    border-radius: .1rem;
    box-shadow: 2px 2px #808080;

    height: 28px;
    width: 28px;
    margin: 0;
    padding-top: 0px;
    cursor: pointer;
}

.btn_del_0_1 { background-position: -28px -0px;}
.btn_del_0_2 { background-position: -56px -0px;}

.flag_0_0, .flag_0_1, .flag_0_2,
.flag_1_0, .flag_1_1, .flag_1_2 {
    background-image: url('/static/img/flags.png');
    background-size: 60px 40px;
}
.flag_0_0 { background-position: -0px -0px;}
.flag_0_1 { background-position: -20px -0px;}
.flag_0_2 { background-position: -40px -0px;}
.flag_1_0 { background-position: -0px -20px;}
.flag_1_1 { background-position: -20px -20px;}
.flag_1_2 { background-position: -40px -20px;}



/* END OF SPRITES */


.tw_360 { width: 360px; }
.tw_300 { width: 300px; }
.tw_270 { width: 270px; }
.tw_240 { width: 240px; }
.tw_220 { width: 220px; }
.tw_200 { width: 200px; }
.tw_180 { width: 180px; }
.tw_150 { width: 150px; }
.tw_120 { width: 120px; }
.tw_110 { width: 110px; }
.tw_100 { width: 100px; }
.tw_090 { width: 90px; }
.tw_075 { width: 75px; }
.tw_060 { width: 60px; }
.tw_032 { width: 32px; }
.tw_020 { width: 20px; }
.tw_016 { width: 16px; }

.tw_hours { padding: 2px; width: 60px; }

.tbl_border {
    border: 1px solid #808080; /* grijs; */
}

.td_border_right {
    border-right: 1px solid #808080; /* grijs; */
}
.td_border_left {
    border-left: 1px solid #808080; /* grijs; */
}

.tsa_btn_selected  {
    background-color: #fbedba; /* lighter shade of tsa yellow */
    color: #303024; /* dark dark Panta Rhei grey 48 48 36 */
}
.tsa_tr_selected {
    background: #e0e0e0; /* light grey; tsa_tr_selected*/
}

.tsa_tr_error {
   /* background: #f1b5b5; /* licht rood; */
    background: #ffe8e8; /* licht lichtrood; */
}
.tsa_tr_error_darker {
    background: #f1b5b5; /* licht rood; */
    /*background: #ffe8e8; /* licht lichtrood; */
}
.tsa_tr_ok {
    background: #d7f4de; /* licht groen; */
}

.tsa_color_error {
    color: orange; /* #f1b5b5; /* licht rood; */
}

.tsa_tr_lightblue {
    /*background-color: #4A7DBB; /* 'TextboxBackColor Default Schema Blauw medium blauw */
    background-color: #d7e4f3; /*#d7e4f3 is even lighter blueish   */
   /* background-color: #B8CCE4; /* 'TextboxBackColor Default Schema Blauw lichtblauw */
    /*background: #F5FAFF; */ /*licht licht blauw; */

   /* background: #d7e4f3;/* is even lighter blueish */
   /* background:  #bacee6; geyish blue*/
}


.tsa_ellipsis {
    white-space: nowrap;
    overflow: hidden;
}


.status_icon {
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: -48 0;
     object-position: -48 0;
  width: 24px;
  height: 24px;
}


.tr_hover .tr_hover_yellow {
    color: #000000;
    -moz-box-shadow: 3px 3px 5px 6px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 3px 3px 5px 6px rgba(68, 68, 68, 0.6);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */  /* Firefox 3.5 - 3.6 */
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
    box-shadow:         3px 3px 5px 6px rgba(68, 68, 68, 0.6);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.tr_hover {
   background-color: #e0e0e0 !important; /* licht grijs; tsa_tr_selected*/
}
.tr_hover_yellow {
   background: #fbedba !important; /* tsa_bc_yellow_light lighter shade of tsa yellow */
}

.tr_highlighted {
    /* background-color:   #2D4E77; /* HeaderBackColor Default Schema Blauw donkerblauw */
    /* background:  #2d4e77cc;*/
    background-color: #808080 ;
    color: #ffffff;
    font-weight: bold;
        -moz-transition: background 0.25s ease-in-out;
        -webkit-transition: background 0.25s ease-in-out;
               -o-transition: background 0.25s ease-in-out;
               transition: background 0.25s ease-in-out;
}

.tr_color_disabled {
    color: grey; /* #e0e0e0; /* default light grey */
}

.tsa_color_lightgrey {
    /*color: #e0e0e0 !important; /* #e0e0e0; 224 224 224 /* default light grey */
    color: #a0a0a0 !important; /* bit darker lightgrey 160 160 160 **/
    /*font-weight: bold !important;*/

   /* background-color: #303024; /* dark dark Panta Rhei grey 48 48 36 */
    /*background-color: #808080; /* dark grey 128 128 128 */
   /* background-color: #a5a5a5; /* medium grey; 165 165 165 */
   /* background-color:  #d8d8d8;  /* light grey 218 218 218 100%  /*  #e0e0e0; light grey 224 224 224 */
}

.tsa_color_lightlightgrey {
    color: #d8d8d8 !important;  /* light grey 218 218 218 100%  */
}
.tsa_color_mediumgrey {
    color: #a5a5a5 !important;  /* medium grey; 165 165 165 */
}
.tsa_color_darkgrey {
    color: #808080 !important;  /* dark grey 128 128 128 */
}
.tsa_color_darkblue {
    color: #40487f !important;  /* dark blue   #40487f     64 72 127 */
}
.tsa_color_lightblue {
    color: #969dcd !important;  /*   lightblue    #969dcd    150 157 205 */
}

.tsa_color_notallowed {
    color: red !important; /* #e0e0e0; /* default light grey */
    font-weight: bold !important;
}
.tsa_color_red {
    color: #cc0000; /* bit dark red ; /* default light grey */
}
.tsa_color_black {
    color: #000000;
}
.tsa_padding_20 {
    /* padding: <top><right><bottom><left> */
    padding: 20px 20px 20px 20px;
}
.tsa_btn {
    /* padding: <top><right><bottom><left> */
     padding: 4px 4px 0px 4px;
     margin: 4px 4px 0px 4px;
     border: 2px solid #dc3545;    /*  red like in django is-invalid */

}
.tsa_margin_top_72 {
    /* margin: <top><right><bottom><left> */
   margin-top: 72px
}
.tsa_margin_top48_left24 {
    /* margin: <top><right><bottom><left> */
   margin-top: 48px;
   margin-left: 24px;
}
.tsa_margin_top_24 {
    /* margin: <top><right><bottom><left> */
   margin-top: 24px
}
.tsa_margin_form_label {
    margin: 16px 8px 4px 8px; /* mx-2 = .5 rem, mx-1 = .25 rem, 1 rem = 16 px  <top><right><bottom><left> */
}
.tsa_margin_label_0848 {
    margin: 0px 8px 4px 8px; /* mx-2 = .5 rem, mx-1 = .25 rem, 1 rem = 16 px  <top><right><bottom><left> */
}
.tsa_carousel_item {
   height: calc(100vh - 32px);
}

.tsa_flex_1 {
    flex: 1;
}

.tsa_flex_2 {
    flex: 2;
}

.tsa_flex_3 {
    flex: 3;
}

.tsa_flex_4 {
    flex: 4;
}
.tsa_scroll_100vh {
    max-height: 100vh;
    overflow: auto;
}
.tsa_scroll_50vh {
    max-height: 50vh;
    overflow: auto;
}

.tbl_div_390_280, .tbl_div_390_220, .tbl_div_390_360,
.tbl_div_50vh_200, .tbl_div_25vh_200 {
    overflow-x: hidden;
    overflow-y: auto;
}

.tbl_div_390_280 {
    height: 390px;
    width: 280px;
}
.tbl_div_390_220 {
    height: 390px;
    width: 220px;
}
.tbl_div_390_360 {
    height: 390px;
    width: 360px;
}
.tbl_div_50vh_200 {
    max-height: 50vh;
    width: 200px;
}
.tbl_div_25vh_200 {
    max-height: 25vh;
    width: 200px;
}


