h4 h5 {
  margin-top: .5rem;
}


.headerbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;

  display: block;
  padding: 0 .5rem;
  margin: 0;

  text-decoration: none;
  list-style: none;
  color: #868e96;
  background-color: #ffd01c;
  border-bottom: 1px solid #f3f3f3; /* offwhite */

}

.headerbutton {
  display: inline-block;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  padding: 0 .5rem;
  margin: 0;

}


/* menubar */
.menubar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;

  display: block;
  padding: 1px 4px; /*padding: 0 .5rem;*/
  margin: 0px;
  width: 100%;

  overflow: hidden;
  text-decoration: none;
  list-style: none;

  background-color: #e0e0e0;

  /* test*/
    position: fixed;
    z-index: 99;

}

.menubar a {
  float: left;
  color: #212529;
  text-align: center;
  padding: 2px 8px; /*padding: 0 .5rem;*/
  text-decoration: none;
  font-size: 14px;
}

.menubar a:hover {
  background-color: #c4c4c4;
  color: black;
}
.menubar a.active {
  background-color: #646464; /* #606060; */
  color: white;
}

/* submenubar */
.submenubar {
 /* display: -ms-flexbox;*/
  /*display: flex;*/
 /* -ms-flex-wrap: wrap;*/
 /*     flex-wrap: wrap;*/
  list-style: none;

  display: block;
  padding: 1px 4px;
  margin: 0;

  overflow: hidden;
  text-decoration: none;
  list-style: none;


  background-color: #f5f5f5; /* this is reddish: background-color: #f8f8f8;*/


    /* test*/
    position: fixed;
    z-index: 98;
    margin-top: 27px; /*  margin-top: 38px; */
    width: 100%;

}

.submenubar a {
  float: left;
  color: #212529;
  text-align: center;
  padding: 1px 4px; /*padding: 0 .5rem;*/
  text-decoration: none;
  font-size: 14px;
}

.submenubar a:hover {
  background-color: #c4c4c4;
  color: black;
}
.submenubar a.active {
  background-color: #646464; /* #606060; */
  color: white;
}

.nopadding {
    padding-top: 0.05rem;;
    padding-bottom: 0.05rem;
}

.border_none {
    border: 0;
    /*background-color: transparent;*/
}
.border_right {
    border-right: 1px solid #dc3545;    /*  red like in django is-invalid */
    border-color: #a5a5a5; /* medium grey; 165 165 165 */
}

.border_bg_invalid {
    border: 1px solid #dc3545;    /*  red like in django is-invalid */
    border-radius: .25rem;
    /*background-color: #f1b5b5;*/
    background: #ffe8e8; /* licht lichtrood; */
}
.border_invalid {
    border: 1px solid #dc3545;    /*  red like in django is-invalid */
    border-radius: .25rem;
}
.color_invalid {
    color: #dc3545;    /*  red like in django is-invalid */
}

.border_valid {
    border: 1px solid  #4cbd67;  /*  #28a745; is green like in django is-valid */
    border-radius: .25rem;
    background-color: #d7f4de; /*#ade8bb;*/
}

.border_calendarshift {
    border: 1px solid #808080 !important; /* Dark grey; */

}


.display_show {
  display: block;
  /*margin-left: auto;*/
 /* margin-right: auto;*/
}

.display_hide {
  display: none;
}

.visibility_show {
  visibility: visible; /* visibility: collapse fr table elements */
}

.visibility_hide {
  visibility: hidden;
}

.pointer_show {
    cursor: pointer;
}


/* from https://stackoverflow.com/questions/32459337/how-to-remove-bootstrap-modal-overlay*/
/* remove grey background from modal  PR2019-04-12 */
/* from https://stackoverflow.com/questions/53594423/how-to-open-a-bootstrap-modal-without-jquery-or-bootstrap-js-javascript */
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    background-color: transparent;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
/*
.modal {
  background-color: rgba(0,0,0,0.4); /* Transparent dimmed overlay */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
}
*/
.modal.hidden {
  display: none;
}

.modal .container {
 display: table-cell;
 text-align: center;
 vertical-align: middle;
 width: 200px;
}

.modal .body {
  box-shadow: 5px 10px #888888;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}
/* =================================*/


.tsa_bc_yellow {
    background-color: #ffd01c; /* tsa yellow */
}
.tsa_bc_yellow_light {
    background-color: #fbedba; /* lighter shade of tsa yellow */
}
.tsa_bc_yellow_lightlight {
    background-color: #fdf7e1; /* more lighter shade of tsa yellow */
}

.tsa_bc_darkdarkgrey {
    background-color: #303024; /* dark dark Panta Rhei grey 48 48 36 */
}
.tsa_bc_darkgrey {
    background-color: #808080; /* dark grey 128 128 128 */
}
.tsa_bc_mediumgrey {
    background-color: #a5a5a5; /* medium grey; 165 165 165 */
}
.tsa_bc_lightgrey {
    background-color:  #d8d8d8;  /* light grey 218 218 218 100%  /*  #e0e0e0; light grey 224 224 224 */
    #d8d8d8
}
.tsa_bc_lightlightgrey {
    /*background: #f8f8f8; /*licht licht licht grijs 248 248 248 */
    /*background: #e8e8e880; /*licht licht grijs 232 232 232 50% */
    background-color: #f5f5f5; /* #f5f5f5 = 245 245 245  licht licht licht grijs;
}

.tsa_bc_lightgreen {
    background-color: #d7f4de; /* licht groen; */
}

.tsa_bc_bluegreen {
    background-color: #64d6d6; /*blue-green*/
}
.tsa_bc_th_blue {
    background-color: #b6dcef;
}
.tsa_bc_th_red {
    background-color: #ffd9d9;
}
.tsa_bc_th_green {
    background-color: #e2ffd9;
}

.tsa_bc_bluish {
    background-color: #6083cc; /*blueish*/
}
.tsa_bc_lighterreddish {
    background-color: #bd7f7f; /*lighter reddish*/
}
.tsa_bc_white {
    background-color: white;
}

.tsa_bc_transparent {
    background-color: transparent;
}

.tsa_color_darkgrey {
    color: #808080; /* Dark grey; 128 128 128 */
}
.tsa_color_mediumgrey {
    color: #a5a5a5 !important; /* medium grey; 165 165 165 */
}
.tsa_color_white {
    /* color: #f3f3f3; / offwhite */
    color: #fff !important; / white */

     /*font-weight: bold;*/
}

.tsa_bc_lightlightred {
    background: #ffe8e8cc; /* 255-232-232 80% licht lichtrood; */
}
.tsa_bc_lightred {
    background: #f1b5b580; /* #ffd0d0 255-208-208 50% licht rood; */

}
.tsa_bc_lightmediumred {
    background: #f1b5b5cc; /* 241-181-181 80% light medium rood; */
}
.tsa_bc_mediumred {
    background: #ffacac; /* 255-172-172  medium rood; */
}

/*==================================================*/
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup */
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* The actual popup (appears on top) */
.popup .popuptext {
  /*visibility: hidden;*/
  display: none;
  position: absolute;

  width: 240px;

    font-size: 14px;
    font-family: "Lucida Sans", sans-serif;
    color: #fff; /* #ffd01c; */
    background: #646464;
    text-shadow: 0px 1px 1px #000;

  text-align: center;
  border-radius: .25rem;
   padding: 6px 12px;
   padding: .25rem .5rem;

  z-index: 1;

}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #646464 transparent transparent transparent;

}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  /* visibility: visible;*/
  display: inline-block;
  -webkit-animation: fadeIn .25s;
  animation: fadeIn .25s

}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.msgbox {
    position: absolute;
    background: #646464;
    border-radius:4px;
    padding: 6px 12px;
    font-family: arial;
    font-size: 12px;
    text-shadow: 0px 1px 1px #000;
    color: #ffd01c; /* #ffc64a; */
      -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  .msgbox:before {
    content : " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #646464;
    position:absolute;
    bottom:-5px;
    left:5px;
      -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  }
  /* =============================


