{% extends 'base.html' %}
{% load i18n %}
<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Welcome' %}</h3>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->
{% block content %}
  <h4>{% trans 'Activate account' %}</h4>
  <form method="post">
    {% csrf_token %}
    <p>{% trans 'The confirmation of your email address has failed.' %}</p>
    <p>{% trans 'Your account is not activated.' %}</p>
    <button type="submit">{% trans 'OK' %}</button>
  </form>
{% endblock %}
