{% extends 'base.html' %}
{% load i18n %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar">
        <div class="sidebar-header">
            <h3>{% trans 'Welcome' %}</h3>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->
{% block content %}
  <h4>{% trans 'User added' %}</h4>
    {% csrf_token %}
    <p>{% trans "We have sent an email to user" %} '{{ new_user.username_sliced }}' {% trans "to verify the email address and enter a password." %}</p>
    <p>{% trans "The user must click on the link in that email to complete the registration." %}</p>
    <a href="{% url 'user_list_url' %}" class="btn btn-primary btn_minwidth">{% trans "Close" %}</a>
  </form>
{% endblock %}

