{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Marvel" rel="stylesheet">
{% endblock %}

{% block body %}
  <div class="container">
    <!---
    <h3 class="text-center logo my-4">
      <img src="{% static 'img/AwpLogoGrey.gif' %}" height="60" width="100">
      <a href="{% url 'home' %}">online</a>
    </h3>
    --->
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}