{% extends 'base_accounts.html' %}
{% load i18n %}

{% block title %}{% trans "Create your password" %}{% endblock %}
<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Welcome' %}</h3>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->
{% block content %}
  <div class="row justify-content-center tsa_margin_top_48">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{% trans "Create your password" %}</h3>
          <p>{% trans "Enter your email address and we will send you a link to create your password." %}</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">{% trans "Send email" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}