{% extends 'base.html' %}
{% load i18n %}

{% block title %}Change password{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar">
        <div class="sidebar-header">
            <h3>{% trans 'Welcome' %}</h3>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card mt-5">
                <div class="card-body tsa_bc_lightlightgrey">
                    <h4 class="card-title ">{% trans 'Change password' %}</h4>
                </div>
                <div class="card-body ">
                    <div class="alert alert-success" role="alert">
                        <strong>{% trans 'Success!' %}</strong> {% trans 'Your password has been changed!' %}
                    </div>
                    <a href="{% url 'home' %}" class="btn btn-secondary">{% trans 'Close' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}