{% extends 'base.html' %}
{% load i18n %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">TSA-secure</a></li>
    <li class="breadcrumb-item"><a>{% trans 'Users' %}</a></li>
    <li class="breadcrumb-item">{{ user.username_sliced }}</li>
    <li class="breadcrumb-item active"><a>{% trans 'Change password' %}</a></li>
  </ol>
{% endblock %}

{% block content %}
  <div class="alert alert-success" role="alert">
    <strong>{% trans 'Success!' %}</strong> {% trans 'Your password has been changed!' %}
  </div>
  <a href="{% url 'home' %}" class="btn btn-secondary">{% trans 'Close' %}</a>
{% endblock %}