{% extends 'base.html' %}
{% load i18n %}

{% block title %} {% trans 'Change password' %} {% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">TSA secure</a></li>
    <li class="breadcrumb-item"><a href="{% url 'user_list_url' %}">{% trans 'Users' %}</a></li>
    <li class="breadcrumb-item">{{ user.username }}</li>
    <li class="breadcrumb-item active"><a>{% trans 'Change password' %}</a></li>
  </ol>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Change password</button>
        <a href="{% url 'home' %}" class="btn btn-outline-secondary">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}