{% extends 'base_accounts.html' %}
{% load i18n %}

{% block title %}
  {% if validlink %}
    {% trans "Change password" %}
  {% else %}
    {% trans "Reset your password" %}
  {% endif %}
{% endblock %}
<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Welcome' %}</h3>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->
{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6 col-md-8 col-sm-10  mt-5">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">{% trans "Change password for user " %} {{ form.user.username_sliced }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-prinmary btn-block">{% trans "Change password" %}</button>
            </form>
          {% else %}
            <h3 class="card-title">{% trans "Reset your password" %}</h3>
            <div class="alert alert-danger" role="alert">
              {% trans "It looks like you clicked on an invalid password reset link. Please try again." %}
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">{% trans "Request a new password reset link" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}