{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ block.super }}{% endblock %}

{% block script %}
    <script src="{% static 'js/signup_setpassword.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="tsa_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Welcome' %}</h3>
            <h5>{% trans 'to' %}</h5>
            <h3>{% trans 'TSA-secure' %}</h3>
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    <div class="container tsa_margin_top48_left24">
        <div id="id_loader_main" class="image_container display_hide">
            <img  src="{% static 'img/loader.gif' %}" height="24" width="24">
        </div>
        <div id="id_card" class="col-lg-8 col-md-10 col-sm-12">
            <div class="card mt-5">
                <div class="card-header tsa_bc_lightlightgrey">
                    <div class="content_header">
                        <div class="flex_2 mx-1">
                            <h4>{% trans "Activate your TSA-secure account" %}</h4>
                        </div>
                     </div>
                </div>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% if not activation_token_ok %}
                        <div class="tsa_tr_error m-4">
                            <p class="mx-4 my-2 pt-2">{{ msg_01 }}</p>
                            <p class="mx-4 my-2 pb-2">{{ msg_02 }}</p>
                        </div>

                    {% elif user.is_authenticated %}
                        <div class="tsa_tr_ok m-4">
                            <p class="mx-4 my-2 pt-2">{{ msg_01 }}</p>
                            <p class="mx-4 my-2 pb-2">{{ msg_02 }}</p>
                            <p class="mx-4 my-2 pb-2">{{ msg_03 }}</p>
                        </div>

                    {% else %}
                        <div class="mx-4">
                            <div class="content_subheader_left">
                                <div id="id_loader" class="image_container visibility_hide">
                                    <img  src="{% static 'img/loader.gif' %}" height="24" width="24">
                                </div>
                            </div>
                            <div class="content_subheader_left ">
                                <div class="border_bg_transparent mb-4">
                                    <p id="id_msg01" class="m-2">{{companyname}} {% trans " has created an account for user" %}: '{{ username}}'.</p>
                                    <p id="id_msg02" class="m-2">{% trans "Enter your password to activate your account." %}</p>
                                </div>
                            </div>
                            <div class="content_subheader_left mx-2">
                                {{form.non_field_errors}}
                                {% for field in form %}
                                    <div class="form-group">
                                        <div class="mx-2">
                                             {{field.label_tag}}
                                        </div>
                                        <div>
                                            {% render_field field class="form-control" %}
                                            <small  class="form-text text-muted">
                                                 {{ field.help_text | safe }}
                                            </small>
                                            {% if field.errors %}
                                                <small class="form-text text-danger">
                                                    {{ field.errors }}
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="card-footer my-0">
                        <div class="content_subheader_left mx-2 mt-2">
                            {% if not activation_token_ok or user.is_authenticated %}
                                <a id="id_btn_close"  href="{% url 'home' %}" class="btn btn-outline-secondary">{% trans "Close" %}</a>
                            {% else %}
                                <button id="id_btn_submit" type="submit" class="btn btn-primary">{% trans "Activate your account" %}</button>
                                <a id="id_btn_cancel" href="{% url 'home' %}" class="btn btn-outline-secondary">{% trans "Cancel" %}</a>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
