{% extends 'base.html' %}
{% load i18n %}
{% block title %} {{ block.super }} {% endblock %}

{% block content %}
  {% if not user.is_authenticated %}
    <h3>{% trans 'Welcome to TSA-secure' %}</h3>
    <p>{% trans 'Please enter a password to finish the registration.' %}</p>
    <form method="post" novalidate>
      {% csrf_token %}
       <input type="hidden" name="next" value="{{ next }}">
      {% include 'includes/form.html' %}
      <button type="submit" class="btn btn-success">Save</button>
      <a href="{% url 'user_list_url' %}" class="btn btn-outline-secundary">Cancel</a>
    </form>
  {% else %}
    <div class="alert alert-danger">{{ user.message_user_authenticated }}</div>
    <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}