{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ block.super }}{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
  <div class="container">
    {% if user.permit_user_modify %}
      <h4>{% trans 'Add user' %}</h4>
      <form method="post" novalidate>
        {% csrf_token %}
         <input type="hidden" name="next" value="{{ next }}">
        {% include 'includes/form.html' %}
        <div class="mb-3">
          <button
            id="btn_save"
            type="submit"
            class="btn btn-success"

            data-user_company_id= "{{ user.company.id }}"
            data-user_role= "{{ user.role }}"

          >{% trans 'Create user account' %}</button>
          <a href="{% url 'user_list_url' %}" class="btn btn-outline-secundary">Cancel</a>
        </div>
      </form>
    {% else %}
      <div class="alert alert-danger">{{ user.message_user_modify }}</div>
      <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
    {% endif %}
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script>
    // PR2019-02-07 deprecated: $(document).ready(function() {
    // with pure vanilla Javascript. Was jQuery: $(function() {
    document.addEventListener('DOMContentLoaded', function() {

        var role_list = document.getElementById("id_role_list");
        role_list.addEventListener("change", role_list_changed(company_list), false);

        var company_list = document.getElementById("id_company");
        /*company_list.addEventListener("change", company_list_changed, false)*/

        const request_user_company_id =  $("#btn_save").data("data-user_company_id");
        const request_user_role =  $("#btn_save").data("data-user_role");

        enable_save();
        $("#id_username").change(function () { enable_save() });
        $("#id_last_name").change(function () { enable_save() });
        $("#id_email").change(function () { enable_save() });
        $("#id_company").change(function () { enable_save() });
        $("#id_permit_list").change(function () { enable_save() });

        function enable_save(){
          /*let disable_save = true;*/
          let disable_company = true;
          if($("#id_username").val() && $("#id_last_name").val() && $("#id_email").val()){
            const id_role_list_val =  $("#id_role_list").val();
            if(id_role_list_val === '1' || id_role_list_val === '2'){
              $("#id_company").val('0');
              disable_save = false
              disable_company = true
            } else {
              disable_company = false
              const id_company_val =  $("#id_company").val();
              console.log("id_company.val = " +id_company_val + " type: " + typeof (id_company_val) );
              if(id_company_val){
                if(id_company !== '0'){
               /*   disable_save = false*/
                }
              }
            }
          }
          $("#id_company").prop("disabled", disable_company);
          /* $("#btn_save").prop("disabled", disable_save); */
        }


//=========  role_list_changed   ======================
            function role_list_changed(company_list) {
              let role_int;
              // !role_list.value means: role = 0 or null
              if (!!company_list){
                company_list.value = null
                if (!!role_list){
                  if (!role_list.value){
                    company_list.value = request_user_company_id
                  };
                };
              }
            };


      })
  </script>

{% endblock %}
